@import "../resetStyle.scss";
.aps-radio {
    cursor: pointer;
    input{display: none;}
    .aps-input-radio{
        position: relative;
        width: 14px;
        height: 14px;
        background-color: #fff;
        border: 1px solid #bfcbd9;
        border-radius: 50%;
        box-sizing: border-box;
        transition: border-color .25s cubic-bezier(.71,-.46,.29,1.46),background-color .25s cubic-bezier(.71,-.46,.29,1.46);
        &:after{
            content: "";
            position: absolute;
            top: 3px;
            left: 3px;
            width: 6px;
            height: 6px;
            background-color: #1e7cd9;
            border-radius: 50%;
            transform: scaleY(0);
            transition: transform .15s cubic-bezier(.71,-.46,.88,.6) .05s;
        }
        &.is-checked{
            border: 1px solid #1e7cd9;
            transition: border-color .25s cubic-bezier(.71,-.46,.29,1.46),background-color .25s cubic-bezier(.71,-.46,.29,1.46);
            &:after{
                transform: scaleY(1);
                transition: transform .15s cubic-bezier(.71,-.46,.88,.6) .05s;
            }
        }
        &.is-disabled{
            background-color: rgb(235, 235, 228);
            border-color: #ccc;
            cursor: not-allowed;
            &:after{
                background-color: #ccc;
            }
        }
        &.is-checked.is-disabled{
            &:after{
                background-color: #bbb;
            }
        }
    }
    .is-disabled + .aps-input-text{
        color: #bbb;
        cursor: not-allowed;
    }
    .aps-input-text{
        margin-left: 5px;
        vertical-align: text-bottom;
    }

}