.aps-select{
    position: relative;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #333;
    &.has-value:after{
        content: "";
        position: absolute;
        top: 8px;
        right: 10px;
        width: 8px;
        height: 8px;
        border-bottom: 1px solid #999;
        border-left: 1px solid #999;
        @include rotate(-45deg);
        @include transition(transform,.5s);
    }
    .drop-down-list{
        //display: none;
        position: absolute;
        left: 0;
        top: 29px;
        z-index: 11;
        width: 100%;
        border: 1px solid #ccc;
        box-sizing: border-box;
        background-color: #fff;
        .select-all{
            padding-left: 10px;
            cursor: pointer;
            &.active{
                color: #fff;
                background-color: $themeColor;
            }
        }
        &>.filter-input{
            margin-left: 10px;
            padding: 3px 20px 3px 10px;
            width: calc(100% - 52px);
            border: 1px solid #ccc;
        }
        .select-box{
            max-height: 120px;
            overflow: auto;
        }
        .empty-text{
            color: #999;
            text-align: center;
            height: 30px;
            line-height: 30px;
        }
        .aps-select-option{
            padding-left:10px;
            width: calc(100% - 10px);
            min-width: 88px;
            height: 30px;
            line-height: 30px;
            cursor: pointer;
            &:hover{
                background-color: $selectGraybg;
            }
            &.active{
                background-color: $themeColor;
                color: #fff
            };
            &:last-child{
                border-bottom: 0;
            }
        }
        .option-group-title{
            padding-left:10px;
            font-size: 12px;
            color: #999;
            line-height: 30px;
        }
        .list-li-check{
            color: $themeColor;
        }
    }
    &.active{
        .drop-down-list{
            display: block;
        }
        &:after{
            top: 13px;
            @include rotate(135deg)
        }
        &>input{
            border-color: $themeColor;
        }
        .drop-down-list{
            border-color: $themeColor;
        }
    }
    input:focus{
        border-color: $themeColor;
    }
}
.search-input {
    height: 28px;
    width: 144px;
    padding: 0 25px 0 9px;
    background-color: #fff;
    border: 1px solid #ccc;
    outline: none;
    font-size: 14px;
}
.clean-value{
    position: absolute;
    top: 10px;
    right: 5px;
    width: 14px;
    height: 14px;
    background: url(../images/cancel.png) no-repeat;
    background-size: 80%;
    cursor: pointer;
}