<div class="config-main columnContent">
    <div class="fl ml-45">
        <h6 class="mt-15 ml-20 fs-16">显示项配置(当前地点：{{currentShowLocationName}}) </h6>
        <transfer class="mt-20" data="allItemList" value="selectItem" move="true"></transfer>
        <div class="m-0-auto mt-80 mb-20 tc clearfix">
            <a href="javascript:;" class="mr-15 save-sort saveConfig" ng-click="saveColumnContent()">应用</a>
            <a class="ml-15 reset-config" href="javascript:void(0);" ng-click="resetColumnConfig()">还原</a>
        </div>
    </div>
</div>