<div class="config-main sortContent">
    <div class="fl ml-45">
        <h3 class="mt-15 ml-20 fs-16">排序配置(当前地点：{{currentShowLocationName}}) </h3>
        <transfer class="mt-20" data="allItemList" value="selectItem" move="true" order="true" ng-title="['可用字段','已排序字段']"></transfer>
        <div class="combine-item mt-20 ml-20 mb-20">
            <dl class="relative clearfix">
                <dt class="fl">合并项：</dt>
                <dd class="fl combine-menu" ng-class="combineObj.combineActive ? 'active' : ''" ng-mouseleave="combineAndCountall.countObj.combineActive=true;">
                    <p>
                        <span data-value={{data.value}} ng-repeat="data in combineObj.combine" ng-if="data.show">{{data.text}}<b class="ml-15 delete" ng-click="deleteDragItem(data,$event)"></b></span>
                    </p>
                    <ul class="combine-drag">
                        <li data-value={{data.value}} ng-repeat="data in combineObj.combine" ng-show="!data.show" ng-click="addItem(data,$event)">{{data.text}}</li>
                    </ul>
                </dd>
            </dl>
        </div>
        <div class="Summary-item">
            <dl class="ml-20 clearfix">
                <dt class="fl">汇总统计：</dt>
                <dd class="fl combine-menu">
                    <p>
                        <span data-value={{data.value}} ng-repeat="data in summaryObj.summary" ng-if="data.show">{{data.text}}<b class="ml-15 delete" ng-click="deleteDragItem(data,$event)"></b></span>
                    </p>
                    <ul class="combine-drag">
                        <li data-value={{data.value}} ng-repeat="data in summaryObj.summary" ng-show="!data.show" ng-click="addItem(data,$event)">{{data.text}}</li>
                    </ul>
                </dd>
            </dl>
        </div>
        <!--<config-folder-tree></config-folder-tree>-->
        <div class="m-0-auto mt-80 mb-20 tc clearfix">
            <a href="javascript:;" class="mr-15 save-sort saveConfig" ng-click="saveSortContent()">应用</a>
            <a class="ml-15 reset-config" href="javascript:void(0);" ng-click="resetSortConfig()">还原</a>
        </div>
    </div>

</div>