<!--右上角按钮区-->
<div class="top-right-button">
   <span ng-click="historyUrlBack()">返回</span>
    <span class="user-info">
		<ul class="user-info-box">
			<li><a href="#/help" ng-click="refreshHistoryUrl()">帮助</a></li>
			<li class="out-login" ng-click="loginOut()">退出</li>
		</ul>
		{{userName||"用户"}}</span>
</div>
<div class="relative m-0-auto mt-50 config-box">
    <nav class="config-nav fl">
        <h1 class="configNavTitle">{{"configOption" | translate}}</h1>
            <ul>
                <li class="configLi relative textover" ng-repeat="configLi in configLis track by $index" ng-class="isActiveNav(configLi.sref) ? 'active' : ''"  ng-click=selectLi(configLi.sref,$event)>
                    <a class="" href="javascript:;" ui-sref={{configLi.sref}}>{{configLi.text | translate}}</a>
                    <i class="nav-angle" ng-if="configLi.children"></i>
                    <ul ng-if="configLi.children">
                        <li class="second-nav" ng-repeat="child in configLi.children track by $index" ng-class="isActiveNav(child.sref) ? 'active' : ''" ng-click=selectLi(child.sref,$event)>
                            <a href="javascript:;" ui-sref={{child.sref}} ui-sref-opt="{reload:true}">{{child.text | translate}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
    </nav>
    <div class="config-content" ui-view></div>
        <div class="info-box" ng-class="{'active':infoObj.mask,'error':infoObj.errorInfo}">
            <p class="tc"><span class="mr-15"></span>{{infoObj.text}}</p>
        </div>
</div>
