<!--右上角按钮区-->
<div ng-show="initLoadingShow" class="top-right-button">
	<span ng-click="aps_start()">开始排程</span>
	<span ng-click="edit_again()">再编辑</span>
	<span class="user-info">
		<ul class="user-info-box">
			<li><a href="#/config" ng-click="refreshHistoryUrl()">参数配置</a></li>
			<li><a href="#/help" ng-click="refreshHistoryUrl()">帮助</a></li>
			<li class="out-login">退出</li>
		</ul>
		{{userName||"用户"}}</span>
</div>
<!--右上角按钮区 END-->

<!--右边栏-->
<div ng-show="initLoadingShow" class="right-menu">
	<!--一级页面查询-->
	<div class="search-btn search-btn-normal right-menu-button">
		<i class="search-btn-icon"></i>
		<div class="search-box">
			<div class="sale-order">
				<span>订单号：</span>
				<input type="text" class="search-input"/>
			</div>
			<div class="material-name">
				<span>物料名：</span>
				<input type="text" class="search-input"/>
			</div>
			<div class="material-code">
				<span>物料编码：</span>
				<input type="text" class="search-input"/>
			</div>
			<label for="hide_search_empty">是否开启查询过滤</label>
			<input type="checkbox" name="hide_search_empty" id="hide_search_empty" ng-model="hide_search_empty" />	
			<div class="start-search" ng-click="search()">查询</div>
		</div>
		<div class="tip">搜索</div>
	</div>
	<!--一级页面查询END-->
	<div class="change-model right-menu-button" ng-click="change_model()">
		<i class="change-model-icon"></i>
		<div class="tip">{{change_model_text}}</div>
	</div>
	<!--翻转-->
	<div class="turn-to-back right-menu-button" ng-click="turn_to_back()">
		<i class="turn-to-back-icon"></i>
		<div class="tip">翻转</div>
	</div>
	<!--翻转END-->
	<!--隐藏空白行-->
	<div class="hide-tr right-menu-button " ng-click="hide_tr()" ng-class="hide_empty?'search-btn-click':''">
		<i class="hide-tr-icon"></i>
		<div class="tip">{{hide_empty_text}}</div>
	</div>
	<!--隐藏空白行END-->
	<!--预排转实际-->
	<div class="to-fact right-menu-button to-fact-normal change-one"><!--ng-click="to_fact()"-->
		<div class="cover_i" ng-click="open_tofact()"><i class="to-fact-icon" ></i></div>
		<div class="to-fact-box">
			<div class="fact-days">
				<span>预排天数：</span>
				<input  type="text" /><!--type="text"-->
				<span class="days-tip">（最多可预排&nbsp;&nbsp;"{{maxdays}}"&nbsp;天）</span>
			</div>
			<span class="device-title">设备名称</span>
			<div class="select_all"><label for="chooseall"><input id="chooseall" name="factPnameAll" type="checkbox" checked="checked"/><span class="check"></span>全选</label></div>
			<div class="select_single">
				<div ng-repeat="punitName in punitNameList track by $index" class="each-pName-div" id="eachPname{{$index}}}">
					<label for="chooseSinle{{$index}}" class="single_label"><input id="chooseSinle{{$index}}" name="factPnameSingle" type="checkbox" checked="checked"/><span class="check" ></span></label>
					<span>{{punitName}}</span>
						<span class="sa_icon sub normal_sub"></span>
						<input  type="text" class="each_days_input"/>
						<span class="sa_icon add normal_add"></span>			
				</div>				
			</div>
			<div class="start-to-fact" ng-click="to_fact()">确定</div>
		</div>
		<div class="tip">预排转实际</div>
	</div>	
	<!--预排转实际END-->
	<!--任务池-->
	<div class="edit-again right-menu-button" ng-click="exter_differ()">
		<i class="external-differ-icon"></i>
		<span class="external-diff-num">{{differAllNum}}</span>		
		<div class="tip">任务池</div>
	</div>
	<!--外部差异END-->
</div>
<div ng-show="initLoadingShow" class="right-menu-switch"></div>
<!--右边栏END-->

<div class="pbody-wrap"><!-- 页面表格相关部分 -->
    <div class="wrap-content"><!-- 页面主体内容 --> 	
    	<!--一级页面表格-->
        <div id="table" class="table j-table" ng-hide="isSmall">
        	<!-- 表头部分 -->
            <div class="table-head">
            	<div style="display: flex;">
            		<div class="current-show-location-name">{{currentShowLocationName}}</div>
	            	<!--<div ng-repeat="date in tableHeadViewModel track by $index" ng-click="date_click(date)">-->
	            	<div ng-repeat="date in tableHeadViewModel track by $index" ng-right-click="showRightClickSmallNav(date,$event,'preview')">
	            		<span>{{date.thisDate.substring(5,7)}}</span>月
	            		<span>{{date.thisDate.substring(8,10)}}</span>日
	            	</div>
            	</div>
            </div>
			<!-- 表头部分END -->
			<!-- 表格主体部分 -->
            <div class="table-body">
            	<div class="table-content">
            		<div class="table-tr" ng-repeat="row in tableBodyData track by $index" ng-hide="row[0]['useData'].isEmpty && hide_empty || row[0]['useData'].isSearchEmpty && hide_search_empty">
            			<div ng-repeat="cell in row" class="{{cell['useData'].frontClass}} table-td" ng-style="{opacity:cell['useData'].opacity}">
            				<!--反面-->
            				<div class="td-back">
            					<!--翻转页显示的信息-->
	            				<p ng-repeat="back in cell.back">{{back}}</p>
	            				<!--翻转页显示的信息END-->
	            			</div>
	            			<!--反面END-->
	            			<!--正面-->
            				<div class="td-front" ng-class="cell['useData'].totalWorkTimeIsZero" ng-style="{cursor: cell['useData'].cursor}" ng-right-click="showRightClickSmallNav(cell.front,$event,'preview')">
            					<div ng-repeat="unit in cell.front track by $index" class="table-font-wrap" ng-style="{background: unit.color, height: unit.percent}">
	                                <div class="show-info" title={{unit.text}} ng-style="{color:unit.textColor}">{{unit.text}}{{unit.text_number}}</div>
	            				</div>
            				</div>
	      					<!--正面END-->
	            			<!--图标放在这一层，加浮动到指定位置-->
	            			<div class="freeze_info lock_info" ng-show="cell['useData'].isLock"></div>
	            			<div class="over-Capability" ng-show="cell['useData'].isOver"></div>
            			</div>
            		</div>
            	</div>
            </div>
            <!-- 表格主体部分END -->
			<!--上一页和下一页-->
			<span class="page-select page-left" ng-style="last_page_button_style" ng-click="last_page()" id="page-left"></span>
            <span class="page-select page-right" ng-style="next_page_button_style" ng-click="next_page()" id="page-right"></span>
            <!--上一页和下一页END-->
        </div>
        <div class="small-table j-table" ng-show="isSmall">
        	<!-- 表头部分 -->
            <div class="table-head">
            	<div style="display: flex;">
            		<div>{{currentShowLocationName}}</div>
	            	<div ng-repeat="date in tableHeadViewModel track by $index" ng-right-click="showRightClickSmallNav(date,$event,'preview')">
	            		{{date.thisDate.substring(5,10)}}
	            	</div>
            	</div>	            	
            </div>
			<!-- 表头部分END -->
			<!-- 表格主体部分 -->
            <div class="table-body">
            	<div class="table-content">
            		<div class="table-tr" ng-repeat="row in tableBodyData track by $index" ng-hide="row[0]['useData'].isEmpty && hide_empty || row[0]['useData'].isSearchEmpty && hide_search_empty">
            			<div ng-repeat="cell in row" class="{{cell['useData'].frontClass}} table-td" ng-style="{opacity:cell['useData'].opacity,cursor: cell['useData'].cursor}">
	            			<!--正面-->
            				<div class="td-front" ng-class="cell['useData'].totalWorkTimeIsZero" ng-right-click="showRightClickSmallNav(cell.front,$event,'preview')">
            					<div ng-repeat="unit in cell.front track by $index" class="table-font-wrap" ng-style="{background: unit.color, width: unit.percent}">
	                                <div class="show-info" title={{unit.text}} ng-style="{color:unit.textColor}">{{unit.text}}{{unit.text_number}}</div>
	            				</div>
	            				<!--临时显示物料名称-->
      							<div class="show_materialName" ng-style="{color:cell['useData'].textColor,fontSize:'12px'}" title={{cell['useData'].materialName}} ng-hide="show_materialName">{{cell['useData'].materialName}}</div>
            				</div>
							
	      					<!--正面END-->
            			</div>
            		</div>
            	</div>
            </div>
            <!-- 表格主体部分END -->
			<!--上一页和下一页-->
			<span class="page-select page-left" ng-style="last_page_button_style" ng-click="last_page()" id="page-left"></span>
            <span class="page-select page-right" ng-style="next_page_button_style" ng-click="next_page()" id="page-right"></span>
            <!--上一页和下一页END-->
        </div>
        <!--一级页面表格END-->
    </div><!-- .wrap-content END -->
</div><!-- .pbody-wrap END -->
<!--右键点击小目录-->
<right-click-nav></right-click-nav>
<!--右键点击小目录-->

<!--三级页面模版-->
<div id="do_detail_dialog" title="派工单详细信息">
    <div class="do_detail_dialog" ng-style="{display : do_detail_dialog_show?'block':'none'}">
        <!--<p>销售订单：{{do_detail.saleOrderCode}}</p>
        <p>自制件计划：{{do_detail.moCode}}</p>
        <p>作业计划：{{do_detail.doCode}}</p>
        <p>物料编码：{{do_detail.materialCode}}</p>
        <p>物料名称：{{do_detail.materialName}}</p>
        <p>物料规格：{{do_detail.materialSpec}}</p>
        <p>工序编码：{{do_detail.processCode}}</p>
        <p>工序名称：{{do_detail.processName}}</p>
        <p>开始时间：{{do_detail.startTime}}</p>
        <p>结束时间：{{do_detail.endTime}}</p>
        <p>计划数：{{do_detail.taskNum}}</p>-->
        
        
        <!--详细信息弹出框建议格式-->
        <table>
        	<tr>
				<td>销售订单</td>
				<td>:</td>
				<td>{{do_detail.saleOrderCode}}</td>
			</tr>
			<!--生产主计划号（缺）-->
			<tr>
				<td>自制件计划号</td>
				<td>:</td>
				<td>{{do_detail.moCode}}</td>
			</tr>
			<!--车间计划号（缺）-->
			<tr class="do-code">
				<td>派工单号</td>
				<td>:</td>
				<td>{{do_detail.doCode}}</td>
			</tr>
			<tr>
				<td>物料编码</td>
				<td>:</td>
				<td>{{do_detail.materialCode}}</td>
			</tr>
			<tr>
				<td>物料助记码</td>
				<td>:</td>
				<td>{{do_detail.materialMnem}}</td>
			</tr>
			<tr>
				<td>物料名称</td>
				<td>:</td>
				<td>{{do_detail.materialName}}</td>
			</tr>
			<tr>
				<td>物料规格</td>
				<td>:</td>
				<td>{{do_detail.materialSpec}}</td>
			</tr>
			<tr>
				<td>物料单位</td>
				<td>:</td>
				<td>{{do_detail.materialUnit}}</td>
			</tr>
			
			<tr>
				<td>工序编码</td>
				<td>:</td>
				<td>{{do_detail.processCode}}</td>
			</tr>
			<tr>
				<td>工序名称</td>
				<td>:</td>
				<td>{{do_detail.processName}}</td>
			</tr>
			
			<tr>
				<td>开始时间</td>
				<td>:</td>
				<td>{{do_detail.startTime}}</td>
			</tr>
			<tr>
				<td>结束时间</td>
				<td>:</td>
				<td>{{do_detail.endTime}}</td>
			</tr>
			<tr>
				<td>计划数</td>
				<td>:</td>
				<td>{{do_detail.taskNum}}</td>
			</tr>
		</table>
    </div>
</div>
<!--三级页面模版END-->

<!--二级页面（此处二级页面暂时预留，等待AB测试结果，可删）-->		
<div class="table-dialog-window table-window">
	<div class="dialog-window-head">
		<i class="close-window"></i>
	</div>
	<div class="dialog-window-body">
		<!--筛选区-->
		<div class="info-show">
			<div class="window-search-box">
				<span>开始时间</span>
					<input id="windowStartTime" class="Wdate" type="text" onClick="WdatePicker({maxDate:'#F{$dp.$D(\'windowEndTime\')}'})">	
			</div>
			<div class="window-search-box">
				<span>结束时间</span>
					<input id="windowEndTime" class="Wdate" type="text" onClick="WdatePicker({minDate:'#F{$dp.$D(\'windowStartTime\')}'})">	
			</div>	
			<div class="window-search-box">
				<span>设备</span>
				<!--<input type="text">-->
				<input type="text" readonly="readonly" class="equipment-input" ng-click="equipment_list($event)">
			</div>	
			<div class="window-search-box">
				<span>订单号</span>
				<input type="text">	
			</div>	
			<div class="window-search-box">
				<span>物料名</span>
				<input type="text">	
			</div>	
			<div class="window-search-box">
				<span>物料编码</span>
				<input type="text">	
			</div>	
			<div class="window-search-button" ng-click="change_window_table()">查询</div>
		</div>
		<!--筛选区END-->
		<div class="show-table">		
			<div class="table-space">
				<table>
					<thead>
						<tr>
							<th ng-repeat="title in headDataView track by $index">{{title}}
							</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="tableRow in tableDataView track by $index">
							<td ng-repeat="tableCell in tableRow track by $index">{{tableCell.showText}}
							</td>
							<td>
								<span class="sale-order-look" ng-click="look_sale_order(tableRow,$event)">查看</span>
								<span class="sale-order-change" ng-style="{display:tableRow[0].canChange}">修改</span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="cover-head">
				<div ng-repeat="title in headDataView track by $index">{{title}}</div>
			</div>
		</div>
	</div>
</div>
<!--二级页面END-->	

<!--地点选择-->
<div class="out-bg"><span class="point-click" ></span></div>
<div class="location-choose">
	<div class="read-show">
		<h1 class="location-title">请选择需要显示的地点</h1>
		<!--<div class="ul-box"></div>-->
		<div class="wrap-preview">
			<div class="location-list location-preview">
	        	<folder-tree current-folder="folder"></folder-tree>
	        </div>
		</div>
	</div>
	<div class="location-btn">
		<span class="btn-save" ng-click="sure()">确定</span>
	</div>
</div>

<!--开始排程-->
<div style="display: none;" class="aps-case">
	<span  class="in-but"></span>
	<h3 ><span></span>请选择要排程的方案</h3>
	<span class="case-name">选择方案：</span>
	<!--<span class="case-tri" ></span>-->
	<p class="case-header"></p>
	<ul class="case-content">
		<li ng-repeat="x in schemeName track by $index" ng-click="case_btn(x.schemeId)" data-schmeid={{x.schemeId}}>{{x.schemeName}}</li>
	</ul>
	<div class="wrap-box">
		<table class="wrap-contents">
			<tr ng-repeat="y in locationRule track by $index">
				<td class="box-aps">{{y.locationName}}</td>
				<td class="rule-aps">{{y.ruleName}}</td>
			</tr>
		</table>
	</div>
	<span class="aps-confirm aps-btn" ng-click="start_aps()">确定</span>
	<span class="aps-continue aps-btn" ng-click="aps_continue()">确定</span>
</div>

<!--外部差异开始-->
<div class="exDiffer-window" >
	<div class="dialog-window-head">任务池
		<i class="close-window"></i>
		<span class="help-span">
			<div class="help-box">
				<p>未派数 = 总计划数 - 已派数</p>
				<p>未排数 = 未派数 - 未转实际数</p>
			</div>
		</span>
	</div>
	<div class="null-data">暂无任务</div>
	<div class="dialog-window-body">
		<ul class="external-diff-tab">
			
			<li ng-repeat = "tabInfo in tabList" ng-click="exteriffer_tab(tabInfo,$event)" type="{{tabInfo.changeType}}">{{tabInfo.changeTypeName}}
			<span class="each-diff-num">{{tabInfo.each_differ_num}}</span>	
			<i class="warning-task" ng-show='tabInfo.changeType=="numDes"||tabInfo.changeType=="tim"||tabInfo.changeType=="des"'></i>
				
			</li>
		</ul>		
		<div class="show-table">
			<div class="table-space">
				<table>
					<thead>
						<tr>
							<!--<th>选择</th>-->
							<th ng-repeat="title in headData track by $index">{{title}}
							</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="tableRow in changedBodyData">
							<!--<td class="check-box"><label for="Storage{{$index}}"><input id="Storage{{$index}}" name="StorageSingle" type="checkbox" /><span class="check"></span></label></td>-->
							<td ng-repeat="tableCell in tableRow track by $index"  ng-class="tableCell.now==tableCell.old?'':'brightColor'" data-old = "{{tableCell.old}}">{{tableCell}}
								<!--<span ng-style="{color:tableCell.now==tableCell.old?'#333333':'red'}">{{tableCell.old}}</span>ng-style="{color:tableCell.now==tableCell.old?'#333333':'red'}"-->
							</td> 
						</tr>
					</tbody>
				</table>
			</div>
			<div class="cover-head">
				<!--<div><label for="headtrChoose"><input id="headtrChoose" name="StorageAll" type="checkbox" /><span class="check"></span></label></div>-->
				<div ng-repeat="title in headData track by $index">{{title}}</div>
			</div>
		</div>
		<!--<div class="add-to-APS" ng-click="add_to_APS()">加入排程计划</div>-->
	</div>
</div>
<!--外部差异结束-->