<!--右上角按钮区-->
<div class="top-right-button">
	<span ng-show="initLoadingShow" ng-click="startApsSchedule()">开始排程</span>
	<span ng-show="initLoadingShow" ng-click="edit_again()">再编辑</span>
	<span><a href="./mesdist/index.html" target="_blank" ng-show="initLoadingShow">数据分析</a></span>
	<span ng-show="initLoadingShow" ng-click="fixedDisplay()">全屏展示</span>
	<span class="user-info">
		<ul class="user-info-box">
			<li ng-show="initLoadingShow"><a href="#/config" ng-click="refreshHistoryUrl()">参数配置</a></li>
			<li><a href="#/help" ng-click="refreshHistoryUrl()">帮助</a></li>
			<li class="out-login" ng-click="loginOut()">退出</li>
		</ul>
		{{userName||"用户"}}</span>
</div>
<!--右上角按钮区 END-->
<!--右边栏-->
<div ng-show="initLoadingShow && !full_screen" class="right-menu" >
	<!--一级页面查询-->
	<div class="search-btn search-btn-normal right-menu-button">
		<i class="search-btn-icon"></i>
		<div class="search-box tl">
			<h6 class="search-box-title">查询</h6>
			<div class="search-content">
				<search-drop-down-list ng-repeat="searchData in searchDataList" ng-model="placeholderaaa" search-data="searchData"></search-drop-down-list>
				<div class="start-search" ng-click="search()">查询</div>
			</div>
		</div>
		<div class="tip">查询</div>
	</div>
	<!--一级页面查询END-->
	<div class="change-model right-menu-button" ng-click="change_model()">
		<i class="change-model-icon"></i>
		<div class="tip">{{change_model_text}}</div>
	</div>
	<!--翻转-->
	<div class="turn-to-back right-menu-button" ng-click="turn_to_back()" ng-if="!isSmall">
		<i class="turn-to-back-icon"></i>
		<div class="tip">翻转</div>
	</div>
	<!--翻转END-->
	<!--隐藏空白行-->
	<div class="hide-tr right-menu-button " ng-click="hide_tr()" ng-class="hide_empty?'search-btn-click':''">
		<i class="hide-tr-icon"></i>
		<div class="tip">{{hide_empty_text}}</div>
	</div>
	<!--隐藏空白行END-->
	<!--隐藏物料名-->
	<div class="show-material right-menu-button" ng-click="hide_materialName()" ng-class="materialName_hide?'search-btn-click':''" ng-if="isSmall">
		<i class="show-material-icon"></i>
		<div class="tip">{{hide_materialName_text}}</div>
	</div>
	<!--隐藏物料名END-->
	<!--预排转实际-->
	<div class="to-fact right-menu-button to-fact-normal change-one"><!--ng-click="to_fact()"-->
		<div class="cover_i" ng-click="open_tofact()"><i class="to-fact-icon" ></i></div>
		<div class="to-fact-box">
			<div class="fact-days">
				<span>预排天数：</span>
				<input  type="text" /><!--type="text"-->
				<span class="days-tip">（最多可预排&nbsp;&nbsp;"{{maxdays}}"&nbsp;天）</span>
			</div>
			<span class="device-title">设备名称</span>
			<div class="select_all"><label for="chooseall"><input id="chooseall" name="factPnameAll" type="checkbox" checked="checked"/><span class="check"></span>全选</label></div>
			<div class="select_single">
				<div ng-repeat="punitName in punitNameList track by $index" class="each-pName-div" id="eachPname{{$index}}}">
					<label for="chooseSinle{{$index}}" class="single_label"><input id="chooseSinle{{$index}}" name="factPnameSingle" type="checkbox" checked="checked"/><span class="check" ></span></label>
					<span>{{punitName}}</span>
						<span class="sa_icon sub normal_sub"></span>
						<input  type="text" class="each_days_input"/>
						<span class="sa_icon add normal_add"></span>			
				</div>				
			</div>
			<div class="start-to-fact" ng-click="to_fact()">确定</div>
		</div>
		<div class="tip">预排转实际</div>
	</div>	
	<!--预排转实际END-->
	<!--任务池-->
	<div class="edit-again right-menu-button" ng-click="exter_differ_show()">
		<i class="external-differ-icon"></i>
		<span class="external-diff-num">{{differAllNum}}</span>		
		<div class="tip">任务池</div>
	</div>
	<!--任务池END-->
	<!--物料信息-->
	<div class="material-info right-menu-button" ng-click="material_info()">
		<i class="material-info-icon"></i>		
		<div class="tip">物料信息</div>
	</div>
	<!--物料信息END-->
</div>
<div ng-show="initLoadingShow && !full_screen" class="right-menu-switch"></div>
<!--右边栏END-->

<div class="pbody-wrap"><!-- 页面表格相关部分 -->
    <div class="wrap-content"><!-- 页面主体内容 --> 	
    	<!--一级页面表格-->
        <div id="table" class="table j-table" ng-if="!isSmall">
        	<!-- 表头部分 -->
            <div class="table-head">
            		<div class="current-show-location-name"></div>
	            	<!--<div ng-repeat="date in tableHeadViewModel track by $index" ng-click="date_click(date)">-->
	            	<div style="display: flex;" class="jDateListDiv">
						<div ng-repeat="date in tableHeadViewModel track by $index" ng-right-click="showRightClickSmallNav(date,$event,'preview')" ng-style="$index === 0 ? {marginLeft:controllerDate.bigTableMarginLeft} : {}">
							<span>{{date.thisDate.substring(5,7)}}</span>月
							<span>{{date.thisDate.substring(8,10)}}</span>日
						</div>
           			</div>
            </div>
			<!-- 表头部分END -->
			<!-- 表格主体部分 -->
            <div class="table-body">
           		<div class="table-equipment-head">
            		<div>
            			<div class="table-td" ng-repeat="row in tableBodyData track by $index" ng-if="!(row[0]['useData'].isEmpty && hide_empty)" ng-right-click="showRightClickSmallNav(row[0],$event,'preview')" title={{row[0]['front'][0].text}}>
							<div class="show-info" ng-style="{color:unit.textColor}">{{row[0]['front'][0].text}}</div>
            			</div>
            		</div>
            	</div>
            	<!--<div class="table-content" infinite-scroll="myPagingFunction()" infinite-scroll-distance='2'>-->
            	<div class="table-content" pagescroll="myPagingFunction()">
            		<div class="table-tr" ng-repeat="row in tableBodyData track by $index" ng-if="!(row[0]['useData'].isEmpty && hide_empty)" ng-style="{marginLeft:controllerDate.bigTableMarginLeft}">
            			<div ng-repeat="cell in row" class="{{cell['useData'].frontClass}} table-td" ng-style="{opacity:cell['useData'].opacity}">
            				<!--反面-->
            				<div class="td-back">
            					<!--翻转页显示的信息-->
	            				<p ng-repeat="back in cell.back">{{back}}</p>
	            				<!--翻转页显示的信息END-->
	            			</div>
	            			<!--反面END-->
	            			<!--正面-->
            				<div class="td-front" ng-class="cell['useData'].totalWorkTimeIsZero" ng-style="{cursor: cell['useData'].cursor,background:cell['useData'].smallBoxColor}" ng-right-click="showRightClickSmallNav(cell,$event,'preview')">
            		<!--			<div ng-repeat="unit in cell.front track by $index" class="table-font-wrap" ng-style="{background: unit.color, height: unit.percent}">
	                                <div class="show-info" title={{unit.text}} ng-style="{color:unit.textColor}">{{unit.text}}{{unit.text_number}}</div>
	            				</div>-->
            				</div>
	      					<!--正面END-->
	            			<!--图标放在这一层，加浮动到指定位置-->
	            			<div class="freeze_info lock_info" ng-if="cell['useData'].isLock"></div>
	            			<div class="over-Capability" ng-if="cell['useData'].isOver"></div>
            			</div>
            		</div>
            	</div>
            </div>
            <!-- 表格主体部分END -->
        </div>
        <div class="small-table j-table" ng-if="isSmall">
        	<!-- 表头部分 -->
            <div class="table-head">
           		<div></div>
            	<div style="display: flex;" class="jDateListDiv">
	            	<div ng-repeat="date in tableHeadViewModel track by $index" ng-right-click="showRightClickSmallNav(date,$event,'preview')" ng-style="$index === 0 ? {marginLeft:controllerDate.smallTableMarginLeft} : {}">
	            		{{date.thisDate.substring(5,10)}}
	            	</div>
            	</div>	            	
            </div>
			<!-- 表头部分END -->
			<!-- 表格主体部分 -->
            <div class="table-body">
            	<div class="table-equipment-head">
            		<div>
            			<div class="table-td" ng-repeat="row in tableBodyData track by $index" ng-if="!(row[0]['useData'].isEmpty && hide_empty)" ng-right-click="showRightClickSmallNav(row[0],$event,'preview')" title={{row[0]['front'][0].text}}>{{row[0]['front'][0].text}}</div>
            		</div>
            	</div>
            	<div class="table-content" style="flex: 1 1" pagescroll="myPagingFunction()">
            		<div class="table-tr" ng-repeat="row in tableBodyData" ng-if="!(row[0]['useData'].isEmpty && hide_empty)" ng-style="{marginLeft:controllerDate.smallTableMarginLeft}">
            			<div ng-repeat="cell in row" class="{{cell['useData'].frontClass}} table-td td-front-non" ng-style="{opacity:cell['useData'].opacity,cursor: cell['useData'].cursor,background:cell['useData'].smallBoxColor}" ng-right-click="showRightClickSmallNav(cell,$event,'preview')">
	            			<!--正面-->
							<div class="show-info-time" ng-if="cell['useData'].materialName && materialName_hide" title={{cell['useData'].materialName}} ng-style="{color: cell['useData'].materialNameTextColor}">
								{{cell['useData'].materialName}}
							</div>	
	      					<!--正面END-->
            			</div>
            		</div>
            	</div>
            </div>
            <!-- 表格主体部分END -->
        </div>
        <!--一级页面表格END-->
    </div><!-- .wrap-content END -->
    <date-controller controller-date="controllerDate" is-small="isSmall" refresh-margin-left="refresh_margin_left" change-model="change_model()"></date-controller>
</div><!-- .pbody-wrap END -->
<!--右键点击小目录-->
<right-click-nav></right-click-nav>
<!--右键点击小目录-->

<!--三级页面模版-->
<div id="do_detail_dialog" title="派工单详细信息"  ng-style="{display : do_detail_dialog_show?'block':'none'}">
    <div class="do_detail_dialog">
        <!--详细信息弹出框建议格式-->
        <table>
        	<tr>
				<td>销售订单</td>
				<td>:</td>
				<td>{{do_detail.saleOrderCode}}</td>
			</tr>
			<!--生产主计划号（缺）-->
			<tr>
				<td>自制件计划号</td>
				<td>:</td>
				<td>{{do_detail.moCode}}</td>
			</tr>
			<!--车间计划号（缺）-->
			<tr class="do-code">
				<td>派工单号</td>
				<td>:</td>
				<td>{{do_detail.doCode}}</td>
			</tr>
			<tr>
				<td>物料编码</td>
				<td>:</td>
				<td>{{do_detail.materialCode}}</td>
			</tr>
			<tr>
				<td>物料助记码</td>
				<td>:</td>
				<td>{{do_detail.materialMnem}}</td>
			</tr>
			<tr>
				<td>物料名称</td>
				<td>:</td>
				<td>{{do_detail.materialName}}</td>
			</tr>
			<tr>
				<td>物料规格</td>
				<td>:</td>
				<td>{{do_detail.materialSpec}}</td>
			</tr>
			<tr>
				<td>物料单位</td>
				<td>:</td>
				<td>{{do_detail.materialUnit}}</td>
			</tr>
			
			<tr>
				<td>工序编码</td>
				<td>:</td>
				<td>{{do_detail.processCode}}</td>
			</tr>
			<tr>
				<td>工序名称</td>
				<td>:</td>
				<td>{{do_detail.processName}}</td>
			</tr>
			
			<tr>
				<td>开始时间</td>
				<td>:</td>
				<td>{{do_detail.startTime}}</td>
			</tr>
			<tr>
				<td>结束时间</td>
				<td>:</td>
				<td>{{do_detail.endTime}}</td>
			</tr>
			<tr>
				<td>计划数</td>
				<td>:</td>
				<td>{{do_detail.taskNum}}</td>
			</tr>
		</table>
    </div>
</div>
<!--三级页面模版END-->

<!--二级页面（此处二级页面暂时预留，等待AB测试结果，可删）-->		
<div class="table-dialog-window table-window">
	<div class="dialog-window-head">
		<i class="close-window"></i>
	</div>
	<div class="dialog-window-body">
		<!--筛选区-->
		<div class="info-show">
			<div class="window-search-box">
				<span>开始时间</span>
					<input id="windowStartTime" class="Wdate" type="text" onClick="WdatePicker({maxDate:'#F{$dp.$D(\'windowEndTime\')}'})">	
			</div>
			<div class="window-search-box">
				<span>结束时间</span>
					<input id="windowEndTime" class="Wdate" type="text" onClick="WdatePicker({minDate:'#F{$dp.$D(\'windowStartTime\')}'})">	
			</div>	
			<div class="window-search-box">
				<span>设备</span>
				<!--<input type="text">-->
				<input type="text" readonly="readonly" class="equipment-input" ng-click="equipment_list($event)">
			</div>	
			<div class="window-search-box">
				<span>订单号</span>
				<input type="text">	
			</div>	
			<div class="window-search-box">
				<span>物料名</span>
				<input type="text">	
			</div>	
			<div class="window-search-box">
				<span>物料编码</span>
				<input type="text">	
			</div>	
			<div class="window-search-button" ng-click="change_window_table()">查询</div>
		</div>
		<!--筛选区END-->
		<div class="show-table">		
			<div class="table-space">
				<table>
					<thead>
						<tr>
							<th ng-repeat="title in headDataView track by $index">{{title}}
							</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="tableRow in tableDataView track by $index">
							<td ng-repeat="tableCell in tableRow track by $index">{{tableCell.showText}}
							</td>
							<td>
								<span class="sale-order-look" ng-click="look_sale_order(tableRow,$event)">查看</span>
								<span class="sale-order-change" ng-style="{display:tableRow[0].canChange}">修改</span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="cover-head">
				<div ng-repeat="title in headDataView track by $index">{{title}}</div>
			</div>
		</div>
	</div>
</div>
<!--二级页面END-->	

<!--地点选择-->
<div class="out-bg" ng-hide="full_screen"><span class="point-click" ></span></div>
<div class="location-choose" ng-hide="full_screen">
	<div class="read-show">
		<h1 class="location-title">请选择需要查看的车间</h1>
		<div class="wrap-preview">
			<div class="location-list location-preview jleftLocationTree">
	        	<folder-tree current-folder="folder"></folder-tree>
	        </div>
		</div>
	</div>
	<div class="location-btn">
		<span class="btn-save" ng-click="sure()">确定</span>
	</div>
</div>

<!--开始排程-->
<div style="display: none;" class="aps-case">
	<div>
		<span class="in-but"></span>
		<h3>&nbsp;&nbsp;请选择要排程的方案</h3>
	</div>
	<div class="mt-10 mb-10 aps-case-choose jChooseSchemeBox">
		<span class="case-name">选择方案：</span>
		<div class="case-header">
			<p class="select-name jChooseScheme">{{chooseScheme.schemeName}}<span ng-show="isHadScheduleShow" style='color:#f00;'>*</span></p>
			<ul class="case-content">
				<li ng-repeat="scheme in allSchedulePlan track by $index" ng-click="selectLiScheme(scheme)" data-scheme-id={{scheme.schemeId}} title={{scheme.schemeName}}>
					{{scheme.schemeName}}
					<span ng-show="scheme.isSelected" style='color:#f00;'>*</span>
				</li>
			</ul>
		</div>
	</div>
	<p ng-show="isHadScheduleShow" style='margin:10px 0;color:#f00;text-align:center;font-size:12px;'>您有未保存的工单信息,点击确定查看!</p>
	<p ng-show="isOnLineConfig" style='margin:10px 0;color:#f00;text-align:center;font-size:12px;'>{{onlineWords}}</p>
	<div class="wrap-box mt-10">
		<table class="wrap-contents">
			<tr ng-repeat="locationRule in locationRuleList track by $index">
				<td class="box-aps">{{locationRule.locationName}}</td>
				<td class="rule-aps">{{locationRule.ruleName}}</td>
			</tr>
		</table>
	</div>
	<hr style="margin:20px auto;width:85%;border: 1px solid #e1e1e1;">
	<div class="mt-10 aps-case-choose jChooseReason">
		<multiple-drop-down-list drop-down-data="scheduleReason" drop-style='{width : "235px"}'></multiple-drop-down-list>
	</div>
	<div class="mt-10 aps-case-choose">
		<span class="case-name"><span style='color:#f00;'>*</span>详情描述：</span><textarea id="reScheduleDescription" placeholder="请输入排程原因详情" class="schedule-detail" style="resize: none;" name="reasonDetail"></textarea>
	</div>
	<div class="tc">
		<span ng-show="!isHadScheduleShow" class="aps-confirm aps-btn" ng-click="sureGoStartSchedule()">确定</span>
		<span ng-show="isHadScheduleShow" class="aps-continue aps-btn" ng-click="aps_continue()">确定</span>
	</div>
</div>

<!--外部差异开始-->
<div class="exDiffer-window" >
	<div class="dialog-window-head">任务池
		<span class="exDiffer-dimension" ng-click="exter_differ_dimension()">{{exter_differ_dimension_text}}</span>
		<i class="close-window"></i>
		<span class="help-span">
			<div class="help-box">
				<p>未派数 = 总计划数 - 已派数</p>
				<p>未排数 = 未派数 - 未转实际数</p>
			</div>
		</span>
	</div>
	<div class="null-data">暂无任务</div>
	<div class="dialog-window-body">
		<ul class="external-diff-tab">
			<li ng-repeat = "tabInfo in tabList" ng-click="exteriffer_tab(tabInfo,$event)" type="{{tabInfo.changeType}}">{{tabInfo.changeTypeName}}
				<span class="each-diff-num">{{tabInfo.each_differ_num}}</span>
				<i class="warning-task" ng-show='tabInfo.changeType=="numDes"||tabInfo.changeType=="tim"||tabInfo.changeType=="des"'></i>
			</li>
		</ul>		
		<div class="show-table">
			<div class="table-space">
				<table>
					<thead>
						<tr>
							<!--<th>选择</th>-->
							<th ng-repeat="title in headData track by $index">{{title}}
							</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="tableRow in changedBodyData">
							<!--<td class="check-box"><label for="Storage{{$index}}"><input id="Storage{{$index}}" name="StorageSingle" type="checkbox" /><span class="check"></span></label></td>-->
							<td ng-repeat="tableCell in tableRow track by $index"  ng-class="tableCell.now==tableCell.old?'':'brightColor'" data-old = "{{tableCell.old}}">{{tableCell}}
								<!--<span ng-style="{color:tableCell.now==tableCell.old?'#333333':'red'}">{{tableCell.old}}</span>ng-style="{color:tableCell.now==tableCell.old?'#333333':'red'}"-->
							</td> 
						</tr>
					</tbody>
				</table>
			</div>
			<div class="cover-head">
				<!--<div><label for="headtrChoose"><input id="headtrChoose" name="StorageAll" type="checkbox" /><span class="check"></span></label></div>-->
				<div ng-repeat="title in headData track by $index">{{title}}</div>
			</div>
		</div>
		<!--<div class="add-to-APS" ng-click="add_to_APS()">加入排程计划</div>-->
	</div>
</div>
<!--外部差异结束-->