<!--&lt;!&ndash;右上角按钮区&ndash;&gt;-->
<!--<div class="top-right-button">-->
	<!--<span class="user-info">-->
		<!--<ul class="user-info-box">-->
			<!--<li><a href="#/config" ng-click="refreshHistoryUrl()">参数配置</a></li>-->
			<!--<li><a href="#/help" ng-click="refreshHistoryUrl()">帮助</a></li>-->
			<!--<li class="out-login" ng-click="loginOut()">退出</li>-->
		<!--</ul>-->
		<!--{{userName||"用户"}}</span>-->
<!--</div>-->

<div class="pbody-wrap">
	<!-- 页面表格相关部分 -->
	<div class="wrap-content">
		<!-- 页面主体内容 -->

		<div id="progressbar" class="pro_bars">
			<div class="process-label"></div>
		    <span class="progressbar-gif"></span>
		    <i class="success-icon" ng-show="successAlert"></i>
		    <i class="fail-icon" ng-show="failAlert" title="排程过程有误，可在下方查看错误信息"></i>
		</div>
		<!-- .wrap-content END -->

		<div class="wrap-info">
			<!--提示信息-->
			<div class="current-info">当前提示信息：
				<!--<i title="返回" ng-click="wrap_back()" ng-show="btnShow"></i>-->
			</div>

			<ul>
				<li ng-repeat="info in states | orderBy:'equipment'">
					<span class="in-mapState">{{$index+1}}、{{info.equipment}}</span>
					<i class="in-state-icon-success" ></i>
					<i class="in-state-icon-fail" ></i>
					<span class="in-state">{{info.state}}</span>
					<b class="in-icon" ng-click="alertMsg(info,$event)">详情</b>
				</li>
			</ul>
			<p class="wrap-btn">
				<!--<span class="btn-same btn-back" ng-click="wrap_back()" ng-show="btnShow">返回</span>-->
				<span class="btn-same btn-forward" ng-click="wrap_forward()" ng-show="btnShow">跳转</span>
			</p>
		</div>
		<!--提示 结束-->

	</div>
</div>

<div class="prompt_msg" id="prompt_msg">
	<i class="in-close" ng-click="close_megPromt()"></i>
	<div class="meg_content" style="max-height: 200px;overflow: auto;margin-top: 20px;">
		<p class="in-alert" ng-repeat="text in in_alert_data">{{text}}</p>
	</div>
</div>

<!--校验错误新版二级页面-->
<div style="width: 80%;margin-left: 10%;" class="table-dialog-window table-window jcheckError check-error" ng-show="checkSchedule">
	<div class="dialog-window-head">
		异常情况
		<i class="close-dialog-window" ng-click="checkSchedule = false;"></i>
	</div>
	<div class="dialog-window-body">
		<div class="show-table">
			<div class="table-space">
				<table ng-style="{width : (checkItemTableHeadData.length * 100) + 'px'}">
					<thead>
					<tr>
						<th>序号</th>
						<th ng-repeat="title in checkItemTableHeadData track by $index" >{{title.showText}}</th>
					</tr>
					</thead>
					<tbody>
					<tr ng-repeat="checkItemTableRow in checkItemTableBodyData track by $index">
						<td>{{$index + 1}}</td>
						<td>{{checkItemTableRow.processId}}</td>
						<td>{{checkItemTableRow.pUnitType}}</td>
						<td>{{checkItemTableRow.pUnitId}}</td>
						<td>{{checkItemTableRow.materialId}}</td>
					</tr>
					</tbody>
				</table>
			</div>
			<div class="cover-head">
				<div>序号</div>
				<div ng-repeat="title in checkItemTableHeadData track by $index">{{title.showText}}</div>
			</div>
		</div>
	</div>
</div>
<!--校验错误弹窗-->
<!-- .pbody-wrap END -->