<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../styles/reset.css"/>
    <link rel="stylesheet" href="../styles/common.css" />
    <link rel="stylesheet" href="../styles/index.css" />
    <link rel="stylesheet" href="../styles/secondPage.css" />
    <link rel="stylesheet" href="../styles/changeAToB.css" />
    <link href="../images/favicon.ico" rel="icon" type="image/x-icon"/>
    <title>工作单元</title>
</head>
<body ng-controller="mainCtrl">
<div class="page-wrapper secondPage change-a-to-b" ng-controller="previewController">
    <!--head START-->
    <div class="header">
    </div>
    <!--二级页面-->

    <div class="table-dialog-window table-window">
        <div class="dialog-window-body">
            <div class="info-show">
                <div class="window-search-box jStartTime">
                    <span>开始时间：</span>
                    <input id="windowStartTime" class="Wdate" type="text" onClick="WdatePicker({isShowClear:false,maxDate:'#F{$dp.$D(\'windowEndTime\')}'})" readonly>
                </div>
                <div class="window-search-box jEndTime">
                    <span>结束时间：</span>
                    <input id="windowEndTime" class="Wdate" type="text" onClick="WdatePicker({isShowClear:false,minDate:'#F{$dp.$D(\'windowStartTime\')}'})" readonly>
                </div>
                <cascader cascader-data="location_data" get-selected-location="get_selected_location" on-change="clearEquipmentAndEquipmentType()"></cascader>
                <div class="window-search-box">
                    <span>设备类型：</span>
                    <aps-select class="window-search-box jEquipmentType" style="{'width' : '118px'}"
                                ng-model="selectEquipmentTypeList" filterable="true" multiple="true" on-change="refreshEquipment()"
                    >
                        <aps-option-group ng-repeat="data in equipmentTypeList" label={{data.label}}>
                            <aps-option ng-repeat="option in data.equipmentTypeList" value={{option.id}} label={{option.modelName}}></aps-option>
                        </aps-option-group>
                    </aps-select>
                </div>
                <div class="window-search-box">
                    <span>设备名称：</span>
                    <aps-select class="window-search-box jPunitName" style="{'width' : '118px'}"
                                ng-model="equipment_check_list" multiple="true" filterable="true"
                    >
                        <aps-option ng-repeat="data in equipmentList" value={{data.id}} label={{data.productUnitName}}></aps-option>
                    </aps-select>
                </div>
                <div class="window-search-box jSaleOrder">
                    <span>订单编号：</span>
                    <input type="text">
                </div>
                <div class="window-search-box jMaterialName">
                    <span>物料名称：</span>
                    <input type="text">
                </div>
                <div class="window-search-box jMaterialCode">
                    <span>物料编码：</span>
                    <input type="text">
                </div>
                <div class="mb-20 window-search-button" ng-click="change_window_table()">查询</div>
            </div>
            <div class="info-icon-btn tr">
                <div class="table-sort-show">
                    <span class="set-order" ng-click="orderHide()" title="多列排序临时配置"></span>
                    <div class="table-sort" ng-show="orderShow">
                        <h6 class="countSortTitle">多级列表排序配置<span class="fr mt-10 mr-20" ng-click="orderHide()"></span></h6>
                        <transfer class="mt-20" data="allItemList" value="selectItem" move="true" order="true" ng-title="['可用字段','已排序字段']"></transfer>
                        <div class="ml-20 mt-20 mb-20">
                            <dl class="relative clearfix">
                                <dt class="fl">&#12288;合并项：</dt>
                                <dd class="fl combine-menu" ng-class="combineObj.combineActive ? 'active' : ''" ng-mouseleave="combineObj.combineActive=true;">
                                    <p>
                                        <span data-value={{data.value}} ng-repeat="data in combineObj.combine track by $index" ng-if="data.show">{{data.text}}<b class="ml-15 delete" ng-click="deleteccItem(data,$event)"></b></span>
                                    </p>
                                    <ul class="combine-drag">
                                        <li data-value={{data.value}} ng-repeat="data in combineObj.combine track by $index" ng-if="!data.show" ng-click="addccItem(data,$event)">{{data.text}}</li>
                                    </ul>
                                </dd>
                            </dl>
                        </div>
                        <div class="Summary-item">
                            <dl class="ml-20 clearfix">
                                <dt class="fl">汇总统计：</dt>
                                <dd class="fl combine-menu">
                                    <p>
                                        <span data-value={{data.value}} ng-repeat="data in summaryObj.summary track by $index" ng-if="data.show">{{data.text}}<b class="ml-15 delete" ng-click="deleteccItem(data,$event)"></b></span>
                                    </p>
                                    <ul class="combine-drag">
                                        <li data-value={{data.value}} ng-repeat="data in summaryObj.summary track by $index" ng-if="!data.show" ng-click="addccItem(data,$event)">{{data.text}}</li>
                                    </ul>
                                </dd>
                            </dl>
                        </div>
                        <div class="m-0-auto mt-20 mb-20 tc clearfix">
                            <a href="javascript:;" class="save-sort" ng-click="refresh_order()">保存</a>
                        </div>
                    </div>
                </div>
                <span class="split"></span>
                <a download="{{file_name}}" class="output-excel" title="下载excel表"></a>
                <span class="split"></span>
                <span class="print-table" ng-click="print()" title="打印"></span>
            </div>
            <div class="show-table">
                <aps-merge-table head-data="headDataView" body-data="tableDataView" count-data="countData" indexes="true" row-details="look_sale_order" row-class-name="rowClassName"></aps-merge-table>
            </div>
        </div>
    </div>
    <div style="display: none;" id="do_detail_dialog" title="派工单详细信息">
        <div class="do_detail_dialog">
            <table>
                <tr>
                    <td>销售订单</td>
                    <td>:</td>
                    <td>{{do_detail.saleOrderCode}}</td>
                </tr>
                <!--生产主计划号（缺）-->
                <tr>
                    <td>自制件计划号</td>
                    <td>:</td>
                    <td>{{do_detail.moCode}}</td>
                </tr>
                <!--车间计划号（缺）-->
                <tr class="do-code">
                    <td>派工单号</td>
                    <td>:</td>
                    <td>{{do_detail.doCode}}</td>
                </tr>
                <tr>
                    <td>物料编码</td>
                    <td>:</td>
                    <td>{{do_detail.materialCode}}</td>
                </tr>
                <tr>
                    <td>物料助记码</td>
                    <td>:</td>
                    <td>{{do_detail.materialMnem}}</td>
                </tr>
                <tr>
                    <td>物料名称</td>
                    <td>:</td>
                    <td>{{do_detail.materialName}}</td>
                </tr>
                <tr>
                    <td>物料规格</td>
                    <td>:</td>
                    <td>{{do_detail.materialSpec}}</td>
                </tr>
                <tr>
                    <td>物料单位</td>
                    <td>:</td>
                    <td>{{do_detail.materialUnit}}</td>
                </tr>

                <tr>
                    <td>工序编码</td>
                    <td>:</td>
                    <td>{{do_detail.processCode}}</td>
                </tr>
                <tr>
                    <td>工序名称</td>
                    <td>:</td>
                    <td>{{do_detail.processName}}</td>
                </tr>

                <tr>
                    <td>开始时间</td>
                    <td>:</td>
                    <td>{{do_detail.startTime}}</td>
                </tr>
                <tr>
                    <td>结束时间</td>
                    <td>:</td>
                    <td>{{do_detail.endTime}}</td>
                </tr>
                <tr>
                    <td>计划数</td>
                    <td>:</td>
                    <td>{{do_detail.taskNum}}</td>
                </tr>
            </table>
            <a style="" class="sure" href="javascript:;">确定</a>
        </div>
    </div>
</div>

<!--二级页面结束-->
<!-- 加载依赖包,线上可以使用压缩版 -->
<script src="../scripts/lib/angular.js"></script>
<script src="../scripts/lib/ui-router.js"></script>
<script src="../scripts/lib/jquery.js"></script>
<!-- 加载入口 -->
<script src="../scripts/app.js"></script>
<script src="../scripts/config/app.js"></script>
<!-- 第三方插件 -->
<script src="../scripts/lib/My97DatePicker/WdatePicker.js"></script>
<script src="../scripts/lib/angular-translate.js"></script>
<script src="../scripts/lib/angular-translate-loader-static-files.min.js"></script>
<script src="../scripts/lib/layer/layer.js"></script>
<script src="../scripts/lib/ngTouch.js"></script>
<!--加载控制器-->
<script src="../scripts/controllers/mainController.js"></script>
<!-- 加载service -->
<script src="../scripts/services/scheduleTableViewModel.js"></script>
<script src="../scripts/services/tool.js"></script>
<script src="../scripts/services/http.js"></script>
<script src="../scripts/directives/directive.js"></script>
<script>
    app.controller("previewController",function($rootScope,$scope, $http,$timeout,scheduleTableViewModelService,tool,http){
        //设备
        let goEquipment = {};
        let goInfo = {};

        let body_data = JSON.parse(sessionStorage.getItem("hrefPrameter"));
        let thisStartTime = body_data.startTime,
                thisEndTime = body_data.endTime,
                materialName = body_data.materialName,
                materialCode = body_data.materialCode,
                saleOrder = body_data.saleOrderCode,
                thisEquipmentId = body_data.equipments,
                htmlSource = body_data.from,    //来源排程前还是排程后页面
                thisEquipmentName = [];

        let sourceUrl;  //获取派工单信息
        let excelAPI;
        let get_url;    //获取各种查询条件
        let locationId;//获取排程前后所选的车间Id
        $rootScope.getsessionStorage(sessionStorage.locationId_pre,sessionStorage.locationId_res);
		$scope.excel_url = "";
		$scope.file_name = "";
        if(htmlSource === "preview"){
            locationId = sessionStorage.locationId_pre;
            sourceUrl=$rootScope.restful_api.pre_sourceUrl;
            //导出excel接口
            excelAPI = $rootScope.restful_api.excel_pre;
            get_url = $rootScope.restful_api.preview_show_table+"?locationFilterList="+sessionStorage.locationFilterList_pre+ "&startTime="+ thisStartTime + "&endTime="+ thisEndTime;


        }else{
            locationId = sessionStorage.locationId_res;
            sourceUrl = $rootScope.restful_api.res_sourceUrl;
            //导出excel接口
            excelAPI = $rootScope.restful_api.excel_res;
            get_url = $rootScope.restful_api.result_show_table+"?locationFilterList="+sessionStorage.locationFilterList_res+ "&startTime="+ thisStartTime + "&endTime="+ thisEndTime + "&schemeId=" +sessionStorage.schemeId;
        }

		//获取二级页面的排列规则
		function getOrder() {
			http.get({
				url: $rootScope.restful_api.sort_content_config + locationId,
				successFn: function(res){
					//获得所有的展示项
					$scope.optionList = res.data.optionList;
					$scope.allItemList = $scope.optionList.map(item => {
						return {
							id : item.valueContent,
							label : item.valueAlias,
							isSelected : false,
						}
					});
					//获得选中的展示项
					$scope.selectItem = res.data.selectList.map(item => item.valueContent);

					body_data.order = $scope.selectItem.join();
					//初始化整个二级页面
					initSecondPageData();
				}
			})
		}
		getOrder(); //为了保证浏览器兼容性，以这个函数为初始化入口

		initCombineItem();
		initCountAll();
		function initSecondPageData() {
			//获取排序顺序，用于后面请求整个表格数据的body_data
			http.post({
				url: sourceUrl,
				data: body_data,
				successFn: function(response) {
					let resData = response.data;
					//数据转换
					let windowTableData = scheduleTableViewModelService.jsonToWindowTableView(resData,$scope.combineObj.combine,$scope.selectItem,$scope.summaryObj.summary);

					//缓存数据
					$scope.pageData = $.extend([],resData.row);

					//绑定页面
					$scope.headDataView = windowTableData.headData;
					$scope.tableDataView = windowTableData.bodyData;
					$scope.countData = windowTableData.countData;
					$timeout(function(){$scope.refresh_excel()},1000);
				}
			});
			//初始化二级页面开头的各项查询条件栏
			initSearchValue();
			//获取地点级联下拉框
			getLocationList();
			//获取设备类型
			getEquipmentType();
		}

		//初始化合并项
	    function initCombineItem() {
			http.get({
				url: $rootScope.restful_api.sort_combine_config + locationId,
				successFn: function(res){
					$scope.combineItem = $.extend({},res.data);
					$scope.combineObj = {
						combine : scheduleTableViewModelService.combinecountItem($scope.combineItem),
						combineDrag : true,
						combineActive : false
					};
					//如果有默认配置合并项就执行
					if($scope.combineItem.selectList){
						let combineItem = [];
						let combineCondition = [];
						$scope.combineItem.selectList.forEach(function(item){
							combineItem.push(item.valueAlias);
						});
						$scope.columnSelectList.forEach(function(item){
							combineCondition.push(item.valueAlias);
						});
					}
				}
			});
		}

		//初始化汇总项
	    function initCountAll() {
			http.get({
				url: $rootScope.restful_api.sort_summary_config + locationId,
				successFn: function(res){
					$scope.summaryItem = $.extend({},res.data);
					$scope.summaryObj = {
						summary : scheduleTableViewModelService.combinecountItem($scope.summaryItem),
						summaryDrag : true,
						summaryActive : true
					};
					console.log($scope.summaryObj);
					//如果有默认配置合并项就执行
					if($scope.summaryItem.selectList){
						const countItem = [];
						$scope.summaryItem.selectList.forEach(function(item){
							countItem.push(item.valueAlias);
						});
					}
				}
			});
		}

		//初始化二级页面开头的各项查询条件栏
	    function initSearchValue() {
			const windowSearchBox = $(".info-show");
			windowSearchBox.find(".jStartTime").find("input").val(thisStartTime);
			windowSearchBox.find(".jEndTime").find("input").val(thisEndTime);
			windowSearchBox.find(".jSaleOrder").find("input").val(saleOrder);
			windowSearchBox.find(".jMaterialName").find("input").val(materialName);
			windowSearchBox.find(".jMaterialCode").find("input").val(materialCode);

			http.get({
				url: get_url,
				successFn: function(res){
					let cacheList = [];
					res = res.data;
					goEquipment = $.extend({},res.punit);
					goInfo = $.extend({},res);
					thisEquipmentId.forEach(function(item){
						for(let i in goEquipment){
							let newI = i.split("_");
							if(item.equipmentId === newI[0] && item.equipmentType === newI[1]){
								thisEquipmentName.push(goEquipment[i].punitName);
							}
						}
					});

					//地点
					let selectedLocationId = $scope.get_selected_location ? $scope.get_selected_location() : [];

					//初始查询查询设备
					http.post({
						url: $rootScope.restful_api.get_all_equipment,
						data : {
							startTime : thisStartTime,
							endTime : thisEndTime,
							searchType : (htmlSource === "preview" ? 0 : 1),
							modelIdList : $scope.selectEquipmentTypeList,
							locationFilterList : selectedLocationId
						},
						successFn: function(res){
							goEquipment = res.data;
							$scope.equipmentList = [];

							//修改成符合下拉框的数据格式
							for(let i in goEquipment){
								$scope.equipmentList.push({
									productUnitName: goEquipment[i].productUnitName,
									id: goEquipment[i].productUnitId + "_" + (goEquipment[i].type === "EQUIPMENT" ? 0 : 1)
								})
							}
						}
					});
					//默认选中
					thisEquipmentId.forEach(item => {
						cacheList.push(item.equipmentId + "_" + item.equipmentType);
					});
                    $scope.equipment_check_list = cacheList;
				}
			});
		}

		//获取地点级联下拉框
	    function getLocationList(){
			let location_data = {};
			//构造地点级联下拉框
			http.get({
				url: $rootScope.restful_api.aps_location_readable,
				successFn: function(res){
					location_data.repeatData = res.data;
					location_data.showText = "筛选地点";
					location_data.className = "location";

					//如果是手动微调页过来的，再查询方案下的地点
					if(htmlSource === "result"){
						http.get({
							url: $rootScope.restful_api.aps_location_writable,
							successFn: function(res){
								let thisData = res.data,
									thisSchemeId = sessionStorage.schemeId;
								//遍历除当前方案
								for(let i = 0,l = thisData.length ; i < l ; i++){
									if(thisData[i].schemeId == thisSchemeId){
										let thisLocation = thisData[i].locationDtoList,
											writableLocation = [];
										//遍历除地点ID
										for(let i = 0,l = thisLocation.length ; i < l ; i++){
											writableLocation.push(thisLocation[i].locationId);
										}
										//传入组件
										location_data.writable = writableLocation;
										break;
									}
								}
								$scope.location_data = location_data;
							}
						});
					}else{
						$scope.location_data = location_data;
					}
				}
			});
	    }

	    //修改地点时，清楚设备类型和设备
	    $scope.clearEquipmentAndEquipmentType = function () {
			$scope.selectEquipmentTypeList = [];
			$scope.refreshEquipment();
		};

		//获取设备类型
		$scope.equipmentTypeList = [
			{label : '离散设备',equipmentTypeList :[]},
			{label : '生产单元',equipmentTypeList :[]}
		];
		$scope.selectEquipmentTypeList = [];//设置选中的设备类型
		function getEquipmentType() {
			http.get({
				url: $rootScope.restful_api.get_equipment_type,
				successFn: function(res){
					let equipmentTypeList = res.data;
					equipmentTypeList.forEach((item) => {
						item.id = item.modelId + "_" + item.modelType;
						if(item.modelType === 0){
							$scope.equipmentTypeList[0].equipmentTypeList.push(item)
                        }else{
							$scope.equipmentTypeList[1].equipmentTypeList.push(item)
                        }
					});
				}
			});
		}

        //获取或更新设备
		$scope.refreshEquipment = function(){
			//地点
			let selectedLocationId = $scope.get_selected_location ? $scope.get_selected_location() : [];

			//查询设备
			http.post({
				url: $rootScope.restful_api.get_all_equipment,
				data : {
					startTime : thisStartTime,
					endTime : thisEndTime,
					searchType : (htmlSource === "preview" ? 0 : 1),
					modelIdList : $scope.selectEquipmentTypeList,
					locationFilterList : selectedLocationId
                },
                successFn: function(res){
					goEquipment = res.data;
					$scope.equipmentList = [];
					$scope.equipment_check_list = [];   //每次更新数据之前，清空之前所选的设备

                    //修改成符合下拉框的数据格式
					for(let i in goEquipment){
						$scope.equipmentList.push({
							productUnitName: goEquipment[i].productUnitName,
							id: goEquipment[i].productUnitId + "_" + (goEquipment[i].type === "EQUIPMENT" ? 0 : 1)
						})
					}
				}
			});
		};

        //输入检测
        function checkSearchData(thisStartTime,thisEndTime,aEquipmentId){
            if(!thisStartTime){
                layer.alert('请选择开始时间');
                return false;
            }else if(!thisEndTime){
                layer.alert('请选择结束时间');
                return false;
            }
            if(aEquipmentId.length < 1){
                layer.alert('请选择设备');
                return false;
            }
            return true;
        }

        //二级页面内查询,刷新二级页面
        var windowSearch = false;
        $scope.change_window_table = function(){
            //获取查询条件
            let thisStartTime = tool.getFromInput_nocode(".jStartTime"),
                thisEndTime = tool.getFromInput_nocode(".jEndTime"),
                saleOrder = tool.getFromInput_nocode(".jSaleOrder"),
                materialName = tool.getFromInput_nocode(".jMaterialName"),
                materialCode = tool.getFromInput_nocode(".jMaterialCode"),
				aEquipmentId = [];

            //设备
			if($scope.equipment_check_list.length){
				for(let i = 0, l = $scope.equipment_check_list.length; i < l; i++){
					aEquipmentId.push($scope.equipment_check_list[i]);
				}
			}else{
				for(let i = 0, l = $scope.equipmentList.length; i < l; i++){
					aEquipmentId.push($scope.equipmentList[i].id);
				}
			}
            //查询值检测是否为空
            if(!checkSearchData(thisStartTime,thisEndTime,aEquipmentId)){
                return;
            }else{
            	windowSearch = true;
            }
            //刷新二级页面`
            $scope.click_creat_window(thisStartTime,thisEndTime,aEquipmentId.join(","),saleOrder,materialName,materialCode,true);
        };

        //导出excel
        $scope.output_excel1 = function(){
            //获取查询条件
			let inputList = tool.getFromInput_nocode(".table-dialog-window .info-show");
			let thisStartTime = inputList[0],
                    thisEndTime = inputList[1],
                    thisEquipmentName = inputList[2],
//                    saleOrder = inputList[3],
//                    materialName = inputList[4],
//                    materialCode = inputList[5],
                    aEquipmentId = [];

            //根据设备名获取设备ID
			let aEquipmentName = thisEquipmentName.split(",");
//            var allEquipmentId = goInfo.punitId;
			let allEquipmentInfo = goInfo.punit;

            for(let i in allEquipmentInfo){
				let thisName = allEquipmentInfo[i].punitName;
                for(let j in aEquipmentName){
                    if(aEquipmentName[j] == thisName){
						let newI = i.split("_");
                        aEquipmentId.push(newI[0]);
                    }
                }
            }
            //输入检测
            if(!checkSearchData(thisStartTime,thisEndTime,aEquipmentId)){
                return;
            }
            $http.post(excelAPI,body_data,{responseType: 'arraybuffer'}).success(function(data){
				let todayDate = new Date();
				let year = todayDate.getFullYear()+"";
				let month = todayDate.getMonth() + 1;
                if(month < 10) {
                    month = "0" + month;
                }
				let day = todayDate.getDate();
                if(day < 10) {
                    day = "0" + day;
                }
				let fileName = year + month + day + ".xls";

				let blob = new Blob([data], {type: "application/vnd.ms-excel"});
                if(!!window.ActiveXObject || "ActiveXObject" in window){
                    window.navigator.msSaveBlob(blob, fileName);
                }else{
                    var objectUrl = URL.createObjectURL(blob);
                    var aForExcel = $("<a download='"+fileName+"'><span class='forExcel'>下载excel</span></a>").attr("href",objectUrl);
                    $("body").append(aForExcel);
                    $(".forExcel").click();
                    aForExcel.remove();
                }
                layer.msg('导出成功', {time: 3500,icon: 1});
            })
        };

		//刷新导出excel下载地址
		$scope.refresh_excel = function(){
			let exportTable = $(".aps-table").clone().attr("id","exportExcel");
			let exportTableTr = exportTable.find("tr");
			let todayDate = new Date();
			let year = todayDate.getFullYear()+"";
			let month = todayDate.getMonth() + 1;
			if(month < 10) {
				month = "0" + month;
			}
			let day = todayDate.getDate();
			if(day < 10) {
				day = "0" + day;
			}
			let fileName = year + month + day + ".xls";

			exportTable.find("tbody").appendTo(exportTable.find("table"));

			exportTableTr.each(function(){
				$(this).find("td").eq(1).remove();
				$(this).find("th").eq(1).remove();
			});

			exportTable.find("th").css("border","1px solid #000");
			exportTable.find("td").css("border","1px solid #000");

			exportTable.appendTo($("body")).hide();
			let elem = document.getElementById("exportExcel"),
				content = '<html><head><meta charset="UTF-8"></head><body>' + elem.outerHTML + '</body></html>',
				EXCEL_URI = 'data:application/vnd.ms-excel;base64,',
				objectUrl = EXCEL_URI + window.btoa(unescape(encodeURIComponent(content)));

			//同步导出地址
			$(".output-excel").attr("href",objectUrl)
			$scope.file_name = fileName;
			$("#exportExcel").remove();
		};

        //前端导出excel
//        $scope.output_excel = function($event){
//        	var exportTable = $(".table-space").clone().attr("id","exportExcel");
//        	var exportTableTr = exportTable.find("tr");
//        	var todayDate = new Date();
//            var year = todayDate.getFullYear()+"";
//            var month = todayDate.getMonth() + 1;
//            if(month < 10) {
//                month = "0" + month;
//            }
//            var day = todayDate.getDate();
//            if(day < 10) {
//                day = "0" + day;
//            }
//            var fileName = year + month + day + ".xls";
//
//        	exportTableTr.each(function(){
//                $(this).find("td").eq(1).remove();
//                $(this).find("th").eq(1).remove();
//            });
//
//            if($(".countall").length > 0){
//				//删除表内汇总行
//				exportTable.find("tr").last().remove();
//
//            	var printBottom = $(".countall").clone();
//            	printBottom.children("div").eq(1).remove();
//            	var printBottomDiv = printBottom.children("div");
//	            var colNum = printBottomDiv.length;
//	            var newRow = $("<tr></tr>");
//	            for(var i = 0 ; i < colNum ; i++){
//	            	newRow.append("<td>"+printBottomDiv.eq(i).text()+"</td>");
//	            }
//	            exportTable.find("tbody").append(newRow);
//            }
//
//        	exportTable.appendTo($("body")).hide();
//        	var elem = document.getElementById("exportExcel"),
//				content = '<html><head><meta charset="UTF-8"></head><body>' + elem.outerHTML + '</body></html>',
//				EXCEL_URI = 'data:application/vnd.ms-excel;base64,',
//				objectUrl = EXCEL_URI + window.btoa(unescape(encodeURIComponent(content)));
//
//			var aForExcel = $("<a download='"+fileName+"'><span class='forExcel'>下载excel</span></a>").attr("href",objectUrl);
//            $("body").append(aForExcel);
//            $(".forExcel").click();
////            aForExcel.remove();
//        	$("#exportExcel").remove();
//			$event.preventDefault()
//        };

        //打印
		$scope.print = function(){
			let printTable = $(".aps-table").clone();
			let printTableTr = printTable.find("tr");

			printTableTr.css("transform","translateY(0)");
			printTableTr.css("transform","translateX(0)");

			printTable.find("tbody").appendTo(printTable.find("table"));

			printTableTr.each(function(){
				$(this).find("td").css("transform","translateY(0)");
				$(this).find("td").css("transform","translateX(0)");
				$(this).find("th").css("transform","translateY(0)");
				$(this).find("th").css("transform","translateX(0)");
				$(this).find("td").eq(1).remove();
				$(this).find("th").eq(1).remove();
			});


			printTable.css({"width":"100%","text-align":"center","margin":"0","padding":"0"});
			printTable.find("table").css({"width":"100%","text-align":"center","border-collapse":"collapse"});
			printTable.find("td").css({"border":"1px solid #ccc","padding":"4px","font-size":"12px","vertical-align":"middle"});
			printTable.find("th").css({"border":"1px solid #ccc","padding":"4px","font-size":"14px","font-weight":"bold"});
			let printBody = $("<div class='printBody'></div>");
			let b = $("<div></div>");
//            printBody.append($("<h1 style='text-align: center;font-size: 18px;'>生产通知单</h1>"));
			printBody.append(printTable);
			b.append(printBody);
			let newWindow = window.open("","_blank");
			newWindow.document.write('<meta charset="utf-8" />');
			newWindow.document.write('<title>生产通知单</title>');
			newWindow.document.write('<style type="text/css">@media print {.noprint,.printBody { display: none } .nextpage {page-break-after:always;}}button{margin:4px;}</style>');
			newWindow.document.write('<button class="transverse noprint">横向</button><button class="vertical noprint">纵向</button><button class="noprint">打印</button>');
			newWindow.document.write(b.html());
			newWindow.document.write('<style rel="stylesheet" href="../styles/print.css"></style>');
			newWindow.document.write('<script src="../scripts/lib/jquery.js"></'+'script>');
			newWindow.document.write('<script src="../scripts/view/print.js?t=14" charset="UTF-8"></'+'script>')
//          newWindow.focus();
//          newWindow.document.close();
//          newWindow.print();
//          newWindow.close();
		};

        //确认排序
        $scope.refresh_order = function(){
			//获取查询条件
			let thisStartTime = tool.getFromInput_nocode(".jStartTime"),
				thisEndTime = tool.getFromInput_nocode(".jEndTime"),
				saleOrder = tool.getFromInput_nocode(".jSaleOrder"),
				materialName = tool.getFromInput_nocode(".jMaterialName"),
				materialCode = tool.getFromInput_nocode(".jMaterialCode"),
				aEquipmentId = [];

			//设备
			if($scope.equipment_check_list.length){
				for(let i = 0, l = $scope.equipment_check_list.length; i < l; i++){
					aEquipmentId.push($scope.equipment_check_list[i]);
				}
			}else{
				for(let i = 0, l = $scope.equipmentList.length; i < l; i++){
					aEquipmentId.push($scope.equipmentList[i].id);
				}
			}

            //输入检测
            if(!checkSearchData(thisStartTime,thisEndTime,aEquipmentId)){
                return;
            }
            //刷新二级页面
            $scope.orderShow = !$scope.orderShow;

            layer.msg('保存成功', {time: 3500,icon: 1});
            $scope.click_creat_window(thisStartTime,thisEndTime,aEquipmentId.join(","),saleOrder,materialName,materialCode,true);
        };

        //隐藏与出现多列排序代码
        $scope.orderHide = function () {
            $scope.orderShow = !$scope.orderShow;
        };

        $scope.click_creat_window = function(startTime,endTime,equipment,saleOrder,materialName,materialCode,notFirst){
            let thisStartTime = startTime,
                thisEndTime = endTime,
                thisEquipment = equipment+"",
                thisEquipmentName = [],
                aEquipment;
            //拼接Url
            if(thisEquipment === ""){
                aEquipment = [];
            }else{
                aEquipment = thisEquipment.split(",");
            }
			let isArr = [];
            for(let i in aEquipment){
				if(goEquipment[aEquipment[i]]){
                	thisEquipmentName.push(goEquipment[aEquipment[i]].punitName);	
				}
				let isObj = {};
				let newId = aEquipment[i].split("_");
                isObj.equipmentId=newId[0];
                isObj.equipmentType=newId[1];
                isArr.push(isObj);
            }
            for(let i in aEquipment){
				if(goEquipment[aEquipment[i]]){
                	isArr[i].freezeDate=goEquipment[aEquipment[i]].freezeDate;
				}
            }

            body_data={
                "startTime":thisStartTime,
                "endTime":thisEndTime,
                "materialName":materialName,
                "materialCode":materialCode,
                "saleOrderCode":saleOrder,
                "order":$scope.selectItem.join(),
                "equipments":isArr,
                "schemeId":sessionStorage.schemeId
            };
			http.post({
				url: sourceUrl,
				data: body_data,
				successFn: function(response){
                    let jTableDialogWindow = $(".table-dialog-window");
                    jTableDialogWindow.show();
                    $(".equipment-list").remove();
					let resData = response.data;
//                      var headList = resData.columnAlias;//表头列表
					//保存数据
					$scope.pageData = $.extend([],resData.row);
                    //是否显示微调按钮
                    if(thisStartTime === thisEndTime && aEquipment.length === 1 && tool.stringToDate(thisStartTime) > tool.stringToDate(goEquipment[aEquipment[0]].freezeDate)){
                        $(".move-to-cache").show();
                    }else{
                        $(".move-to-cache").hide();
                    }

                    let windowTableData = scheduleTableViewModelService.jsonToWindowTableView(resData,$scope.combineObj.combine,$scope.selectItem,$scope.summaryObj.summary);

                    if(windowSearch && resData.row.length){
                        layer.msg('已查询，请在下方表格中查看查询结果', {time: 3500,icon: 1});
                        windowSearch = false;
                    }else if(windowSearch && (!resData.row.length)){
                        layer.msg('未查询出结果', {time: 3500,icon: 2});
                        windowSearch = false;
                    }

                    //绑定页面
					$scope.headDataView = windowTableData.headData;
					$scope.tableDataView = windowTableData.bodyData;
					$scope.countData = windowTableData.countData;

                    $timeout(function(){
                        if(!notFirst){
                            //更新查询条件
							let windowSearchBox = $(".table-dialog-window").find(".window-search-box");
                            windowSearchBox.eq(0).find("input").val(thisStartTime);
                            windowSearchBox.eq(1).find("input").val(thisEndTime);
                            windowSearchBox.eq(2).find("input").eq(0).val(thisEquipmentName.join(","));
                            windowSearchBox.eq(4).find("input").val(decodeURIComponent(saleOrder));
                            windowSearchBox.eq(5).find("input").val(decodeURIComponent(materialName));
                            windowSearchBox.eq(6).find("input").val(decodeURIComponent(materialCode));
                        }

                    },0);
                    //先放一秒钟，很稳妥
                    $timeout(function(){
                        $scope.refresh_excel();
                    },1000);

                },
				errorFn: function(response){
                    layer.alert('获取数据失败，请联系技术人员处理', {
                        skin: 'layer-alert-themecolor' //样式类名
                    });
                }
			})
        };

		//行样式
		$scope.rowClassName = function(index){
			return $scope.pageData[index].source === undefined ? "" : "row-with-source";
		};

		//点击选中合并和汇总项 cc = count combine
		$scope.addccItem = function(data,$event){
			data.show = true;
			$event.stopPropagation();
		};

		//删除选中的合并和汇总项 cc = count combine
		$scope.deleteccItem = function(data){
			data.show = false;
		};

        //二级页面点击查看
        $scope.look_sale_order = function(index,$event){
			const thisRow = $scope.pageData[index],
				pkId = thisRow.pkId,
				versionId = thisRow.versionId;
            let sUrl = "";
            if(versionId === undefined){
                sUrl = $rootScope.restful_api.preview_third + pkId;
                $(".do-code").show();
                $(".pk-id").hide();
                $(".version-id").hide();
            }else{
				sUrl = $rootScope.restful_api.result_third + pkId + "?versionId="+versionId +"&schemeId=" +sessionStorage.schemeId;
                $(".do-code").hide();
                $(".pk-id").show();
                $(".version-id").show();
            }
            //弹窗
            const indexLayer = layer.open({
                type: 1,
                title: "派工单详细信息",
//              closeBtn: 0,
                shadeClose: true,
                content : $("#do_detail_dialog"),
                success : function(){
                    //272是显示框正常宽度，450是高度
                    $(".layui-layer").css({
                        "left" : $event.pageX,
                        "top" : $event.pageY >(document.body.clientHeight - 450) ? document.body.clientHeight - 450 : $event.pageY
                    });

                    $($event.target).css("color","#1E7CD9");

                    $("body").on("click","#do_detail_dialog .sure,.layui-layer-shade,.layui-layer-close",function(){
                    	 $(".show-table .sale-order-look").css("color","");
                    });

                    $("#do_detail_dialog").on("click",".sure",function(){
                        layer.close(indexLayer);
                    })
                }
            });
			http.get({
				url: sUrl,
				successFn: function(res){
//                  $rootScope.do_detail = res.data;
                    //绑定view层
                    $scope.do_detail = res.data;
                    //json转viewModel对象
                },
				errorFn: function(res){}
			})
        };	
		
		//检查my97时间变化
		$("body").on("focus","#windowStartTime",function(){
			let newStartTime = $("#windowStartTime").val();
			if(thisStartTime !== newStartTime){
				thisStartTime = newStartTime;
				//查询设备
				$scope.refreshEquipment();
			}
		});
		$("body").on("focus","#windowEndTime",function(){
			let newEndTime = $("#windowEndTime").val();
			if(thisEndTime !== newEndTime){
				thisEndTime = newEndTime;
				//查询设备
				$scope.refreshEquipment();
			}
		})
    })
</script>
</body>
</html>