<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../styles/reset.css"/>
    <link rel="stylesheet" href="../styles/common.css" />
    <link rel="stylesheet" href="../styles/index.css" />
    <link rel="stylesheet" href="../styles/secondPage.css" />
    <link href="../images/favicon.ico" rel="icon" type="image/x-icon"/>
    <title>换装详情</title>
</head>
<body ng-controller="mainCtrl">
<div class="page-wrapper secondPage" ng-controller="previewController">
    <!--head START-->
    <div class="header">
    </div>
    <!--二级页面-->
    <div class="table-dialog-window table-window" style="opacity:0">
        <div class="dialog-window-head">
            换装详情
        </div>
        <div class="dialog-window-body">
            <div class="info-show">
                <div class="window-search-box">
                    <span>开始时间：</span>
                    <input id="windowStartTime" class="Wdate jStartTime" type="text" onClick="WdatePicker({maxDate:'#F{$dp.$D(\'windowEndTime\')}'})">
                </div>
                <div class="window-search-box">
                    <span>结束时间：</span>
                    <input id="windowEndTime" class="Wdate jEndTime" type="text" onClick="WdatePicker({minDate:'#F{$dp.$D(\'windowStartTime\')}'})">
                </div>
             	<cascader cascader-data="location_data" get-selected-location="get_selected_location" on-change="getEquipment()"></cascader>
                <div class="window-search-box">
                    <span>设备类型：</span><aps-select repeat-data="equipmentTypeList" ng-model="selectEquipmentTypeList" style="{'width' : '104px'}" label="modelName" key="id" on-change="refreshEquipment()"  multiple="true" placeholder="请选择"></aps-select>
                </div>
                <div class="window-search-box">
                    <span>设备名称：</span><aps-select class="window-search-box jPunitName" repeat-data="equipmentList" ng-model="equipment_check_list" style="{'width' : '104px'}" label="productUnitName" key="id" multiple="true" placeholder="请选择"></aps-select>
                </div>
                <div class="window-search-box">
                    <span>下个物料：</span>
                    <input type="text" class="jMaterialName">
                </div>
                <div class="window-search-button" ng-click="change_window_table()">查询</div>
            </div>
            <div class="show-table">
                <div class="table-space">
                    <table ng-style="{width : (headDataView.length * 100) + 'px'}">
                        <thead>
                        <tr>
                            <!--<th style="min-width: 44px;">序 号</th>-->
                            <th ng-repeat="title in headDataView track by $index" on-finish-render>{{title}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="tableRow in tableDataView" source={{tableRow[0].source}} on-finish-render>
                            <!--<td>{{$index+1}}</td>-->
                            <!--<td ng-repeat="tableCell in tableRow track by $index">{{tableCell.showText}}</td>-->
                            <!--<td><span class="sale-order-look" ng-click="look_sale_order(tableRow,$event)">查看</span></td>-->
                            <td ng-repeat="tableCell in tableRow.repeatData track by $index" rowspan="{{$index < 4 ? tableRow.useData : 1}}">{{tableCell}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="cover-head">
                    <!--<div>序 号</div>-->
                    <div ng-repeat="title in headDataView track by $index">{{title}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--二级页面结束-->
<!-- 加载依赖包,线上可以使用压缩版 -->
<script src="../scripts/lib/angular.js"></script>
<script src="../scripts/lib/ui-router.js"></script>
<script src="../scripts/lib/jquery.js"></script>
<script src="../scripts/lib/My97DatePicker/WdatePicker.js"></script>
<script src="../scripts/lib/angular-translate.js"></script>
<script src="../scripts/lib/angular-translate-loader-static-files.min.js"></script>
<script src="../scripts/lib/layer/layer.js"></script>
<script src="../scripts/lib/ngTouch.js"></script>
<!-- 加载入口 -->
<script src="../scripts/app.js"></script>
<script src="../scripts/config/app.js"></script>
<!--加载directive-->
<script src="../scripts/directives/directive.js"></script>
<!--加载控制器-->
<script src="../scripts/controllers/mainController.js"></script>
<!-- 加载service -->
<script src="../scripts/services/scheduleTableViewModel.js"></script>
<script src="../scripts/services/tool.js"></script>
<script src="../scripts/services/http.js"></script>
<script>
    app.controller("previewController",function($rootScope,$scope, $http,$timeout,$q,scheduleTableViewModelService,tool,http){
        
        let //设备
			goEquipment = {},
			
			//初始化查询日期
			body_data = JSON.parse(sessionStorage.getItem("hrefPrameter")),
			thisStartTime = body_data.startTime,
            thisEndTime = body_data.endTime,
//            materialName = body_data.materialName,
//            materialCode = body_data.materialCode,
//            saleOrder = body_data.saleOrderCode,
            thisEquipmentId = body_data.equipments,
            htmlSource = body_data.from,
            thisEquipmentName = [],
			
			//接口	
			sourceUrl,
			excelAPI,
			get_url,
			
			//获取排程前后所选的车间Id
			locationId;
		
		//根据不同来源，定义不同的接口
        if(htmlSource === "preview"){
			//更新接口
			$rootScope.getsessionStorage(sessionStorage.locationId_pre, sessionStorage.locationId_res, true);
//            locationId = sessionStorage.locationId_pre;
            sourceUrl=$rootScope.restful_api.pre_sourceUrl_retool;
            //导出excel接口
//            excelAPI=$rootScope.restful_api.excel_pre;
            //左键正常信息接口，右键换装接口
//            get_url=$rootScope.restful_api.preview_show_table+"?locationFilterList="+sessionStorage.locationFilterList_pre+ + "&startTime="+ thisStartTime + "&endTime="+ thisEndTime;
        }else{
			//更新接口
			$rootScope.getsessionStorage(sessionStorage.locationId_pre, sessionStorage.locationId_res, false);
//            locationId = sessionStorage.locationId_res;
            sourceUrl=$rootScope.restful_api.res_sourceUrl_retool;
            //导出excel接口
//            excelAPI=$rootScope.restful_api.excel_res;
//            get_url=$rootScope.restful_api.result_show_table+"?locationFilterList="+sessionStorage.locationFilterList_res+ "&startTime="+ thisStartTime + "&endTime="+ thisEndTime + "&schemeId=" +sessionStorage.schemeId;
        }
		
        /**
		 *desc:向后台查询换装数据
		 *time:2017-05-23
		 *author:dww
		 *@param: {Object} postData 查询参数
		 *@return:
		 **/
		$scope.getChangeData = function(postData){
			http.post({
				url: sourceUrl,
				data: postData,
				successFn: function(response) {
					
					$(".equipment-list").remove();
					let resData = response.data;
					//数据转换
					let windowTableData = scheduleTableViewModelService.jsonToSecondChange(resData);
					//表头
					$scope.headDataView = windowTableData.headInfo;
					//表格数据
					$scope.tableDataView = windowTableData.rowInfo;
					
					//提示查询成功
					if(windowSearch && resData.row.length){
                        layer.msg('已查询，请在下方表格中查看查询结果', {time: 1500,icon: 1});
                        windowSearch = false;
                    }else if(windowSearch && (!resData.row.length)){
                        layer.msg('未查询出结果', {time: 3500,icon: 2});
                        windowSearch = false;
                    }
					//渲染完成，显示页面,重置表头宽度
//					if(windowTableData.rowInfo.length === 0){
//						tool.setTableHeadWidth($(".table-dialog-window"));
//						$(".table-dialog-window").css("opacity",1);
//						return;
//					}
					$scope.$on("ngRepeatFinished",function(){
						$(".table-dialog-window").css("opacity",1);
					})
				},
				errorFn: function(response){
                    layer.alert('获取数据失败，请联系技术人员处理', {
                        skin: 'layer-alert-themecolor' //样式类名
                    });
                }
			})
		};
		
		/**
		 *desc:获取所有的设备类型
		 *time:2017-06-01
		 *author:dww
		 *@param:从后台查询的所有设备类型
		 *@return:
		 **/
		$scope.getEquipmentType = function(equipmentTypeList){
			http.get({
				url: $rootScope.restful_api.get_equipment_type,
				successFn: function(res){
					let equipmentTypeList = res.data;
					equipmentTypeList.forEach((item) => {
						item.id = item.modelId + "_" + item.modelType
					});
					$scope.equipmentTypeList = equipmentTypeList
				}
			});
		};
		
		/**
		 *desc:获取所有的设备
		 *time:2017-06-01
		 *author:dww
		 *@param:从后台查询的所有设备
		 *@return:
		 **/
		$scope.equipment_check_list = [];
		$scope.getEquipment = function(thisEquipmentId){
			//地点
            console.log($scope.get_selected_location);
			let selectedLocationId = $scope.get_selected_location ? $scope.get_selected_location() : [];

			//查询设备
			http.post({
				url: $rootScope.restful_api.get_all_equipment,
				data : {
					startTime : thisStartTime,
					endTime : thisEndTime,
					searchType : (htmlSource === "preview" ? 0 : 1),
					modelIdList : $scope.selectEquipmentTypeList,
					locationFilterList : selectedLocationId
				},
				successFn: function(res){
					goEquipment = res.data;
					$scope.equipmentList = [];

					for(let i in goEquipment){
						$scope.equipmentList.push({
							productUnitName: goEquipment[i].productUnitName,
							id: goEquipment[i].productUnitId + "_" + (goEquipment[i].type === "EQUIPMENT" ? 0 : 1)
						})
					}

					//刷新查询参数
					let windowSearchBox = $(".info-show").find(".window-search-box");
					windowSearchBox.eq(0).find("input").val(thisStartTime);
					windowSearchBox.eq(1).find("input").val(thisEndTime);
					windowSearchBox.eq(2).find("input")
						.val(thisEquipmentName.join())
						.attr("title",thisEquipmentName.join());
				}
			});
			
		};
		
		/**
		 *desc:初次加载执行的方法
		 *time:2017-05-24
		 *author:dww
		 *@param:
		 *@return:
		 **/
		$scope.render = (function(){
			let location_data = {};
			
			//构造地点级联下拉框
			http.get({
				url: $rootScope.restful_api.aps_location_readable,
				successFn: function(res){
					location_data.repeatData = res.data;
					location_data.showText = "筛选地点";
					location_data.className = "location";
					
					//如果是手动微调页过来的，再查询方案下的地点
					if(htmlSource === "result"){
						http.get({
							url: $rootScope.restful_api.aps_location_writable,
							successFn: function(res){
								let thisData = res.data,
									thisSchemeId = sessionStorage.schemeId;
								//遍历除当前方案
								for(let i = 0,l = thisData.length ; i < l ; i++){
									if(thisData[i].schemeId == thisSchemeId){
										let thisLocation = thisData[i].locationDtoList,
											writableLocation = [];
										//遍历除地点ID
										for(let i = 0,l = thisLocation.length ; i < l ; i++){
											writableLocation.push(thisLocation[i].locationId);
										}
										//传入组件
										location_data.writable = writableLocation;
										break;
									}
								}
								$scope.location_data = location_data;
							}
						});	
					}else{
						$scope.location_data = location_data;
					}
					
				}
			});

			$scope.getEquipmentType();
			
			//构造设备下拉框
			$timeout(function(){
				$scope.getEquipment(thisEquipmentId);
			},500);

			console.log(body_data);
			//根据传入数据查询一次数据
			$scope.getChangeData(body_data);
		})();
		
        //输入检测
        function checkSearchData(thisStartTime,thisEndTime,thisEquipment){
            if(!thisStartTime){
                layer.alert('请选择开始时间', {
                    skin: 'layer-alert-themecolor' //样式类名
                });
                return false;
            }else if(!thisEndTime){
                layer.alert('请选择结束时间', {
                    skin: 'layer-alert-themecolor' //样式类名
                });
                return false;
            }else if(!thisEquipment.length){
                layer.alert('请选择设备', {
                    skin: 'layer-alert-themecolor' //样式类名
                });
                return false;
            }
            return true;
        }

        //二级页面内查询,刷新二级页面
        var windowSearch = false;
        $scope.change_window_table = function(){
            //获取查询条件
            var thisStartTime = tool.getFromInput_nocode(".jStartTime"),
                thisEndTime = tool.getFromInput_nocode(".jEndTime"),
                materialName = tool.getFromInput(".jMaterialName"),
				aEquipmentId = [];

			//设备
			if($scope.equipment_check_list.length){
				for(let i = 0, l = $scope.equipment_check_list.length; i < l; i++){
					aEquipmentId.push($scope.equipment_check_list[i]);
				}
			}else{
				for(let i = 0, l = $scope.equipmentList.length; i < l; i++){
					aEquipmentId.push($scope.equipmentList[i].id);
				}
			}
			
            //输入检测
            if(!checkSearchData(thisStartTime,thisEndTime,aEquipmentId)){
                return;
            }else{
                windowSearch = true;
            }
			
			//构造查询对象
			let searchData = {
				startTime: thisStartTime,
				endTime: thisEndTime,
				materialName: materialName,
				equipments: aEquipmentId
			}
			//如果是微调页
			if(htmlSource === "result"){
				searchData.schemeId = sessionStorage.schemeId;
			}
			//查询数据，渲染页面
			$scope.getChangeData(searchData);
        };
       
        //二级页面设备下拉框
        $scope.equipment_list = function($event){
            if($(".equipment-list").length > 0){
                $(".equipment-list").remove();
                $(".table-dialog-window .equipment-input").css("border","1px solid #DEDEDE");
            }else{
				$timeout(function(){
					tool.dialogWindowEquipment(goEquipment,$event,false);
                	$(".table-dialog-window .equipment-input").css("border","1px solid #1E7CD9");
				},200);
                
            }
        };
    })
</script>
</body>
</html>