<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../styles/reset.css"/>
    <link rel="stylesheet" href="../styles/common.css" />
    <link rel="stylesheet" href="../styles/index.css" />
    <link rel="stylesheet" href="../styles/secondPage.css" />    
    <link rel="stylesheet" href="../styles/changeAToB.css" />
    <link href="../images/favicon.ico" rel="icon" type="image/x-icon"/>
    <title>任务清单</title>
</head>
<body ng-controller="mainCtrl">
<div class="page-wrapper secondPage change-a-to-b" ng-controller="previewController">
    <!--head START-->
    <div class="header">
    </div>
    <!--二级页面-->
    <div class="table-dialog-window table-window base-show">
        <div class="dialog-window-body">
            <div class="info-show">
                <div class="window-search-box">
                    <span>开始时间：</span>
                    <input id="windowStartTime" class="Wdate jStartTime" type="text" onClick="WdatePicker({isShowClear:false,maxDate:'#F{$dp.$D(\'windowEndTime\')}'})" readonly>
                </div>
                <div class="window-search-box">
                    <span>结束时间：</span>
                    <input id="windowEndTime" class="Wdate jEndTime" type="text" onClick="WdatePicker({isShowClear:false,minDate:'#F{$dp.$D(\'windowStartTime\')}'})" readonly>
                </div>
             	<cascader cascader-data="location_data" get-selected-location="get_selected_location" on-change="clearEquipmentAndEquipmentType()"></cascader>
                <div class="window-search-box">
                    <span>设备类型：</span>
                    <aps-select class="window-search-box jEquipmentType" style="{'width' : '118px'}"
                                ng-model="equipment_type_value" multiple="true" filterable="true" on-change="getEquipment()"
                    >
                        <aps-option ng-repeat="data in equipment_type_list" value={{data.id}} label={{data.modelName}} title={{data.modelName}}></aps-option>
                    </aps-select>
                </div>
                <div class="window-search-box">
                    <span>设备名称：</span>
                    <aps-select class="window-search-box jPunitName" style="{'width' : '118px'}"
                                ng-model="equipment_check_list" multiple="true" filterable="true" on-change="equipment_list()"
                    >
                        <aps-option ng-repeat="data in equipmentList" value={{data.id}} label={{data.productUnitName}}></aps-option>
                    </aps-select>
                </div>
                <div class="window-search-box">
                	<span>任务类型：</span>
                	<aps-select class="window-search-box jChangeType" style="{'width' : '118px'}"
                                ng-model="change_type" multiple="true"
                    >
                        <aps-option ng-repeat="data in change_type_list" value={{data.id}} label={{data.showName}}></aps-option>
                    </aps-select>
                </div>
                <div class="window-search-button" ng-click="change_window_table()">查询</div>
            </div>
            <div class="show-table">
               <aps-base-table head-data="headDataView" body-data="tableDataView" indexes="true" row-details="look_task"></aps-base-table>
            </div>
        </div>
    </div>
    <div style="display: none;" id="do_detail_dialog" title="派工单详细信息">
        <div class="do_detail_dialog">
            <table>
                <tr>
                    <td>销售订单</td>
                    <td>:</td>
                    <td>{{do_detail.saleOrderCode}}</td>
                </tr>
                <!--生产主计划号（缺）-->
                <tr>
                    <td>自制件计划号</td>
                    <td>:</td>
                    <td>{{do_detail.moCode}}</td>
                </tr>
                <!--车间计划号（缺）-->
                <tr class="do-code">
                    <td>派工单号</td>
                    <td>:</td>
                    <td>{{do_detail.doCode}}</td>
                </tr>
                <tr>
                    <td>物料编码</td>
                    <td>:</td>
                    <td>{{do_detail.materialCode}}</td>
                </tr>
                <tr>
                    <td>物料助记码</td>
                    <td>:</td>
                    <td>{{do_detail.materialMnem}}</td>
                </tr>
                <tr>
                    <td>物料名称</td>
                    <td>:</td>
                    <td>{{do_detail.materialName}}</td>
                </tr>
                <tr>
                    <td>物料规格</td>
                    <td>:</td>
                    <td>{{do_detail.materialSpec}}</td>
                </tr>
                <tr>
                    <td>物料单位</td>
                    <td>:</td>
                    <td>{{do_detail.materialUnit}}</td>
                </tr>

                <tr>
                    <td>工序编码</td>
                    <td>:</td>
                    <td>{{do_detail.processCode}}</td>
                </tr>
                <tr>
                    <td>工序名称</td>
                    <td>:</td>
                    <td>{{do_detail.processName}}</td>
                </tr>

                <tr>
                    <td>开始时间</td>
                    <td>:</td>
                    <td>{{do_detail.startTime}}</td>
                </tr>
                <tr>
                    <td>结束时间</td>
                    <td>:</td>
                    <td>{{do_detail.endTime}}</td>
                </tr>
                <tr>
                    <td>计划数</td>
                    <td>:</td>
                    <td>{{do_detail.taskNum}}</td>
                </tr>
            </table>
            <a style="" class="sure" href="javascript:;">确定</a>
        </div>
    </div>
    <div class="table-dialog-window table-window change-third" style="display:none">
        <div class="dialog-window-body">
            <div class="show-table">
               <aps-merge-table head-data="thirdHeadDataView" body-data="thirdTableDataView" text-name="showText"></aps-merge-table>
            </div>
        </div>
    </div>
</div>
<!--二级页面结束-->
<!-- 加载依赖包,线上可以使用压缩版 -->
<script src="../scripts/lib/angular.js"></script>
<script src="../scripts/lib/ui-router.js"></script>
<script src="../scripts/lib/jquery.js"></script>
<script src="../scripts/lib/My97DatePicker/WdatePicker.js"></script>
<script src="../scripts/lib/angular-translate.js"></script>
<script src="../scripts/lib/angular-translate-loader-static-files.min.js"></script>
<script src="../scripts/lib/layer/layer.js"></script>
<script src="../scripts/lib/ngTouch.js"></script>
<!-- 加载入口 -->
<script src="../scripts/app.js"></script>
<script src="../scripts/config/app.js"></script>
<!--加载directive-->
<script src="../scripts/directives/directive.js"></script>
<!--加载控制器-->
<script src="../scripts/controllers/mainController.js"></script>
<!-- 加载service -->
<script src="../scripts/services/scheduleTableViewModel.js"></script>
<script src="../scripts/services/tool.js"></script>
<script src="../scripts/services/http.js"></script>
<script>
    app.controller("previewController",function($rootScope,$scope, $http,$timeout,$q,scheduleTableViewModelService,tool,http){
        
        let //初始化查询日期
			body_data = JSON.parse(sessionStorage.getItem("hrefPrameter")),
			thisStartTime = body_data.startTime,
            thisEndTime = body_data.endTime,
            materialName = body_data.materialName,
            materialCode = body_data.materialCode,
            saleOrder = body_data.saleOrderCode,
            thisEquipmentId = body_data.equipments,
            htmlSource = body_data.from,
            thisEquipmentName = [],
			
			//接口	
			sourceUrl,
			excelAPI,
			get_url,
			thirdChangeUrl,
			taskListUrl,
			
			//获取排程前后所选的车间Id
			locationId;
		
		//根据不同来源，定义不同的接口
        if(htmlSource === "preview"){
			//更新接口
			$rootScope.getsessionStorage(sessionStorage.locationId_pre, sessionStorage.locationId_res, true);
			//任务清单接口
			taskListUrl = $rootScope.restful_api.task_list_preview;
			//换模三级接口
			thirdChangeUrl = $rootScope.restful_api.tasklist_change_preview;
        }else{
			//更新接口
			$rootScope.getsessionStorage(sessionStorage.locationId_pre, sessionStorage.locationId_res, false);
			//任务清单接口
			taskListUrl = $rootScope.restful_api.task_list_result;
			//换模三级接口
			thirdChangeUrl = $rootScope.restful_api.tasklist_change_result;
        }
		
		$scope.change_type = [];
		$scope.change_type_list = [
			{
				showName: "派工单",
				id: 0
			},
			{
				showName: "换装",
				id: 1
			},
			{
				showName: "保养换装",
				id: 2
			}
		]
		
        /**
		 *desc:向后台查询任务清单数据
		 *time:2017-05-23
		 *author:dww
		 *@param: {Object} postData 查询参数
		 *@return:
		 **/
		$scope.getChangeData = function(postData){
			//查询换模类型、是否隐藏相同
			let changeType = $scope.change_type;
			postData.retoolType = changeType.length ? changeType : [0,1,2];
			http.post({
				url: taskListUrl,
				data: postData,
				successFn: function(response) {
					
					var resData = response.data;
					//缓存数据
					$scope.lastTableData = resData.row;
					//数据转换
					var windowTableData = scheduleTableViewModelService.jsonToChangeTaskList(resData);
					//表头
					$scope.headDataView = windowTableData.headInfo;
					//表格数据
					$scope.tableDataView = windowTableData.rowInfo;
					
					//提示查询成功
					if(windowSearch && resData.row.length){
                        layer.msg('已查询，请在下方表格中查看查询结果', {time: 1500,icon: 1});
                        windowSearch = false;
                    }else if(windowSearch && (!resData.row.length)){
                        layer.msg('未查询出结果', {time: 3500,icon: 2});
                        windowSearch = false;
                    }
				},
				errorFn: function(response){
                    layer.alert('获取数据失败，请联系技术人员处理', {
                        skin: 'layer-alert-themecolor' //样式类名
                    });
                }
			})
		}

		//修改地点时，清楚设备类型和设备
		$scope.clearEquipmentAndEquipmentType = function () {
			$scope.equipment_type_value = [];
			$scope.getEquipment();
		};

		/**
		 *desc:查询设备信息
		 *time:2017-06-01
		 *author:dww
		 *@return:
		 **/
		$scope.getEquipment = function(){
			//查询设备
			http.post({
				url: $rootScope.restful_api.get_all_equipment,
				data: {
					startTime: thisStartTime,
					endTime: thisEndTime,
					searchType: htmlSource === "preview" ? 0 : 1,
					modelIdList: $scope.equipment_type_value,
					locationFilterList: $scope.get_selected_location ? $scope.get_selected_location() : []
				},
				successFn: function(res){
					let equipmentData = res.data;
						$scope.equipmentList = [];
					    $scope.equipment_check_list = [];   //每次更新数据之前，清空之前所选的设备

					for(let idType in equipmentData){
						$scope.equipmentList.push({
							productUnitName: equipmentData[idType].productUnitName,
							id: equipmentData[idType].productUnitId + "_" + (equipmentData[idType].type === "EQUIPMENT" ? 0 : 1)
						})
					}


					//刷新查询参数
					let windowSearchBox = $(".info-show").find(".window-search-box");
					windowSearchBox.eq(0).find("input").val(thisStartTime);
					windowSearchBox.eq(1).find("input").val(thisEndTime);
				}
			});
		};
		
		/**
		 *desc:初次加载执行的方法
		 *time:2017-05-24
		 *author:dww
		 *@param:
		 *@return:
		 **/
		$scope.render = (function(){
			let location_data = {}
			
			//构造地点级联下拉框
			http.get({
				url: $rootScope.restful_api.aps_location_readable,
				successFn: function(res){
					location_data.repeatData = res.data;
					location_data.showText = "筛选地点";
					location_data.className = "location";
					
					//如果是手动微调页过来的，再查询方案下的地点
					if(htmlSource === "result"){
						http.get({
							url: $rootScope.restful_api.aps_location_writable,
							successFn: function(res){
								let thisData = res.data,
									thisSchemeId = sessionStorage.schemeId;
								//遍历除当前方案
								for(let i = 0,l = thisData.length ; i < l ; i++){
									if(thisData[i].schemeId == thisSchemeId){
										let thisLocation = thisData[i].locationDtoList,
											writableLocation = [];
										//遍历除地点ID
										for(let i = 0,l = thisLocation.length ; i < l ; i++){
											writableLocation.push(thisLocation[i].locationId);
										}
										//传入组件
										location_data.writable = writableLocation;
										break;
									}
								}
								$scope.location_data = location_data;
							}
						});	
					}else{
						$scope.location_data = location_data;
					}
					
				}
			});
			
			//构造设备类型下拉框
			http.get({
				url: $rootScope.restful_api.get_equipment_type,
				successFn: function(res){

					let resData = res.data,
						equipment_type_list = [];//0是离散型，1是产线性

					//对设备类型进行分类
					for(let i = 0, l = resData.length ; i < l ; i++){
						let thisEquipmentType = resData[i],
							thisData = {
								modelName: thisEquipmentType.modelName,
								id: thisEquipmentType.modelId + '_' + thisEquipmentType.modelType
							};

						equipment_type_list.push(thisData);
					}
					//渲染到页面
					$scope.equipment_type_list = equipment_type_list;
				}
			});
			
			
			//构造设备下拉框
			let newEquipment = [];
			$scope.getEquipment();
			$timeout(function(){
				for(let i = 0, l = thisEquipmentId.length; i < l; i++){
					newEquipment.push(thisEquipmentId[i].equipmentId + "_" + thisEquipmentId[i].equipmentType);
				}
				$scope.equipment_check_list = newEquipment;
			},500)
			
			//根据传入数据查询一次数据
			$scope.getChangeData(body_data);
		})();
		
        //输入检测
        function checkSearchData(thisStartTime,thisEndTime,thisEquipment){
            if(!thisStartTime){
                layer.alert('请选择开始时间');
                return false;
            }else if(!thisEndTime){
                layer.alert('请选择结束时间');
                return false;
            }else if(!thisEquipment.length){
                layer.alert('请选择设备');
                return false;
            }
            return true;
        }

        //二级页面内查询,刷新二级页面
        var windowSearch = false;
        $scope.change_window_table = function(){
            //获取查询条件
            var thisStartTime = tool.getFromInput_nocode(".jStartTime"),
                thisEndTime = tool.getFromInput_nocode(".jEndTime"),
                aEquipment = [];
            //已选设备,没有就取全下拉框设备
			let checkEqupment = $scope.equipment_check_list;
			
			for(let i = 0 , l = checkEqupment.length ; i < l ; i++){
				if(checkEqupment[i]){
					let thisIdType = checkEqupment[i].split("_");
					aEquipment.push({
						equipmentId: thisIdType[0],
						equipmentType: thisIdType[1]
					})
				}
			}
			
            //输入检测
            if(!checkSearchData(thisStartTime,thisEndTime,aEquipment)){
                return;
            }else{
                windowSearch = true;
            }
			
			//构造查询对象
			let searchData = {
				startTime: thisStartTime,
				endTime: thisEndTime,
				equipments: aEquipment
			}
			//如果是微调页
			if(htmlSource === "result"){
				searchData.schemeId = sessionStorage.schemeId;
			}
			//查询数据，渲染页面
			$scope.getChangeData(searchData);
        };
		
		//查看详细信息
		$scope.look_task = function(index,$event){
			const rowData = $scope.lastTableData[index],
				  id = rowData.workTaskId,
				  isChange = rowData.workTaskType != 0;
			
			//派工单或者换模
			if(isChange){//换模
				
				//弹窗
				const indexLayer = layer.open({
					type: 1,
					title: "换模详细信息",
	//              closeBtn: 0,
					shadeClose: true,
					area: ["80%","80%"],
					content : $(".change-third"),
					success : function(){
						//272是显示框正常宽度，450是高度
//						$(".layui-layer").css({
//							"left" : $event.pageX,
//							"top" : $event.pageY >(document.body.clientHeight - 450) ? document.body.clientHeight - 450 : $event.pageY
//						});
//
//						$("#do_detail_dialog").on("click",".sure",function(){
//							layer.close(indexLayer);
//						})
					}
				});
				
				http.get({
					url: thirdChangeUrl + id,
					successFn: function(res){
						//处理数据
						var resData = res.data;
						
						//数据转换
						var windowTableData = scheduleTableViewModelService.jsonToChangeAToB(resData);
						//绑定页面
						//表头
						$scope.thirdHeadDataView = windowTableData.headInfo;
						//表格数据
						$scope.thirdTableDataView = windowTableData.rowInfo;
						$timeout(function(){
							//重置表头
							$(".change-third .cover-head").css("left",0);
							$(".change-third .table-space").on("scroll", function () {
								let coverHead = $(".change-third .cover-head");
								let scrollLeft = $(this).scrollLeft();
								let scrollTop = $(this).scrollTop();
								coverHead.css("left", -scrollLeft);
								//根据滚动条绝对定位固定列的位置
								coverHead.children().eq(0).css("left",scrollLeft);
								coverHead.children().eq(1).css("left",scrollLeft + coverHead.children().eq(0).width());
							});
						},0)
					}
				})
			}else{//派工单
				let sUrl = "";
				if(htmlSource === "preview"){
					sUrl = $rootScope.restful_api.preview_third + id;
					$(".do-code").show();
					$(".pk-id").hide();
					$(".version-id").hide();
				}else{
					const id_version = id.split("_"),
						  pkId = id_version[0],
						  versionId = id_version[1];
					sUrl = $rootScope.restful_api.result_third + pkId + "?versionId="+versionId +"&schemeId=" +sessionStorage.schemeId;
					$(".do-code").hide();
					$(".pk-id").show();
					$(".version-id").show();
				}
				//弹窗
				const indexLayer = layer.open({
					type: 1,
					title: "派工单详细信息",
	//              closeBtn: 0,
					shadeClose: true,
					content : $("#do_detail_dialog"),
					success : function(){
						//272是显示框正常宽度，450是高度
						$(".layui-layer").css({
							"left" : $event.pageX,
							"top" : $event.pageY >(document.body.clientHeight - 450) ? document.body.clientHeight - 450 : $event.pageY
						});

						$("#do_detail_dialog").on("click",".sure",function(){
							layer.close(indexLayer);
						})
					}
				});
				http.get({
					url: sUrl,
					successFn: function(res){
	//                  $rootScope.do_detail = res.data;
						//绑定view层
						$scope.do_detail = res.data;
						//json转viewModel对象
					},
					errorFn: function(res){}
				})
			}
		};
		

		//检查my97时间变化
		$("body").on("focus","#windowStartTime",function(){
			let newStartTime = $("#windowStartTime").val();
			if(thisStartTime !== newStartTime){
				thisStartTime = newStartTime;
				$scope.getEquipment();
			}
		});
		$("body").on("focus","#windowEndTime",function(){
			let newEndTime = $("#windowEndTime").val();
			if(thisEndTime !== newEndTime){
				thisEndTime = newEndTime;
				$scope.getEquipment();
			}
		})
    })
</script>
</body>
</html>