{
  "presets": [
    ["env", { "modules": false }],//让Tree Shaking 从打包文件中删除未使用的导出项（exports）以减少文件大小。
    "stage-2"
  ],
  "plugins": ["transform-runtime"],
  "comments": false,
  "env": {
    "test": {
      "presets": ["env", "stage-2"],
      "plugins": [ "istanbul" ]
    }
  }
}
