/*
	common.scss文件存放可复用的scss文件
 */
@import "resetStyle.scss";
/***********=======地点树======***********/
@import 'common/locationTree.scss';
/***********=======穿梭框======***********/
@import 'common/transfer.scss';
/***********=======输入框下拉列表组件======***********/
@import 'common/select.scss';
/***********=======表单按钮switch形式======***********/
@import 'common/switch.scss';
/***********=======表单按钮checkBox形式======***********/
@import 'common/checkBox.scss';
/***********=======表单按钮radio形式======***********/
@import 'common/radio.scss';
/***********=======slide滑块======***********/
@import 'common/slide.scss';
/***********=======自定义滚动条======***********/
@import 'common/scroll-bar.scss';
/***********=======表格======***********/
@import 'apsTable.scss';

.tl{text-align: left}
.tc {text-align: center;}
.tr{text-align: right;}
.textover{text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
.fl{float: left;}
.fr{float: right;}
.flex{display: flex;}
.hide{display: none;}
.show{display: block;}
.relative{position: relative;}
.absolute{position: absolute;}
.clearfix:after{content:"";display:block;clear:both;height: 0;overflow: hidden;}
.fs-12{font-size: 12px;}
.fs-14{font-size: 14px;}
.fs-16{font-size: 16px;}
.bold{font-weight: bold;}
.ml--30{margin-left: -30px;}
.ml--15{margin-left: -15px;}
.m-0-auto{margin: 0 auto}
@for $i from 1 through 10 {
	.ml-#{$i*5}{  margin-left: $i*5 + px;  }
	.mr-#{$i*5}{  margin-right: $i*5 + px;  }
	.mt-#{$i*5}{  margin-top: $i*5 + px;  }
	.mb-#{$i*5}{  margin-bottom: $i*5 + px;  }
}
.ml-55{margin-left: 55px;}
.mt-60{margin-top: 60px;}
.mt-80{margin-top: 80px;}
/*常用颜色*/
.c-999{color:#999;}
.c-ccc{color: #ccc;}
.red{color: #f00;}
.orange{color: $orange;}
/*
 * 页面头部的样式设置。
 */
html{
	height: 100%;
}
body {
	font-size: 14px;
	height: 100%;
	background: url(../images/APS-background.jpg) fixed top center  no-repeat;
}
body .page-wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
}
.header {
	flex: 0 0 68px;
	min-width: 800px;
	background: url(../images/wanfeng-logo.png) #FFFFFF left 30px center no-repeat;
}
.header .header-top {
	height: 60px;
	background-color: #326899;
}
.header .header-logo {
	display: inline-block;
	width: 80px;
	height: 88px;
	background: url(../images/rt-logo.png) no-repeat;
	position: relative;
	top: -98px;
}
.header .header-bottom {
	text-align: center;
}
.header .header-bottom .header-bottom-wrap {
	width: 200px;
	height: 40px;
	display: inline-block;
}
.header .header-bottom-wrap .header-block {
	float: left;
	/*display: inline-block;*/
}
.header .header-bottom-wrap .header-block-left,
.header .header-bottom-wrap .header-block-right {
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-width: 10px;
	border-left-width: 10px;
	border-top-color: #326899;
}
.header .header-bottom-wrap .header-block-left {
	border-right-color: #326899;
}
.header .header-bottom-wrap .header-block-right {
	border-left-color: #326899;
}
.header .header-bottom-wrap .header-block-center {
	width: 160px;
	height: 40px;
	background-color: #326899;
}

/*================合并项=================*/
.combine-item dt{
	margin-top: 7px;
	width:70px;
	line-height: 18px;
}
.combine-menu{
	position: relative;
	padding: 2px;
	width: 232px;
	border:1px solid #ccc;
	background-color: #fff;
	span{
		margin: 2px 2px;
		padding: 0 10px;
		line-height: 24px;
		color: #fff;
		background-color: #1d77d1;
		border-radius: 3px;
	}
	p{
		min-height: 24px;
	}
	.delete{
		position: relative;
		width: 10px;
		height: 10px;
		background: url("../images/delete.png");
		background-size: 10px;
		&:after{
			content: "";
			position: absolute;
			top: -3px;
			left: -7px;
			width: 1px;
			height: 16px;
			background-color: #fff;
		}
	}
	&:after{
		content: "";
		position: absolute;
		top: 7px;
		right: 10px;
		width: 8px;
		height: 8px;
		border-bottom: 2px solid #999;
		border-left: 2px solid #999;
		-webkit-transition: transform .5s;
		-ms-transition: transform .5s;
		transition: transform .5s;
		transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
	}
	&.active:after{
		top: 11px;
		transition: transform .5s;
		transform: rotate(135deg);
		-ms-transform: rotate(135deg);
		-moz-transform: rotate(135deg);
	}
}
.combine-drag{
	display: none;
	position: absolute;
	top: 29px;
	left: -1px;
	width: 236px;
	background-color: #fff;
	border: 1px solid #1d77d1;
	z-index: 10;
	&.drag{
		display: block;
	}
	li{
		width: 220px;
		padding:4px 10px;
		height: 24px;
		line-height: 24px;
		color: #333;
		&:hover{
			color: #1d77d1;
			cursor: pointer;
		}
	}
}
/***********=======合并项结束======***********/
.save-sort,.reset-config{
	display: inline-block;
	width: 60px;
	height: 28px;
	text-align: center;
	line-height: 28px;
	color: #333;
	background-color: #d9d9d9;
	border: 2px solid #d9d9d9;
}
.save-sort:hover,.reset-config:hover{
	border:2px solid #808080;
}

/***********=======用户信息start======***********/
.pbody .top-right-button .user-info{
	position: relative;
	padding-right: 40px;
}
.pbody .user-info:after{
	content: "";
	position: absolute;
	top: 4px;
	right: 20px;
	width: 8px;
	height: 8px;
	border-bottom: 1px solid #666;
	border-left: 1px solid #666;
	transition: transform 0.5s;
	transform: translateY(0) rotate(-45deg);
	-ms-transform: translateY(0) rotate(-45deg);
}
.pbody .user-info.active:after{
	color: #0071ce;
	border-color: #0071ce;
	transition: transform 0.5s;
	transform: translateY(4px) rotate(135deg);
	-ms-transform: translateY(4px) rotate(135deg);
}
.pbody .user-info-box{
	display: none;
	position: absolute;
	top: 34px;
	right: 6px;
	background-color: #f2f2f2;
	width: 90px;
	padding: 10px 0;
	border: 1px solid #dedede;
	border-radius: 4px;
	z-index: 99;
	text-align: center;
	cursor: auto;
	&:after{
		content: "";
		position: absolute;
		top: -8px;
		right: 10px;
		width: 14px;
		height: 14px;
		background-color: #f2f2f2;
		border-top: 1px solid #dedede;
		border-left: 1px solid #dedede;
		transform: rotate(45deg);
	}
	li{
		height: 20px;
		line-height: 20px;
		padding: 4px 0;
		color: #666;
		cursor: pointer;
	}
}
.pbody .user-info-box li:hover,
.pbody .user-info-box li:hover a{
	color: #333;
	background-color: #d9d9d9;
}
.pbody .user-info-box a{
	display: inline-block;
	width: 100%;
}
.pbody .active .user-info-box{
	display: block;
}
/***********=======用户信息end======***********/

.select-none{
-moz-user-select:none;/*火狐*/
-webkit-user-select:none;/*webkit浏览器*/
-ms-user-select:none;/*IE10*/
user-select:none;
}

.search-item-name{
	width: 70px;
	text-align: right;
}
.start-search {
	margin: 20px auto 0;
	width: 60px;
	height: 28px;
	font-size: 14px;
	color: #fff;
	text-align: center;
	letter-spacing: 2px;
	border-radius: 4px;
	line-height: 28px;
	background-color: #1e7cd9;
	cursor: pointer;
}