@charset "utf-8";

@import 'resetStyle.scss';
$borderColor : #dedede;//不知道为什么被resetStyle覆盖了

.config-box {
    display: flex;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 94%;
    height: 90%;
}


/*========参数配置页面左边目录栏==========*/
@import "config/leftNav.scss";

/*=========参数配置页面右边内容栏=========*/
.config-box {
    input[type=checkbox], input[type=radio], select{
        display: none;
    }
    .input-text-box{
        padding-left: 5px;
        width: 133px;
        height: 28px;
        line-height: 24px;
        border: 1px solid #d9d9d9;
    }
    .config-content {
        flex: auto;
        height: 100%;
        overflow: hidden;
        box-sizing: border-box;
        background-color: #f0f3fa;
    }
    .config-content-title {
        padding-left: 30px;
        height: 67px;
        line-height:67px;
        font-size: 18px;
        font-weight: bold;
        color: #195999;
        border-bottom: 1px solid #dedede;
    }
    .config-main {
        position: relative;
        height: 100%;
    }
    .right-content{
        height: calc(100% - 68px);
    }
}

/*/===========右边内容小目录.config-box .right-content{===============/*/
.check-rule-nav{
    width: 15%;
    min-width: 120px;
    background-color: #dde5f0;
    .left-nav-title{
        height: 46px;
        border-bottom: 1px solid #dedede;
        box-sizing: border-box;
    }
    nav{
        height: calc(100% - 46px);  //减去标题头的高度
        ul {
            height: 100%;
            overflow: auto;
            background-color: #dde5f0;
        }
    }
    li{
        position: relative;
        box-sizing: border-box;
        padding-left: 20px;
        width: 100%;
        height: 46px;
        line-height: 46px;
        color: #292929;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        cursor: pointer;
        &.active{
            background-color: #f0f3fa;
        }
        &:hover{
            padding-right: 40px;
            background-color: #f0f3fa;
        }
        .left-nav-name {
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        b {
            display: none;
            position: absolute;
            top: 0;
            right: 0;
            width: 38px;
            height: 46px;
            background: url("../images/garbage.png") no-repeat 8px 14px #f0f3fa;
            z-index: 10;
        }
        &:hover b{
            display: block;
        }
    }

    input {
        width: 126px;
        height: 30px;
        line-height: 30px;
        background-color: transparent;
        box-sizing: border-box;
        &:focus{
            border: 1px solid $themeColor;
            background-color: #fff;
        }
    }
}
.addRule{
    padding-left: 20px;
    height: 46px;
    line-height: 46px;
    background: url("../images/add-rule-blue.png") no-repeat 0 14px;
    cursor: pointer;
    &:hover{
        color: $themeColor;
    }
}

/********============配置页面显示项============********/
@import "config/display.scss";

/********============排程规则============********/
.check-content,.schedule-content{height: 100%;}
@import "config/scheduleRule.scss";

/********============排程方案============********/
@import "config/schedulePlan.scss";

/********============管理员配置============********/
@import "config/adminDisplay.scss";


/********============新建方案或规则的弹出框---start============********/
.layer-box {
    position: absolute;
    top: calc(50% - 130px);
    left: 50%;
    width: 374px;
    height: 260px;
    background-color: #fff;
    box-shadow: 1px 1px 30px rgba(0, 0, 0, .3);
    @include scale(0);
    @include transform-origin(50%, 50%);
}

.layer-title {
    padding-left: 20px;
    font-size: 16px;
    height: 48px;
    line-height: 48px;
    background-color: #f0f0f0;
}

.layer-content {
    padding: 20px 30px;
}

.layer-content input {
    width: 168px;
    padding: 5px;
    height: 18px;
    line-height: 28px;
    border: 1px solid #ccc;
}

#planSelect, #ruleSelect {
    display: inline-block;
    width: 180px;
    height: 30px;
    border: 1px solid #ccc;
}
/********============新建方案或规则的弹出框---end============********/

/********============单选框，多选框样式============********/
