@mixin scale($n) {
    -webkit-transform: scale($n);
    -ms-transform: scale($n);
    transform: scale($n);
}

@mixin transform-origin($x,$y) {
    -webkit-transform-origin: $x $y;
    -ms-transform-origin: $x $y;
    transform-origin: $x $y;
}

@mixin transition($prop,$time) {
    -webkit-transition: $prop $time;
    -ms-transition: $prop $time;
    transition: $prop $time;
}

@mixin rotate($deg) {
    -webkit-transform: rotate($deg);
    -ms-transform: rotate($deg);
    transform: rotate($deg);
}

$themeColor : #1E7CD9;
$config-box-height : 814px;
$title-height : 68px;
$config-content-height : $config-box-height -  $title-height;
/*========参数配置页面左边目录栏==========*/
.config-box {
    width: 1366px;
    height: $config-box-height;
}

.config-nav {
    width: 220px;
    height: 100%;
    color: #fff;
    background-color: #38434f;
    box-sizing: border-box;
}

.configNavTitle {
    //padding: 14px 0;
    min-height: $title-height;
    line-height: $title-height;
    font-size: 18px;
    text-align: center;
    color: #fff;
    border-bottom: 1px solid #151b26;
}

.configLi a {
    padding-left: 20px;
    width: 210px;
    line-height: 46px;
    font-size: 16px;
    color: #e5e5e5;
    border-left: 4px solid transparent;
    cursor: pointer;
}

.configLi a:hover, .configLi.active > a {
    color: #fff;
    border-left: 4px solid #1E7CD9;
    background-color: #375373;
}
.config-nav li li a{
    font-size: 14px;
}
.config-nav li li.active > a {
    margin-left: -20px;
    padding-left: 40px;
    color: #fff;
    border-left: 4px solid #1E7CD9;
    background-color: #375373;
}

.configLi .nav-angle {
    position: absolute;
    right: 20px;
    top: 16px;
    width: 9px;
    height: 9px;
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    @include rotate(45deg);
    @include transition(all, .5s);
}

.configLi .nav-angle:hover {
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.configLi.drag .nav-angle {
    top: 22px;
    @include rotate(-135deg);
    @include transition(all, 1s);
}

/*二级目录样式*/
.configLi ul {
    max-height: 0;
    background-color: #2c3642;
    @include transition(max-height, 1s);
}

.configLi.drag ul {
    max-height: 150px;
    @include transition(max-height, 1s);
}

.configLi li {
    padding-left: 20px;
}

.configLi li a:hover {
    margin-left: -20px;
    padding-left: 40px;
}

/*=========参数配置页面右边内容栏=========*/
.config-box input[type=checkbox],
.config-box input[type=radio],
.config-box .checkItem select,
.config-box .adminContent select
 {
    display: none;
}
.config-box .input-text-box{
    padding-left: 5px;
    width: 133px;
    height: 28px;
    line-height: 24px;
    border: 1px solid #d9d9d9;
}
.config-box .config-content {
    width: 1138px;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
    background-color: #f0f3fa;
}

.config-box .ConfigMain {
    position: relative;
    height: 100%;
}

/*/多列配置页面/*/
.config-box .config-content-title {
    padding-left: 30px;
    height: 67px;
    line-height:67px;
    font-size: 18px;
    font-weight: bold;
    color: #195999;
    border-top-right-radius: 4px;
    border-bottom: 1px solid #dedede;
}

/*单选框，多选框样式*/
.input-check{
    width: 16px;
    height: 16px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    vertical-align: middle;
    background-color: #fff;
    cursor: pointer;
}
.input-radio{
    @extend .input-check;
    border-radius: 50%;
}

input:checked + .input-check {
    border: none;
    background: url("../images/selected.png") #fff;
}
input:checked + .input-radio{
    position: relative;
    border:1px solid $themeColor;
    background-image: none;
    &:after{
        content: "";
        position: absolute;
        top: 4px;
        left: 4px;
        width: 6px;
        height: 6px;
        background-color: $themeColor;
        border-radius: 50%;
    }
}
.config-box .table-sort-itemList {
    display: flex;
    width: 480px;
}
.all-location{
    &:after{
        display: none;
    }
}
/*二级页面显示项*/
.display-combine-line{
    display: flex;
    align-items: center;
}
/*/校验规则可配/*/
.check-rule-nav{
    width: 180px;
    height: $config-content-height;
    background-color: #dde5f0;
    .schedulePlanLi.active, .schedulePlanLi:hover,.ruleLi.active,.ruleLi:hover {
        background-color: #f0f3fa;
    }
    li b {
        display: none;
        position: absolute;
        top: 14px;
        right: 20px;
        width: 14px;
        height: 14px;
        background: url("../images/garbage.png") no-repeat;
        z-index: 10;
        &.delete {
            display: block;
        }
    }
    .addRule,.nav-manage {
        position: absolute;
        top: 14px;
        left: 20px;
        width: 16px;
        height: 16px;
        cursor: pointer;
    }
    .addRule:after,.addRule:before{
        content: "";
        position: absolute;
        top: 5px;
        left: 2px;
        width: 16px;
        height: 2px;
        background-color: #8e9092;
    }
    .addRule:hover:after,.addRule:hover:before {
        background-color: #1E7CD9;
    }
    input {
        width: 120px;
        background-color: transparent;
    }
    .nav-manage {
        left: auto;
        right: 20px;
        background: url("../images/set-gray.png") no-repeat;
    }
    .addRule:before {
        top: -2px;
        left: 9px;
        width: 2px;
        height: 16px;
    }
    .nav-manage:hover {
        background-image: url("../images/set-blue.png");
    }
}
.config-form{
    width: 902px;
    height: $config-content-height;
    overflow: auto;
    box-sizing: border-box;
}
.check-rule-nav li, .check-scheme-nav li {
    position: relative;
    padding-left: 30px;
    height: 46px;
    line-height: 46px;
    color: #292929;
    cursor: pointer;
}

.config-box .checkContent dt {
    min-width: 170px;
    text-align: right;
}

.config-box dd.relative {
    padding-left: 5px;
    height: 28px;
    width: 133px;
    line-height: 28px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
}

.config-box dd.relative:hover {
    border: 1px solid #1e7cd9;
}

.config-box .checkItem input[type=text] {
    display: inline-block;
    padding-left: 5px;
    width: 133px;
    height: 28px;
    line-height: 24px;
    border: 1px solid #d9d9d9;
}

.config-box .checkItem input[type=text].error {
    border: 1px solid red;
}

.config-box .checkItem input[type=text]:focus {
    border: 1px solid #1e7cd9;
}

.checkItem label {
    display: inline-block;
    min-width: 100px;
}

.config-box .info {
    font-size: 12px;
    color: #aaa;
    margin-left: 15px;
}

.config-box .scheduleCheck {
    width: 100%;
}

.config-box .scheduleCheck label {
    min-width: 200px;
}

.config-box .scheduleCheck label:nth-child(4n+1) {
    text-align: left;
}

.config-content dd.relative:after {
    content: "";
    position: absolute;
    top: 6px;
    right: 12px;
    width: 8px;
    height: 8px;
    border-bottom: 1px solid #999;
    border-left: 1px solid #999;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.config-box .scheduleDrag {
    display: none;
    position: absolute;
    top: 28px;
    left: -1px;
    background-color: #fff;
    border: 1px solid #1e7cd9;
    z-index: 10;
}

.config-box .scheduleDrag.draw {
    display: block;
}

.config-box dd.disabled {
    color: #808080;
    background-color: #ecf0f1;
}

.config-box dd.not-edit {
    cursor: not-allowed;
}

.config-box dd.disabled .scheduleDrag {
    display: none;
}

.config-box dd.disabled:hover {
    border: 1px solid #d9d9d9;
}

.config-box .scheduleDrag li {
    padding: 0 5px;
    width: 128px;
    min-width: 88px;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
}

.scheduleDrag li:hover, .scheduleDrag li.active {
    color: #1e7cd9;
}

.config-box .checkConfig {
    padding: 30px 0 0 100px;
}

.config-setting ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 400px;;
}

.schedule-weight-map {
    h6 {
        min-width: 170px;
    }
    dl {
        height: 55px;
    }
    .clearfix dt {
        min-width: 75px;
    }
    b {
        font-weight: normal;
        color: #f00;
        height: 14px;
        line-height: 14px;
    }
}

.weight-map-box {
    width: 600px;
    dl:nth-child(even) {
        margin-left: 30px;
    }
}

input.disabled{
    background-color: #ecf0f1;
    cursor: not-allowed;
}
.show-advanced-configuration{
    position: relative;
    color: #0490f1;
    cursor: pointer;
    &:after,&:before{
        content: "";
        position: absolute;
        top: 9px;
        right: -12px;
        width: 5px;
        height: 5px;
        border-left: 1px solid #0490f1;
        border-top: 1px solid #0490f1;
        @include rotate(45deg);
    }
    &:after{
        top: 13px;
    }
    &.reverse{
        &:after,&:before{
            @include rotate(-135deg);
        }
    }
}
.checkR-rule-line{
    border-top: 1px solid #ccc;
}

/*排程方案*/
.planContent {
    height: 700px;
    overflow: auto;
}

.config-box .leftPlan {
    width: 180px;
    height: 700px;
}

.config-box .leftPlan .addPlan {
    padding-left: 10px;
    color: #1e7cd9;
    cursor: pointer;
}

.config-box .addCircle {
    position: relative;
    top: 3px;
    left: -10px;
    width: 12px;
    height: 12px;
    border: 2px solid #1e7cd9;
    border-radius: 50%;
    cursor: pointer;
}

.config-box .addCircle:after, .config-box .addCircle:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 2px;
    width: 8px;
    height: 2px;
    background-color: #1e7cd9;
}

.config-box .addCircle:before {
    top: 2px;
    left: 5px;
    width: 2px;
    height: 8px;
}

.config-box .middleWorkshop {
    width: 340px;
}

.middleWorkshop h6 span {
    color: #808080;
    font-size: 12px;
}

.middleWorkshop nav a {
    position: relative;
    padding-left: 5px;
    width: 108px;
    height: 30px;
    line-height: 28px;
    color: #333;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    border: 2px solid #d9d9d9;
    background-color: #d9d9d9;
    vertical-align: middle;
    box-sizing: border-box;
}

.middleWorkshop nav .select-rule {
    width: 140px;
}

.middleWorkshop nav .select-rule:after {
    content: "";
    position: absolute;
    right: 5px;
    top: 6px;
    width: 7px;
    height: 7px;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    @include rotate(45deg);
}

.middleWorkshop li > a .delete {
    position: absolute;
    top: -10px;
    right: -7px;
    width: 14px;
    height: 14px;
    background: url("../images/garbage.png") no-repeat;
    z-index: 10;
}

.workshop-manage {
    width: 16px;
    height: 16px;
    background: url("../images/set-gray.png") no-repeat;
    cursor: pointer;
}

.workshop-manage:hover {
    background-image: url("../images/set-blue.png");
}

.workshop-ruleNav {
    position: relative;
    display: inline-block;
}

.workshop-ruleNav ul {
    position: absolute;
    top: 30px;
    right: 0;
    width: 140px;
    max-height: 0;
    line-height: 30px;
    text-align: center;
    overflow: hidden;
    overflow-y: auto;
    transition: max-height .5s;
    z-index: 10;
}

.workshop-ruleNav.active ul {
    max-height: 140px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    @include transition(max-height, .5s);
    //-webkit-transition: max-height .5s;
    //-ms-transition: max-height .5s;
    //transition: max-height .5s;
}

.workshop-ruleNav li {
    position: relative;
    padding-left: 5px;
    height: 30px;
    line-height: 30px;
    text-align: left;
    color: #333;
    background-color: #fff;
    cursor: pointer;
}

.workshop-ruleNav li:hover {
    background-color: #1e7cd9;
    color: #fff;
}

.workshop-ruleNav li:hover .viewRule {
    display: block;
}

.workshop-ruleNav .viewRule {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    color: #1e7cd9;
    background-color: #1b6fc3;
}

.workshop-ruleNav .viewRule:before {
    content: "";
    position: absolute;
    top: 6px;
    right: 6px;
    width: 14px;
    height: 14px;
    border: 1px solid #fff;
    border-radius: 50%;
}

.workshop-ruleNav .viewRule:after {
    content: "...";
    color: #fff;
    position: absolute;
    top: -5px;
    right: 9px;
}

.workshop-ruleNav ul li:hover .viewRule {
    color: #fff;
}

.config-box .location-show {
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 0;
    width: 400px;
    background-color: transparent;
}
.planContent .rightLocation{
    position: static;
    //min-height: 680px;
    //border-left: 1px solid #ccc;
}

.rightLocation h6 {
    height: 54px;
    line-height: 54px;
}
.planContent .rightLocation i.disabled{
    background-color: #fff;
    pointer-events: none;
}
/*pap*/
.papRuleContent label {
    display: block;
}

/*/保存提示框/*/
.config-box .info-mask {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 120;
}

.config-box .info-mask.active {
    display: block;
}

.config-box .info-box {
    position: absolute;
    top: calc(50% - 130px);
    left: 50%;
    min-width: 178px;
    padding: 0 10px;
    height: 58px;
    line-height: 58px;
    border: 1px solid #dedede;
    overflow: hidden;
    box-shadow: 1px 1px 30px rgba(0, 0, 0, .3);
    background-color: #fff;
    @include scale(0);
    @include transform-origin(50%, 50%);
}

@-webkit-keyframes show {
    from {
        @include scale(0);
    }
    10% {
        @include scale(1);
    }
    90% {
        @include scale(1);
    }
    to {
        @include scale(0);
    }
}

@-ms-keyframes show {
    from {
        @include scale(0);
    }
    10% {
        @include scale(1);
    }
    90% {
        @include scale(1);
    }
    to {
        @include scale(0);
    }
}

.config-box .info-mask.active .info-box {
    animation: show 2s;
    -ms-animation: show 2s;
    transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
}

.config-box .info-box span {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    background: url("../images/config-info.jpg") no-repeat;
}

.config-box .info-box.error span {
    background-position-y: -56px;
}

.delete-mask {
    width: 14px;
    height: 14px;
    background: url("../images/delete.png");
    background-size: 14px;
    cursor: pointer;
}

.layer-box {
    position: absolute;
    top: calc(50% - 130px);
    left: 50%;
    width: 374px;
    height: 260px;
    background-color: #fff;
    box-shadow: 1px 1px 30px rgba(0, 0, 0, .3);
    @include scale(0);
    @include transform-origin(50%, 50%);
}

.layer-title {
    padding-left: 20px;
    font-size: 16px;
    height: 48px;
    line-height: 48px;
    background-color: #f0f0f0;
}

.layer-title .close {
    font-size: 32px;
    color: #666;
    cursor: pointer;
}

.layer-content {
    padding: 20px 30px;
}

.layer-content input {
    width: 168px;
    padding: 5px;
    height: 18px;
    line-height: 28px;
    border: 1px solid #ccc;
}

#planSelect, #ruleSelect {
    width: 180px;
    height: 30px;
    border: 1px solid #ccc;
}
