@charset "utf-8";

.pbody {
    .exDiffer-window {
        display: none;
        flex-direction: column;
        position: absolute;
        width: 80%;
        height: 80%;
        left: 10%;
        top: 10%;
        background-color: #FFF;
        text-align: center;
        opacity: 0;
        z-index: 30;
        
        .external-diff-tab {
            width: 125px;
            border-bottom: 1px solid #dedede;
            background-color: #d4dfef;
            
            li {
                display: block;
                position: relative;
                background-color: #d4dfef;
                font-size: 14px;
                line-height: 45px;
                color: #333333;
                cursor: pointer;
                
                .each-diff-num{
                    position: absolute;
                    right: 5px;
                    top: 0px;
                    width: auto;
                    padding: 0px 4px;
                    border: 1px solid red;
                    border-radius: 8px;
                    height: 15px;
                    line-height: 15px;
                    color: #fff;
                    background-color: #f00;
                    font-size: 12px;
                }
            }
            
            .click-tab{
                color: #1d7eda;
                background-color: #fff;
            }
            
            .warning-task{
                position: absolute;
                width: 14px;
                height: 14px;
                right: 107px;
                top: 15px;
                background: url(../images/warning-task.png) no-repeat;    
            }
        }
        
        .add-to-APS{
            width: 90px;
            height: 30px;
            line-height: 30px;
            cursor: pointer;
            margin: 20px auto 0;
            padding: 0 8px;
            background-color: #3e7ec3;
            color: #fff;
            border-radius: 3px;
        }
        
        .cover-head {
            position: absolute;
            height: 36px;
            line-height: 36px;
            border: 1px solid #ccc;
            div {
                float: left;
                height: 100%;
                border: 1px solid #ccc;
                background-color: #3e7ec3;
                color: #fff;
            }
            
            input {
                &:checked {
                    &+span {
                        background:url(../images/selected.png) center #FFF;
                        border:1px solid #1e7cd9;
                    }
                }
            }
        }
        
        .dialog-window-body {
            flex: 1 1;
            display: flex;

            .window-tr-onlook {
                background-color: #fcefa1;
            }
            
            .move-to-cache {
                height: 30px;
                line-height: 30px;
                margin: 20px auto 0;
                color: #fff;
                
                span{
                    margin: 0 10px;
                    padding: 0 8px;
                    background-color: #3e7ec3;
                    border:1px solid #3e7ec3;
                    cursor: pointer;
                    
                    &:hover {
                        border:1px solid #ddd;
                    }
                }
                
                .cance-move{
                   display: none;
                }
            }
        }
        
        .show-table {
            flex: 1 1;
            position: relative;
            width: 100%;
            padding: 20px;

            .table-space {
                position: absolute;
                max-height: calc(100% - 40px);
                width: calc(100% - 40px);
                overflow: auto;
            }
            
            table {
                border-collapse: collapse;
                width: 100%;
                
                tbody{
                    width: 100%;
                }
                
                thead {
                    width: 100%;
                    height: 36px;
                }
            }
            
            th,td {
                border: 1px solid #ccc;
            }
            
            th {
                height: 36px;
                line-height: 36px;
                table-layout: fixed;
            }
            
            td {
                height: 30px;
                line-height: 30px;
            }
            
            tr {
                &:nth-child(even){
                    background-color: #edeeed;
                }
            }
            
            input {
                display: none;
                
                &:checked {
                    &+span {
                        background:url(../images/selected.png) center #FFF;
                        border:1px solid #1e7cd9;
                    }
                }
            }
            
            .check {
                display: inline-block;
                width: 14px;
                height: 14px;
                background: url(../images/unchecked.png);
                cursor: pointer;
            }
        }
        
        .dialog-window-head {
            flex: 0 0 40px;
            line-height: 40px;
            font-size: 16px;
            color: #333;
            background-color: #f0f0f0;
            border: none;
            
            .help-span {
                position: absolute;
                right: 45px;
                top: 7px;
                width: 25px;
                height: 25px;
                line-height: 25px;
                background: url(../images/tip.png) no-repeat center center;
                
                .help-box {
                    display: none;
                    position: absolute;
                    width: 174px;
                    height: 57px;
                    left: -139px;
                    top: -77px;
                    padding: 5px 20px;
                    background-color: #fff;
                    border-radius: 4px;
                    z-index: 1;
                    
                    &:after {
                        content: "";
                        display: block;
                        position: absolute;
                        bottom: -8px;
                        left: 143px;
                        width: 0;
                        height: 0;
                        border-left: 8px solid transparent;
                        border-right: 8px solid transparent;
                        border-top: 8px solid #fff;
                    }
                    
                    p{
                        height: 28px;
                        line-height: 28px;
                        font-size: 13px;
                        color: #333;
                    }
                }
            }
            
			.exDiffer-dimension {
				position: absolute;
				right: 70px;
				padding: 0 10px;
				font-size: 14px;
				color: #888;
				cursor: pointer;
				&:hover {
					background-color: #e8e8e8;
					color: #3e7ec3;
				}
			}
            i{
                position: absolute;
                right: -10px;
                /*float: right;*/
                padding: 13px;
                width: 14px;
                height: 14px;
                background: url(../images/cancel.png) center center no-repeat;
                cursor: pointer;
                
                &:hover {
                    background-color:#e8e8e8;
                }
            }
        }
        
        .null-data{
            display: none;
            position: absolute;
            top: 40px;
            width: 100%;
            height: calc(100% - 100px);
            line-height: 340px;
            padding: 30px 0px;
            background-color: #fff;
            color: #a7a7a7;
            font-size: 16px;
            z-index: 1;
        }
    }
    
    .exDiffer {
        .brightColor {
            color: #1d7eda;
        }
    }
}

body {
    .differ-tip {
        .layui-layer-content{
            transform: translate(-50%);
            background-color: #ff9e12;
            
            .layui-layer-TipsB{
                left: calc(50% - 10px);
                top: -18px;
                border-bottom: 10px solid #ff9e12;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
            }
        }
    }
}