@charset "utf-8";
//引入相关组件样式
@import 'resetStyle.scss';
@import 'index/progressBar.scss';
@import 'index/exterDifference.scss';
@import 'index/secondDifference.scss';
@import 'index/layer.scss';

/*
 * 页面表格内容样式文件。
 */

.pbody {
	flex: 1 1;
	position: relative;
	min-width: 800px;
}

/* 页面内容层样式。 */

.pbody .pbody-wrap {
	position: relative;
	margin: 70px 113px 0 45px;
}

/*右上角按钮区*/

.pbody .top-right-button {
	position: absolute;
	right: 0;
	top: -68px;
	height: 68px;
	padding-left: 30px;
	line-height: 68px;
	font-size: 14px;
	color: #333;
	&>span {
		border-right: 1px solid #dedede;
		padding: 0 20px;
		cursor: pointer;
		display: inline;
		&:hover {
			color: #1e7cd9;
		}
		&>a {
			&:hover {
				color: #1e7cd9;
			}
		}
		&:last-child {
			border-right: none;
		}
	}
}

/*右边栏*/

.pbody .right-menu-switch {
	position: absolute;
	top: 20px;
	right: 22px;
	width: 24px;
	height: 24px;
	background: url(../images/aps-icon.png) no-repeat;
	background-position: 0 0;
	cursor: pointer;
	z-index: 22;
}
.right-menu {
	position: absolute;
	top: 0;
	right: 0;
	padding-top: 100px;
	width: 68px;
	height: calc(100% - 100px);
	text-align: center;
	background: rgba(0, 0, 0, 0.3);
	z-index: 20;
}
.cache-num {
	display: none;
	position: absolute;
	right: 36px;
	top: 0;
	padding: 0 4px;
	border: 1px solid red;
	border-radius: 8px;
	height: 16px;
	line-height: 16px;
	color: #fff;
	background-color: red;
	font-size: 14px;
}
.external-diff-num {
	@extend .cache-num; //注释
}
.right-menu-button {
	position: relative;
	width: 24px;
	height: 24px;
	padding: 10px 22px;
	cursor: pointer;
	&:hover {
		background-color: #1d7ed8;
		i {
			background-position-x: -24px;
		}
		.hide-tr-icon {
			background: url(../images/hide.png) no-repeat;
		}
		.change-model-icon {
			background: url(../images/change-model.png) no-repeat;
		}
		.show-material-icon {
			background: url(../images/show-material.png) no-repeat;
		}
	}
	i {
		display: block;
		width: 24px;
		height: 24px;
		background-image: url(../images/APSicon.png);
		background-repeat: no-repeat;
	}
	.external-differ-icon {
		background: url(../images/external_differ.png) no-repeat;
	}
	.hide-tr-icon {
		background: url(../images/hide.png) no-repeat;
	}
	.change-model-icon {
		background: url(../images/change-model.png) no-repeat;
	}
	.show-material-icon{
		background: url(../images/show-material.png) no-repeat;
	}
}
.search-btn-icon {
	background-position: 0 -24px;
}
.turn-to-back-icon {
	background-position: 0 -48px;
}
.to-fact-icon {
	background-position: 0 -72px;
}
.differ-btn {
	i {
		background-position: 0 -96px;
	}
}
.edit-again-icon {
	background-position: 0 -120px;
}
.back-one-icon {
	background-position: 0 -168px;
}
.jiaoyan-icon {
	background-position: 0 -192px;
}
.pap-open-icon {
	background-position: 0 -216px;
}
.pap-close-icon {
	background-position: 0 -240px;
}
.differ-btn.active {
	background-color: #1d7ed8;
	i {
		background-position-x: -24px;
	}
}
.search-btn-click {
	background: #1d7ed8;
	.search-btn-icon {
		background: url(../images/APSicon.png) top -24px left -24px no-repeat;
	}
}
.to-fact-click {
	background: #1d7ed8;
	.to-fact-icon {
		background: url(../images/APSicon.png) top -72px left -24px no-repeat;
	}
}
.class-triangle {
	content: "";
	display: block;
	position: absolute;
	right: -10px;
	top: 10px;
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 10px solid #4d4d4d;
}
.tip {
	display: none;
	position: absolute;
	top: 0;
	padding: 10px 0;
	left: -220px;
	width: 120px;
	height: 24px;
	font-size: 16px;
	color: #fff;
	background-color: #4d4d4d;
	border-radius: 4px 0 0 4px;
	opacity: .3;
	cursor: pointer;
	z-index: 8;
	&:after {
		@extend .class-triangle;
	}
}
.search-btn {
	.search-box {
		display: none;
		position: absolute;
		right: 68px;
		top: 0;
		width: 618px;
		background-color: #fff;
		border: 1px solid #ccc;
		z-index: 10;
		cursor: default;
		&:after {
			@extend .class-triangle;
			border-left: 10px solid $titleBgColor;
		}
	}
	.search-box-title{
		height: 40px;
		line-height: 40px;
		text-align: center;
		font-size: 16px;
		background-color: $titleBgColor;
		border-bottom: 1px solid #dedede;
	}
	.search-content{
		padding: 20px 30px;
	}
	.search-item{
		display: inline-block;
		margin: 0 15px 20px 0;
	}
	.hide_search_empty{
		display: block;
		input{
			vertical-align: -2px;
		}
	}
}
/*下拉框样式独立抽离出来*/
//.drop-down-list{
//	//display: none;
//	position: absolute;
//	left: 73px;
//	top: 29px;
//	z-index: 10;
//	width: 180px;
//	border: 1px solid #ccc;
//	box-sizing: border-box;
//	background-color: #fff;
//	input{
//		width: 150px;
//		border: 1px solid #ccc;
//		padding-left: 5px;
//	}
//	ul{
//		max-height: 120px;
//		overflow: auto;
//	}
//	li{
//		width: calc(100% - 20px);
//		padding: 0 10px;
//		min-width: 88px;
//		line-height: 30px;
//		//border-bottom: 1px solid #ccc;
//		cursor: pointer;
//		&:hover{
//			//color: $themeColor
//		}
//		&.active{
//			color: $themeColor
//		};
//		&:last-child{
//			border-bottom: none;
//		}
//	}
//	.active{
//		color: $themeColor;
//	}
//}
/* 预排转实际   */
.to-fact {
	.to-fact-box {
		display: none;
		position: absolute;
		left: -318px;
		top: 1px;
		width: 288px;
		height: 400px;
		padding: 30px 0 30px 30px;
		background-color: #fff;
		cursor: default;
		z-index: 10;
		&:after {
			@extend .class-triangle;
			border-left: 10px solid #fff;
		}
		.fact-days {
			text-align: left;
			margin-bottom: 18px;
			font-size: 14px;
			color: #333;
		}
		div {
			text-align: left;
			margin-bottom: 24px;
			font-size: 14px;
			color: #333;
		}
		.device-title {
			margin-right: 30px;
			font-size: 16px;
			color: #333;
			&:before,
			&:after {
				content: "";
				display: inline-block;
				position: absolute;
				left: 0;
				top: 84px;
				width: 107px;
				height: 1px;
				background-color: #dedede;
			}
			&:after {
				left: auto;
				right: 0;
			}
		}
		.check {
			display: inline-block;
			position: absolute;
			top: 5px;
			left: 0;
			width: 14px;
			height: 14px;
			background-image: url(../images/unchecked.png);
			cursor: pointer;
		}
		.start-to-fact {
			position: absolute;
			bottom: 0;
			left: 50%;
			margin-left: -30px;
			width: 60px;
			height: 28px;
			text-align: center;
			line-height: 28px;
			font-size: 14px;
			color: #333;
			letter-spacing: 2px;
			border: 2px solid transparent;
			background-color: #d9d9d9;
			cursor: pointer;
			&:hover {
				outline: 2px #808080 solid;
			}
		}
		input {
			height: 18px;
			width: 30px;
			padding: 0 9px;
			border: 1px solid #ccc;
			margin-left: 3px;
			text-align: center;
			outline: none;
			font-size: 14px;
			&:focus {
				border: 1px solid #1e7cd9;
			}
		}
		.sa_icon {
			position: absolute;
			width: 20px;
			height: 20px;
			cursor: pointer;
			&:hover {
				background-position-x: -20px;
			}
		}
		.normal_sub {
			right: 78px;
			top: 2px;
			background: url(../images/add_sub.png) no-repeat 0 0;
		}
		.normal_add {
			right: 0;
			top: 2px;
			background: url(../images/add_sub.png) no-repeat 0 -20px;
		}
		.each_days_input {
			position: absolute;
			right: 24px;
			top: 2px;
		}
	}
	.cover_i {
		position: absolute;
		top: 0;
		left: 0;
		width: 24px;
		height: 24px;
		padding: 10px 22px;
	}
	.days-tip {
		font-size: 12px;
		color: #808080;
	}
	.select_all {
		position: relative;
		padding-left: 26px;
		input[type=checkbox] {
			display: none;
			&:checked {
				&+span {
					background: url(../images/selected.png) center #fff;
					border: 1px solid #1e7cd9;
				}
			}
		}
	}
	.each-pName-div {
		@extend .select_all;
	}
	.single_label {
		input[type=checkbox] {
			display: none;
		}
		input[type=checkbox]:checked {
			&+span {
				background: url(../images/selected.png) center #fff;
				border: 1px solid #1e7cd9;
			}
		}
	}
	.select_single {
		max-height: 233px;
		overflow: auto;
		padding-right: 30px;
	}
}
.change-one {
	margin-top: 20px;
	&:before {
		content: "";
		position: absolute;
		top: -10px;
		left: 10px;
		width: 48px;
		height: 1px;
		background-color: #4d4d4d;
		pointer-events: none;
	}
}
.tab-fo-ba {
	display: none;
}
.tab-del-fo-ba {
	@extend .tab-fo-ba;
}


/* 表格样式相关   */
.wrap-content {
	width: 100%;
	height: 100%;
	.table {
		flex-direction: column;
		position: relative;
		display: flex;
		width: 100%;
		.page-select {
			display: none;
			position: absolute;
			top: 316px;
			width: 130px;
			height: 80px;
			opacity: 0.5;
			background-size: 60%;
			cursor: pointer;
			&:hover {
				opacity: 1;
			}
		}
		.page-left {
			right: 1365px;
			background: url(../images/icon-left.png) center center no-repeat;
		}
		.page-right {
			right: -185px;
			background: url(../images/icon-right.png) center center no-repeat;
		}
		/*  表头高度设置        */
		.table-head {
			display: flex;
			flex: 0 0 70px;
			overflow: hidden;
			.current-show-location-name {
				font-size: 24px;
			}
			&>div {
				flex: 1 1;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
				line-height: 20px;
				text-align: center;
				color: #fff;
				font-size: 12px;
				&:first-child{
					flex: 0 0 150px;
					margin-right: 10px;
					background-color: rgba(255,255,255,0.2);
				}
				&>div {
					flex: 0 0 116px;
					padding: 0 17px;
					margin-right: 10px;
					background: rgba(255, 255, 255, 0.2);
					line-height: 70px;
					text-align: center;
					color: #fff;
					font-size: 12px;
					cursor: pointer;
					&:last-child {
						margin-right: 0;
					}
					&>span {
						font-size: 24px;
						&:last-child {
							margin-left: 18px;
						}
					}
				}
			}
		}
		/*  表格内容     */
		.table-body {
			flex: 1 1;
			font-size: 16px;
			.table-equipment-head {
				float: left;
				width: 150px;
				height: calc(100vh - 320px);
				margin: 10px 10px 0 0;
				overflow: hidden;
				.table-td{
					position: relative;
					margin-top: 10px;
					width: 150px;
					height: 150px;
					background-color: rgba(255,255,255,0.2);
					color: #fff;
					text-align: center;
					line-height: 30px;
					font-size: 14px;
					text-overflow: ellipsis;
					white-space: nowrap;
					overflow: hidden;
					&:first-child{
						margin-top: 1px;
					}
					.show-info{
						font-size: 22px;
					}
				}
				.differSameItemEquipment{
					position: relative;
					height: 310px;
					margin-bottom: 10px;
					&:last-child{
						margin-bottom: 0;
					}
					&:after{
						content: "";
						position: absolute;
						top: 136px;
						left: 56px;
						width: 36px;
						height: 36px;
						background: url(../images/angel.png) no-repeat;
						background-size: 100% 100%;
					}
					&:before{
						content: "";
						position: absolute;
						left: 0;
						top: 150px;
						width: 150px;
						height: 10px;
						background: rgba(255, 255, 255, 0.2);
					}
					
				}
			}
			.table-content {
				display: flex;
				flex-direction: column;
				margin-top: 10px;
				max-height: calc(100vh - 320px);
				overflow-y: auto;
				overflow-x: hidden;
				.table-tr {
					flex: 0 0 150px;
					position: relative;
					display: flex;
					margin-bottom: 10px;
					&:first-child {
						margin-top: 2px;
					}
					&:last-child {
						margin-bottom: 0;
					}
					.table-td {
						box-sizing: border-box;
						position: relative;
						flex: 0 0 150px;
						margin-right: 10px;
						vertical-align: top;
						height: 150px;
						border: 2px solid rgba(255, 255, 255, 0.2);
						overflow: hidden;
						&:first-child {
							display: none;
						}
						&:last-child {
							margin-bottom: 0;
						}
						.td-front {
							position: absolute;
							margin-top: -142px;
							background: rgba(255, 255, 255, 0.2);
						}
						.td-front-non {
							position: absolute;
							background: -webkit-repeating-linear-gradient(-45deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.4) 1%, rgba(153, 153, 153, 0.8) 1%, rgba(255, 255, 255, 0.3) 2%);
							background: repeating-linear-gradient(-45deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.4) 1%, rgba(153, 153, 153, 0.8) 1%, rgba(255, 255, 255, 0.3) 2%);
							background: -moz-repeating-linear-gradient(-45deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.4) 1%, rgba(153, 153, 153, 0.8) 1%, rgba(255, 255, 255, 0.3) 2%);
						}
						.td-back {
							padding-top: 25px;
							box-sizing: border-box;
							color: #fff;
							font-size: 16px;
							background: rgba(255, 255, 255, 0.2);
							p {
								line-height: 30px;
								&:after {
									display: inline-block;
									content: '';
									height: 100%;
									width: 0;
									vertical-align: middle;
									text-align: center;
								}
							}
						}
						.freeze_info {
							position: absolute;
							top: 10px;
							left: 10px;
							width: 20px;
							height: 20px;
							background: url(../images/over_freeze.png) no-repeat 0px -40px;
							z-index: 4;
						}
						.lock_info {
							background: url(../images/over_freeze.png) no-repeat 0px 0px;
						}
						.over-Capability {
							position: absolute;
							top: 10px;
							left: 120px;
							width: 20px;
							height: 20px;
							background: url(../images/over_freeze.png) no-repeat 0px -20px;
							z-index: 4;
						}
						&>div {
							margin: 2px 0 0 2px;
							width: calc(100% - 4px);
							height: calc(100% - 4px);
							text-align: center;
						}
					}
					.table-td:first-child {
						.show-info {
							font-size: 22px;
						}
						.td-front {
							background: rgba(255, 255, 255, 0.2);
							color: #fff;
						}
					}
					.table-td-check,.cache-check {
						border: 2px solid #c1111e;
					}
					.table-td-suit {
						box-shadow: inset 0px 0px 0px 2px #00c800;
					}
					.table-font-wrap {
						width: 150px;
						position: relative;
					}
					.table-td-front {
						.td-front {
							transform: rotateY(0deg);
							opacity: 1;
						}
						.td-back {
							opacity: 0;
							transform: rotateY(180deg);
						}
					}
					.table-td-back {
						.td-front {
							transform: rotateY(180deg);
							opacity: 0;
						}
						.td-back {
							opacity: 1;
							transform: rotateY(0deg);
						}
					}
				}
			}
		}
	}
	.small-table {
		flex-direction: column;
		position: relative;
		display: flex;
		width: 100%;
		.page-select {
			display: none;
			position: absolute;
			top: 316px;
			width: 130px;
			height: 80px;
			opacity: 0.5;
			background-size: 60%;
			cursor: pointer;
			&:hover {
				opacity: 1;
			}
		}
		.page-left {
			right: 1365px;
			background: url(../images/icon-left.png) center center no-repeat;
		}
		.page-right {
			right: -185px;
			background: url(../images/icon-right.png) center center no-repeat;
		}
		/*  表头高度设置        */
		.table-head {
			display: flex;
			flex: 0 0 20px;
			overflow: hidden;
			&>div{
				flex: 1 1;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
				line-height: 20px;
				text-align: center;
				color: #fff;
				font-size: 12px;
				&:first-child{
					flex: 0 0 80px;
					margin-right: 2px;
					background-color: rgba(255,255,255,0.2);
				}
				&>div{
					flex: 0 0 60px;
					margin-right: 2px;
					background: rgba(255, 255, 255, 0.2);
					cursor: pointer;
					&:last-child {
						margin-right: 0;
					}
					&>span {
						font-size: 24px;
						&:last-child {
							margin-left: 18px;
						}
					}
				}
			}
		}
		/*  表格内容     */
		.table-body {
			flex: 1 1;
			font-size: 16px;
			.table-equipment-head {
				float: left;
				width: 80px;
				height: calc(100vh - 260px);
				margin: 2px 2px 0 0;
				overflow: hidden;
				.table-td{
					position: relative;
					margin-top: 2px;
					width: 80px;
					height: 30px;
					background-color: rgba(255,255,255,0.2);
					color: #fff;
					text-align: center;
					line-height: 30px;
					font-size: 14px;
					text-overflow: ellipsis;
					white-space: nowrap;
					overflow: hidden;
					&:first-child{
						margin-top: 1px;
					}
				}
				.differSameItemEquipment{
					position: relative;
					height: 63px;
					margin-bottom: 2px;
					&:last-child{
						margin-bottom: 0;
					}
					&:after{
						content: "";
						position: absolute;
						top: 23px;
						left: 32px;
						width: 16px;
						height: 16px;
						background: url(../images/angel.png) no-repeat;
						background-size: 100% 100%;
					}
					&:before{
						content: "";
						position: absolute;
						left: 0;
						top: 30px;
						width: 80px;
						height: 2px;
						background: rgba(255, 255, 255, 0.2);
					}
					
				}
			}
			.table-content {
				display: flex;
				flex-direction: column;
				margin-top: 2px;
				max-height: calc(100vh - 260px);
				overflow-y: auto;
				overflow-x: hidden;
				/*小格子一级差异化*/
				.differSameItem {
					display: flex;
					flex-direction: column;
					flex: 0 0 63px;
					margin-bottom: 2px;
					&:last-child {
						margin-bottom: 0;
					}
					.table-tr {
						.table-td {
							opacity: 0.2;
							cursor: default;
						}
						&:first-child {
							&:before {
								display: none;
							}
							&:after {
								display: none;
							}
						}
					}
				}
				.table-tr {
					flex: 0 0 30px;
					position: relative;
					display: flex;
					margin-bottom: 2px;
					&:first-child {
						margin-top: 1px;
					}
					&:last-child {
						margin-bottom: 0;
					}
					.table-td {
						position: relative;
						box-sizing: border-box;
						flex: 0 0 60px;
						margin-right: 2px;
						vertical-align: top;
						height: 30px;
						overflow: hidden;
						background: -webkit-repeating-linear-gradient(-45deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.4) 1%, rgba(153, 153, 153, 0.8) 1%, rgba(255, 255, 255, 0.3) 2%);
							background: repeating-linear-gradient(-45deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.4) 1%, rgba(153, 153, 153, 0.8) 1%, rgba(255, 255, 255, 0.3) 2%);
							background: -moz-repeating-linear-gradient(-45deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.4) 1%, rgba(153, 153, 153, 0.8) 1%, rgba(255, 255, 255, 0.3) 2%);
						&:first-child {
							display: none;
						}
						&:last-child {
							margin-bottom: 0;
						}
						.show-info {
							height: 30px;
							font-size: 14px;
						}
						.show-info-time {
							position: absolute;
							top: 50%;
							left: 0;
							text-overflow: ellipsis;
							width: 100%;
							text-align: center;
							max-height: 28px;
							line-height: 14px;
							font-size: 14px;
							color: #fff;
							transform: translate(0,-50%);
						}						
						.td-front {
							position: absolute;
							background: rgba(255, 255, 255, 0.2);
						}
//						.td-front-non {
//							position: absolute;
//							background: -webkit-repeating-linear-gradient(-45deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.4) 1%, rgba(153, 153, 153, 0.8) 1%, rgba(255, 255, 255, 0.3) 2%);
//							background: repeating-linear-gradient(-45deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.4) 1%, rgba(153, 153, 153, 0.8) 1%, rgba(255, 255, 255, 0.3) 2%);
//							background: -moz-repeating-linear-gradient(-45deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.4) 1%, rgba(153, 153, 153, 0.8) 1%, rgba(255, 255, 255, 0.3) 2%);
//						}
						.show_materialName {
							position: absolute;
							top: 0;
							left: 0;
							width: 60px;
							height: 30px;
						}
						.td-back {
							padding-top: 25px;
							box-sizing: border-box;
							color: #fff;
							font-size: 16px;
							background: rgba(255, 255, 255, 0.2);
							p {
								line-height: 30px;
								&:after {
									display: inline-block;
									content: '';
									height: 100%;
									width: 0;
									vertical-align: middle;
									text-align: center;
								}
							}
						}
						.freeze_info {
							position: absolute;
							top: 10px;
							left: 10px;
							width: 20px;
							height: 20px;
							background: url(../images/over_freeze.png) no-repeat 0px -40px;
							z-index: 4;
						}
						.lock_info {
							background: url(../images/over_freeze.png) no-repeat 0px 0px;
						}
						.over-Capability {
							position: absolute;
							top: 10px;
							left: 120px;
							width: 20px;
							height: 20px;
							background: url(../images/over_freeze.png) no-repeat 0px -20px;
							z-index: 4;
						}
					}
					.table-td:first-child {
						flex: 0 0 80px;
						.td-front {
							background: rgba(255, 255, 255, 0.2);
							color: #fff;
						}
						.show_materialName{
							display: none
						} 
					}
					.table-td-check,.cache-check {
						border: 1px solid #c1111e;
					}
					.table-td-suit {
						box-shadow: inset 0px 0px 0px 1px #00c800;
					}
					.td-front-non {
						background: -webkit-repeating-linear-gradient(-45deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.4) 1%, rgba(153, 153, 153, 0.8) 1%, rgba(255, 255, 255, 0.3) 2%);
						background: repeating-linear-gradient(-45deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.4) 1%, rgba(153, 153, 153, 0.8) 1%, rgba(255, 255, 255, 0.3) 2%);
						background: -moz-repeating-linear-gradient(-45deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.4) 1%, rgba(153, 153, 153, 0.8) 1%, rgba(255, 255, 255, 0.3) 2%);
					}
					.table-font-wrap {
						float: left;
						height: 30px;
						position: relative;
					}
				}
			}
		}
	}
	.tips {
		width: 400px;
		height: 400px;
		margin-left: auto;
		margin-right: auto;
		background: url(../images/loading.gif) no-repeat center center;
	}
}
/*全屏展示相关*/
.pbody {
	.jFixed {
		margin: 56px 80px 0;
		.small-table {
			.table-body {
				.table-content{
					max-height: calc(100vh - 180px);
				}
				.table-equipment-head{
					height: calc(100vh - 180px);
				}
			}
		}
		.table {
			.table-body {
				.table-content{
					max-height: calc(100vh - 236px);
				}
				.table-equipment-head{
					height: calc(100vh - 236px);
				}
			}
		}	
		.scrollbar {
			.scrollbar-dateSelect {
				top: calc(115px - 100vh);
			}
		}
	}
}

.show-info {
	position: absolute;
	top: 50%;
	left: 0;
	text-overflow: ellipsis;
	width: 100%;
	line-height: 30px;
	font-size: 30px;
	overflow: hidden;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
}

/* 详细信息弹出框内表格样式*/

.do_detail_dialog {
	padding: .5em 1em;
	.sure {
		display: block;
		margin: 20px auto 10px;
	}
	table {
		td {
			max-width: 150px;
			min-width: 10px;
			vertical-align: top;
		}
	}
}
.do_temp_detail_dialog {
	padding: .5em 1em;
	table {
		td {
			max-width: 150px;
			min-width: 10px;
			vertical-align: top;
		}
	}
}

/*遮盖层                （未查到.window-cover，暂时拿掉）*/

.cover {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: .2;
}

/*暂存间*/

.cache-window {
	position: absolute;
	width: calc(40% - 110px);
	height: calc(100vh - 150px);
	min-width: 360px;
	min-height: 500px;
	right: 68px;
	top: 30px;
	background-color: #fff;
	.info-show {
		//width: 480px;2017-4-1
		text-align: left;
	}
}
.mouse-text {
	position: fixed;
	z-index: 30;
}
.tr-holder {
	height: 30px;
	width: 100%;
	border: 1px dashed red;
}
.dialog-window-body {
	.move-to-cache {
		height: 30px;
		line-height: 30px;
		margin: 20px auto 0;
		color: #fff;
		span {
			margin: 0 10px;
			padding: 0 8px;
			background-color: $themeColor;
			border: 1px solid $themeColor;
			cursor: pointer;
			&:hover {
				border: 1px solid #ddd;
			}
		}
		.cance-move {
			display: none;
		}
	}
}

/*订单拆分数量弹窗*/

.num-window {
	display: none;
	width: 160px;
	position: absolute;
	background-color: #fff;
	box-shadow: 0 0 10px 5px #888;
	z-index: 24;
}
.num-window-head {
	height: 20px;
	line-height: 20px;
	padding-left: 6px;
	background-color: #edeeed;
	border: 1px solid #ccc;
	i {
		float: right;
		width: 20px;
		height: 20px;
		background: url(../images/alert-close.png);
		cursor: pointer;
	}
}
.num-window-body {
	height: 24px;
	padding: 18px 0;
	text-align: center;
	input {
		width: 100px;
		padding: 2px 6px;
		height: 20px;
		border: 1px solid #ccc;
	}
	//移除type=number时的按钮
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button{
		-webkit-appearance: none !important;
		margin: 0;
	}
}
.num-window-sure {
	width: 40px;
	height: 20px;
	line-height: 20px;
	margin: 0 auto 20px;
	border: 1px solid #1e7cd9;
	color: #fff;
	background-color: #1e7cd9;
	text-align: center;
	cursor: pointer;
	
	&:hover{
		border: 1px solid #ddd;
	}
}
.all-scheme-validate{
	padding: 0 15px;
	span{
		margin-right: 5px;
		width: 20px;
		height: 20px;
		color: red;
		text-align: center;
		line-height: 20px;
		//vertical-align: -2px;
		border: 1px solid red;
		border-radius: 50%;
	}
}

/*微调修改开始时间*/
.edit_start_time_window{
	width: 300px;
	margin: 10px 20px;
	text-align: center;
	span{
		padding: 0 8px;
		background-color: #1e7cd9;
		border: 1px solid #1e7cd9;
		cursor: pointer;
		color: #fff;
		&:hover{
			border-color: #ddd;
		}
	}
}

/*校验开关-临时*/

.check-check-box {
	display: block;
	position: absolute;
	right: 4px;
	top: 4px;
}

/*左键点击小目录*/

.left-click-nav {
	position: fixed;
	z-index: 10;
	padding: 0 10px;
	width: 100px;
	line-height: 30px;
	background: #f5f5f5;
	border: 1px solid $borderColor;
	box-shadow: 3px 3px 10px rgba(0, 0, 0, .3);
	li {
		padding: 0 10px;
		color: #333;
		height: 40px;
		line-height: 40px;
		border-bottom: 1px solid $borderColor;
		&:hover {
			color: $themeColor;
			cursor: pointer;
		}
		&:last-child {
			border-bottom: none;
		}
	}
}

//一级差异化样式
.jIsDifferent{
	opacity: 1 !important;
	cursor: pointer;
}

//一级页面时间控件
.scrollbar{
	position: relative;
	height: 100px;
	.scrollbar-thumb{
		position: absolute;
		top: 42px;
		left: 0;
		height: 14px;
		width: 0;
		background-color: rgba(255,255,255,0.3);
		border-left: 2px solid #a7b7cc;
		border-right: 2px solid #a7b7cc;
	}
	.scrollbar-dateSelect{
		display: flex;
		position: absolute;
		top: calc(190px - 100vh);
		width: 100%;
	}
	.scrollbar-dateSelect-between{
		width: 30px;
		height: 2px;
		margin: 14px 5px;
		background: rgba(255,255,255,0.2);
	}
	
	.quickTime{
		padding: 0 4px;
		margin: 0 4px;
		color: #e5e5e5;
		line-height: 30px;
		cursor: pointer;
	}
	.scrollbar-date-select{
		display: flex;
		width: 160px;
		height: 16px;
		padding: 6px 0;
		border: 1px solid transparent;
		
		.scrollbar-span{
			position: relative;
			flex: 0 0 28px;
			height: 16px;
			border-right: 1px solid transparent;
			cursor: pointer;
		}
		.scrollbar-right-span{
			border-left: 1px solid transparent;
			border-right: none;
		}
		input{
			flex: 0 0 80px;
			width: 80px;
			height: 14px;
			padding: 0 6px;
			margin: 0 5px;
			border: 1px solid transparent;
			background-color: transparent;
			color: #e5e5e5;
		}
		
		&:hover{
			border: 1px solid $scrollbar;
			transition: .2s;
			
			.scrollbar-span{
				border-right: 1px solid $scrollbar;
				transition: .2s;
				
				&:after{
					content: "";
					position: absolute;
					top: 2px;
					left: 12px;
					width: 9px;
					height: 9px;
					border-top: 2px solid rgba(255, 255, 255, 0.6);
					border-left: 2px solid rgba(255, 255, 255, 0.6);
					transform: translateY(0) rotate(-45deg);
					transition: .2s;
				}
			}
			.scrollbar-right-span{
				border-left: 1px solid $scrollbar;
				border-right: none;
				transition: .2s;
				
				&:after{
					left: 6px;
					transform: translateY(0) rotate(135deg);
					transition: .2s;
				}
			}
			input{
				border: 1px solid $scrollbar;
				background-color: $scrollbar;
				color: #fff;
				transition: .2s;
			}
		}
	}
	
	&:after{
		content: "";
		position: absolute;
		left: 0;
		top: 48px;
		width: 100%;
		height: 2px;
		background-color: $scrollbar;
		z-index: -1;
	}
}

//带ID的下拉框样式
.search-item-with-id{
	position: relative;
	width: 234px;
	//text-align: right;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	color: #333;
	&:after{
		content: "";
		position: absolute;
		top: 8px;
		right: 12px;
		width: 8px;
		height: 8px;
		border-bottom: 1px solid #999;
		border-left: 1px solid #999;
		@include rotate(-45deg)
	}
	.drop-down-list{
		display: none;
		position: absolute;
		left: 4px;
		top: 29px;
		z-index: 100;
		width: 140px;
		border: 1px solid #ccc;
		box-sizing: border-box;
		background-color: #fff;
		input{
			width: 105px;
			border: 1px solid #ccc;
			padding-left: 10px;
		}
		ul{
			max-height: 120px;
			overflow: auto;
		}
		li{
			padding: 0 10px;
			width: calc(100% - 20px);
			min-width: 88px;
			line-height: 30px;
			//border-bottom: 1px solid #ccc;
			cursor: pointer;
			&:hover,&.active{
				color: $themeColor
			};
			&:last-child{
				border-bottom: 0;
			}
		}
		.list-li-check{
			color: $themeColor;
		}
	}
	&.active{
		.drop-down-list{
			display: block;
		}
		&:after{
			top: 13px;
			@include rotate(135deg)
		}
		&>input{
			border-color: $themeColor;
		}
		.drop-down-list{
			border-color: $themeColor;
		}
	}
	input:focus{
		border-color: $themeColor;
	}
	.search-item-name{
		width: 70px;
		padding: 0 10px;
		text-align: right;
	}
	.search-input{
//		margin-left: 4px;
		height: 22px;
		width: 100px;
		padding: 3px 28px 3px 10px;
		background-color: #fff;
		border: 1px solid #ccc;
		outline: none;
		font-size: 14px;
	}
}
/*级联xialak*/
.cascader-dialog{
	position: relative;
	width: 234px;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	color: #333;
	.search-item-name{
		width: 70px;
		padding: 0 10px;
		text-align: right;
	}
	.search-input{
		margin-left: 4px;
		height: 22px;
		width: 100px;
		padding: 3px 28px 3px 10px;
		background-color: #fff;
		border: 1px solid #ccc;
		outline: none;
		font-size: 14px;
	}
	.cascader-select-box{
		display: flex;
		box-sizing: border-box;
		position: absolute;
		top: 29px;
		left: 94px;
		border: 1px solid #ccc;
		background-color: #fff;
		z-index: 100;
		ul{
			box-sizing: border-box;
			display: inline-block;
			width: 140px;
			height: 192px;
			padding: 6px 0;
			border-right: 1px solid #ccc;
			overflow: auto;
			li{
				box-sizing: border-box;
				position: relative;
				height: 36px;
				line-height: 1.4;
				padding: 8px 30px 8px 10px;
				white-space: nowrap;
				overflow: hidden;
				input{
					vertical-align: -2px;
				}
				span{
					width: 80px;
  					overflow: hidden;
					text-overflow: ellipsis;
				} 
			}
			.active{
				background-color: #e4e8fe;
			}
			.has-next{
				&:after{
					content: "";
					position: absolute;
					right: 6px;
					top: 10px;
					width: 0;
					height: 0;
					border: 8px solid transparent;
					border-left-color: #ccc; 
				}
			}
			&:last-child{
				border-right: 0;
			}
		}
	}
	&:after{
		content: "";
		position: absolute;
		top: 8px;
		right: 12px;
		width: 8px;
		height: 8px;
		border-bottom: 1px solid #999;
		border-left: 1px solid #999;
		@include rotate(-45deg)
	}
}
