@charset "utf-8";

$themeColor : #1e7cd9;
$whiteColor : #fff;

/* 自动排程信息提示  */
.pbody-wrap {
    .wrap-info {
        position: absolute;
        top: 220px;
        left: 50%;
        width: 450px;
//        margin-left: -225px;
		transform: translate(-50%,0);
        font-size: 13px;
        
        .wrap-btn {
            position: absolute;
            width: 450px;
            height: 30px;
            padding: 10px 0px 20px;
            text-align: center;
            background-color: $whiteColor;
            border-radius: 0px 0px 4px 4px;
        }
        
        .btn-same {
            display: inline-block;
            height: 30px;
            width: 60px;
            line-height: 30px;
            font-size: 14px;
            background-color: #d9d9d9;
            cursor: pointer;
            text-align: center;
            
            &:hover {
                outline: 2px solid #808080;
            }
        }
        
        .current-info {
            position: relative;
            height: 45px;
            line-height: 45px;
            font-size: 16px;
            background-color: #eee;
            border-radius: 4px 4px 0px 0px;
            padding: 0px 20px;
            
            i {
                position: absolute;
                right: 31px;
                top: 12px;
                width: 20px;
                height: 20px;
                line-height: 20px;
                background: url(../images/back.png) 0 0 no-repeat;
                cursor: pointer;
                
                &:hover {
                    background: url(../images/back.png) -20px 0px no-repeat;
                }
            }
        }
        
        ul {
            height: 145px;
            padding: 10px 0px;
            overflow-y: auto;
            background-color: $whiteColor;
            
            li {
                position: relative;
                height: 36px;
                line-height: 36px;
                list-style-type: none;
                
                .click-detail {
                    color: $themeColor;
                }
                
                span {
                    position: absolute;
                    width: auto;
                    height: auto;
                    text-align: left;
                    font-size: 14px;
                    color: #444;
                }
                
                b {
                    display: none;
                    position: absolute;
                    top: 30%;
                    right: 20px;
                    height: 16px;
                    font-size: 14px;
                    line-height: 16px;
                    color: #444;
                    font-weight: normal ;
                    cursor: pointer;
                    
                    &:hover {
                        color: $themeColor;
                    }
                }
                
                i {
                    display: none;
                    position: absolute;
                    top: 30%;
                    left: 35%;
                    width: 16px;
                    height: 16px;
                }
                
                .in-state-icon-success {
                    background: url(../images/finished.png) no-repeat ;
                }
                
                .in-state-icon-fail {
                    background: url(../images/processerror.png) no-repeat ;
                }
            }
            
            .in-mapState {
                left: 5%;
                text-align: center;
            }
            
            .in-state {
                left: 40%;
                width: auto;
            }
            
            .in-alert {
                display: none;
                position: absolute;
                top:12px;
                right: -370px;
                padding-left: 1px;
                width: 350px;
                height: auto;
                max-height: 200px;
                font-size: 12px;
                line-height: 20px;
                color: #444;
                text-align: left;
                overflow: auto;
                background-color: #ddd;
                border: 1px solid #ddd;
                border-radius: 3px;
            }
            
            .in-tri {
                display: none;
                position: absolute;
                top: 14px;
                right: -17.5px;
                width: 0;
                height: 0;
                border-top: 6px solid transparent;
                border-right: 5px solid #ddd;
                border-bottom: 6px solid transparent;
            }
        }
    }
}

.prompt_msg {
    display: none;
    position: absolute;
    padding: 10px 20px;
    min-width: 220px;
    max-width: 300px;
    background-color: $whiteColor;
    border-radius: 4px;
    z-index: 55;
    
    &:before {
        content: "";
        display: block;
        position: absolute;
        left: -8px;
        top: 4px;
        width: 0;
        height: 0;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-right: 8px solid $whiteColor;
    }
    
    i {
        position: absolute;
        width: 16px;
        height: 16px;
        right: 10px;
        top: 10px;
        background: url(../images/alert-close.png) no-repeat;
        cursor: pointer;
    }
}


/* 排程后校验  */
.wrap-alert {
    display: none;
    position: fixed;
    top: 37%;
    left: 50%;
    margin-left: -250px;
    width: 500px;
    padding-bottom: 8px;
    background-color: $whiteColor;
    border-radius: 4px;
    z-index: 25;

    .in-but {
        float: right;
        display: inline-block;
        margin: 15px 20px;
        width: 20px;
        height: 20px;
        background: url(../images/alert-close.png) no-repeat;
        cursor: pointer;
        
        &:hover {
            background-color: #e8e8e8;
        }
    }
    
    h3 {
        width: 480px;
        height: 50px;
        line-height: 50px;
        padding-left: 20px;
        color: #000;
        text-align: left;
        font-size: 16px;
        border-radius: 4px 4px 0 0;
        background-color: #f0f0f0;
    }
    
    ul {
        margin-top: 10px;
        min-height: 65px;
        max-height: 170px;
        width: 500px;
        padding-bottom: 5px;
        overflow: auto;
        
        li {
            position: relative;
            height: 34px;
            line-height: 34px;
            
            span {
                width: auto;
                height: auto;
                text-align: left;
                color: #222;
            }
            
             b {
                position: absolute;
                top: 1%;
                right: 5px;
                width: 50px;
                height: 16px;
                color: $themeColor;
                font-size: 14px;
                font-weight: normal;
                cursor: pointer;
            }
            
            .in-alerts {
                display: none;
                position: absolute;
                right: -315px;
                top: 15px;
                width: 305px;
                min-height: 130px;
                max-height: 280px;
                text-align: left;
                font-size: 12px;
                line-height: 20px;
                color: #333;
                overflow: auto;
                background-color: $whiteColor;
                border-radius: 4px;
                
                .in-alert-head {
                    display: block;
                    width: 305px;
                    height: 35px;
                    line-height:35px;
                    font-size: 14px;
                    background-color:#fafafa;
                    border-radius: 4px 4px 0 0;
                    border-bottom: 1px solid #dedede;
                }
            }
        }
        
        .in-mapStates {
            width: 54px;
            text-align: center;
        }
        
        .in-states {
            width: 220px;
            text-overflow:ellipsis;
            overflow:hidden;
            white-space:nowrap;
            vertical-align: -11px;
        }
        
        .in-true ,.in-infos{
            width: 16px;
            height: 16px;
            vertical-align: middle;
        }
        
        //.in-infos {
        //    width: 150px;
        //}
    }
    
    .check-btn-div {
        height: 36px;
        text-align: right;
        padding: 8px 30px 0px;
        
        .check-confirm {
            margin-right: 20px;
            color: $whiteColor;
            background-color: $themeColor;
            border-color: #2e8ded;
        }
        
        .check-cancel {
            background-color: #f1f1f1;
            color: #333;
        }
    }
    
    .check-btn {
        display: inline-block;
        height: 28px;
        line-height: 28px;
        padding: 0px 15px;
        border-radius: 2px;
        border: 1px solid #dedede;
        text-align: center;
        cursor: pointer;
        
        &:hover {
            opacity: 0.9;
        }
    }
    
    .in-alert-tri {
        position: absolute;
        top: 15px;
        left: 401px;
        display: none;
        width: 0;
        height: 0;
        border-top: 7px solid transparent;
        border-right: 11px solid #fafafa;
        border-bottom: 7px solid transparent;
    }
}

.check_detail_dialog {
    width: 320px;
    padding: 10px 20px;
    max-height: 200px;
    overflow: auto;
}

.class-true {
    background: url(../images/true.png) no-repeat;
}

.class-false {
    background: url(../images/false.png) no-repeat;
}

/* pap提示信息    */
.pap-alert {
    display: none;
    position: fixed;
    top: 37%;
    left: 50%;
    margin-left: -226px;
    width: 450px;
    min-height: 210px;
    max-height: 300px;
    text-align: center;
    background-color: $whiteColor;
    border-radius: 4px;
    z-index: 25;
    
    button {
        float: right;
        display: inline-block;
        width: 22px;
        height: 22px;
        margin: 15px 20px;
        background: url(../images/alert-close.png) no-repeat;
        cursor: pointer;
        &:hover {
            background-color: #e8e8e8;
        }
    }
    
    h3 {
        width: 450px;
        height: 50px;
        line-height: 50px;
        background-color: #f0f0f0;
        color: #000;
        border-radius: 4px 4px 0 0;
        text-align: left;
        font-size: 16px;
        
        span {
            display: inline-block;
            width: 20px;
            height: 20px;
        }
    }
    
    ul {
        margin-top: 10px;
        height: auto;
        width: 450px;
        min-height: 100px;
        max-height:200px ;
        margin-bottom: 10px;
        overflow: auto;
        
        li {
            position: relative;
            height: 34px;
            line-height: 34px;
            
            span {
                position: absolute;
                width: auto;
                height: auto;
                text-align: left;
                color: #222;
            }
            
            .pap-pkid {
                left: 0%;
                margin-left: 20px;
                width: 120px;
            }
            
            .pap-state {
                left: 15%;
                width: 210px;
            }
            
            .in-true {
                left: 45%;
                top: 9px;
                width: 16px;
                height: 16px;
            }
            
            .pap-info {
                left: 51%;
            }
            
            b {
                position: absolute;
                top: 2%;
                right: 5px;
                width: 50px;
                height: 16px;
                color: $themeColor;
                font-size: 14px;
                font-weight: normal;
                cursor: pointer;
            }

        }
    }
    
    
}

/*  开始排程弹框       */
.aps-case {
    min-width: 400px;
    min-height: 360px;
    background-color: $whiteColor;
    border-radius: 4px;
    z-index: 25;
    h3 {
        width: 400px;
        height: 50px;
        line-height: 50px;
        background: #f0f0f0;
        color: #000;
        border-radius: 4px 4px 0 0;
        text-align: left;
        font-size: 16px;
        
        span {
            display: inline-block;
            width: 20px;
            height: 20px;
        }
    }
    
    .in-but {
        float: right;
        display: inline-block;
        width: 20px;
        height: 20px;
        margin: 15px 20px;
        background: url(../images/alert-close.png) no-repeat;
        cursor: pointer;
        
        &:hover {
            background-color: #e8e8e8;
        }
    }
    .aps-case-choose{
        display: flex;
        justify-content: center;
    }
    .case-name {
        line-height: 30px;
    }
    
    .case-header {
        position: relative;
        padding-left: 10px;
        padding-right: 25px;
        width: 235px;
        letter-spacing: -1px;
        line-height: 30px;
        text-align: left;
        border: 1px solid #ccc;
        &:after {
            content: '';
            position: absolute;
            right: 10px;
            top: 8px;
            display:inline-block;
            width:8px;
            height:8px;
            border-bottom: 1px solid #999;
            border-left: 1px solid #999;
            -webkit-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                    transform: rotate(-45deg);
        }
        &:hover {
            border:1px solid $themeColor;
            cursor: pointer;
        }
        .select-name{
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }

    .case-content {
        display: none;
        position: absolute;
        left: -1px;
        top: 30px;
        padding-left: 10px;
        width: calc(100% - 10px);
        max-height: 150px;
        overflow: auto;
        text-align: left;
        background: $whiteColor;
        border: 1px solid $themeColor;
        z-index: 32;
        
        li {
            width: 100%;
            height: 30px;
            line-height: 30px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            &:hover {
                color: $themeColor;
            }
        }
    }

    .select-li {
        display: block;
        border: 1px solid $themeColor;
        cursor: pointer;
    }
    
    .chosen {
        border:1px solid $themeColor;
        cursor: pointer;
    }
    
    .wrap-box {
        max-height:140px;
        overflow: auto;
        .wrap-contents {
            margin: 0 auto;
            width: 340px;
            color: #666;
            border-collapse: collapse;
            text-align: center;
            tr {
                width: 340px;
                height: 28px;
                line-height: 28px;
                
                td {
                    background: #f0f3fa;
                    width: 170px;
                    border: 1px solid #ccc;
                }
            }
        }
    }

    .schedule-detail{
        padding: 0 5px;
        width: 273px;
        height: 100px;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }
    
    .aps-btn {
        margin-top: 20px;
        width: 60px;
        height: 28px;
        text-align: center;
        line-height: 28px;
        color: #333;
        background-color: #d9d9d9;
        border: 2px solid #d9d9d9;
        &:hover {
            border:2px solid #999;
            cursor: pointer;
        }
    }
    
    .aps-confirm {
        left:42%;
    }
    
    .aps-continue {
      left:42%;
    }
}
//.placeholder-span{
//    color: #ccc;
//}