@charset "utf-8";
@import "resetStyle.scss";

$themeColor : #1e7cd9;
$whiteColor : #fff;
/* the part of locationTree common CSS （公共部分）*/
.location-list {
  position: relative;

  ul {
    text-align: left;

    li {
      position: relative;
      margin-top: 20px;
      margin-left: 60px;
      line-height: 30px;
      z-index: 10;

      &:after {
        content: "";
        position: absolute;
        top: 13px;
        left: -33px;
        width: 18px;
        height: 2px;
        background-color: #b3b3b3;
      }
      i {
        position: absolute;
        top: 6px;
        left:-15px;
        width: 16px;
        height: 16px;
        border: 1px solid #ccc;
        background-color: $whiteColor;
        box-sizing: border-box;
        &.select-some {
          background: url(../images/select-some.png) no-repeat ;
          border: none;
        }
        &.active {
          background: url(../images/selected.png) no-repeat $whiteColor;
          border: none;
        }
        &.disabled {
          opacity: .9;
          background-color: #ccc;
        }
      }

      .open-btn {
        position: relative;
        display: inline-block;
        width: 16px;
        height: 16px;
        background-color: #666;
        border-radius: 50%;
        vertical-align: -2px;
        &:after , &:before{
          content: "";
          position: absolute;
          top: 4px;
          left: 7px;
          width: 2px;
          height: 8px;
          background-color: #d9d9d9;
        }
        &:before {
          width: 8px;
          height: 2px;
          top: 7px;
          left: 4px;
        }
      }

      span {
        position: relative;
        z-index: 11;
        min-width: 78px;
        padding: 0 10px;
        height: 30px;
        line-height: 30px;
        background-color: #d9d9d9;
        text-align: center;
        cursor: pointer;
      }

      span.active {
        color: $whiteColor;
        background-color: $themeColor;
        .open-btn {
          background-color: $whiteColor;
          &:after {
            width: 0;
          }
          &:before {
            background-color: $themeColor;
          }
        }
      }
    }

    ul {
      display: none;
    }
  }
  /*针对一级地点*/
  &>ul{
    &>b{
      display: none;
    }
    &>li:after{
      display: none;
    }
  }

  .column-border {
    position: absolute;
    top: 14px;
    left: 27px;
    bottom: 15px;
    content: "";
    width: 2px;
    z-index: 9;
    background-color: #b3b3b3;
  }
}
/* the part of scheduling CSS  (排程部分)  */
.location-preview { margin: 0 50px 0 20px; }
.location-result { margin: 0 55px 0 20px; }
.wrap-preview {
  height: 630px;
  overflow: auto;
}
.wrap-result {
  max-height: 630px;
  overflow: auto;
}
.location-choose {
  position: absolute;
  top: 0;
  left: -100%;
  padding-top: 110px;
  width: auto;
  height: calc(100% - 120px);
  text-align: center;
  background: rgba(0,0,0,0.3);
  transition: left 0.5s;
  @include transition(left ,0.5s);
  z-index:20;
  &.active{
    left: 0;
    @include transition(left ,0.5s);
  }
  .read-show {
    width: calc(100%);
    text-align: center;
    height: calc(100% - 120px);

    h1 {
      position: absolute;
      top: 64px;
      left: 40px;
      font-size: 18px;
      color: $whiteColor;
    }

    .location-title-res {
      left: 0px;
      margin: 0 25px;
      width: 180px;
      text-align: left;
    }

    .ul-box {
      margin-left: 20px;
      margin-right: 50px;
      height: calc(100% + 8px);
      width: calc(100% - 20px);
      text-align: left;
      overflow-y: auto;
      font-size: 14px;
    }

    .location-sure {
      margin: 0 auto;
      width: 90px;
      height: 30px;
      line-height: 30px;
      font-size: 16px;
      color: $whiteColor;
      background-color: $themeColor;
      cursor: pointer;
    }
  }

  .location-btn {
    position: absolute;
    bottom: 10px;
    left:-40px;
    width: 380px;
    height: 50px;
    text-align: center;

    .btn-save {
      position: absolute;
      left: 40%;
      display: inline-block;
      width: 55px;
      height: 24px;
      line-height: 24px;
      color: #333;
      background-color: #d9d9d9;
      cursor: pointer;

      &:hover {
        outline: 2px solid #808080;
      }
    }
  }

  .location-btn-res {
    width: 218px;
    left: 0;
  }
}
.out-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 64px;
  height: 64px;

  .point-click {
    position: absolute;
    right: 20px;
    top: 20px;
    width:24px;
    height:24px;
    color: $whiteColor;
    background: url(../images/aps-icon.png) left 0 top 0 no-repeat;
    background-position: 0 0;
    z-index: 21;
    &.active{
      background-position: -24px 0;
    }
    &:hover {
      cursor: pointer;
    }
  }
}
/*  the part of select scheme  （选择方案部分）  */
.location-scheme-select {
  position:relative;
  margin: -25px 0 10px 16px;
  width: 265px;
  height: 30px;
  line-height: 30px;
  //  border: 1px solid $whiteColor;
  text-align: left;

  &:hover {
    border-color:$themeColor;
    cursor: pointer;
  }

  .select-li {
    display: block;
    border: 1px solid $themeColor;
    cursor: pointer;
  }

  .scheme-select {
    position:relative;
    display: inline-block;
    padding-left: 5px;
    padding-right: 23px;
    margin-left: -8px;
    width: 140px;
    height: 30px;
    letter-spacing: -1px;
    background: $whiteColor;
    border: 1px solid #fff;

    &:after {
      content: "";
      position: absolute;
      top: 8px;
      right: 10px;
      display: inline-block;
      width: 8px;
      height: 8px;
      border-bottom: 1px solid #000;
      border-left: 1px solid #000;
      transform: rotate(-45deg);
    }
  }
}
.location-scheme-option {
  display: none;
  position: absolute;
  top: 139px;
  left: 59px;
  z-index: 99;
  padding-left: 10px;
  width: 159px;
  //	max-height: 150px;
  letter-spacing: -1px;
  text-align: left;
  overflow: auto;
  background:$whiteColor;
  border: 1px solid $themeColor;

  &:hover {
    cursor: pointer;
  }

  li {
    height: 30px;
    line-height: 30px;

    &:hover {
      color: $themeColor;
    }
  }
}