*{
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
	color: #666666;
	outline: none;
	/*box-sizing: border-box;*/
}
html,body{
	min-width: 660px;
	height: 100%;
}
header{
	height: 68px;
	background: linear-gradient(to right,#006696,#72b0bb);
}
header div{
	width: 100%;
	height: 100%;
	background: url(../images/logo.png)  left 30px center  no-repeat;
}
.main{
	height: calc(100% - 108px);
	position: relative;
	padding: 0 10%;
	margin: 20px 0;
	text-align: center;
}
.menu{
	height: 30px;
	margin-bottom: 20px;
}
.menu>input{
	border: #999 1px solid;
    height: 28px;
    width: 184px;
	background: url(../images/calendar-off.png) no-repeat 150px #fff;
}
.menu span{
	display: block;
	float: left;
	height: 24px;
	line-height: 24px;
	margin-right: 20px;
	padding: 2px 6px;
	border: 1px solid #CCCCCC;	
	cursor: pointer;
}
.menu .active{
	color: #FFFFFF;
	background-color: #0071CE;
}
.menu .material-name-box{
	position: relative;
	height: 30px;
	border: none;
	padding: 0;
}
.material-name-box p{
	position: relative;
}
.material-name-box input{	
	padding: 0 10px;
	height: 26px;
	margin: 10px auto;	
}
.material-name-box p:after{
	content: "";
	position: absolute;
	top: 14px;
	right: 24px;
	width: 24px;
	height: 24px;
	background-image: url(../images/start-search.png);
	background-size: 100% 100%;
	
}
.material-name-box div{
	display: none;
	position: absolute;
	left: 0;
	top: 29px;
	width: 212px;
	max-height: 500px;
	border: 1px solid #0071CE;
	background-color: #FFFFFF;
	overflow: auto;
	cursor: default;
	z-index: 50;
}
.material-name-box div li{
	cursor: pointer;
}
.material-name-box div li:hover{
	background-color: #CCCCCC;
}
.menu .material-name-show{
	width: 176px;
	padding: 2px 30px 2px 6px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.material-name-box:after{
	content: "";
	display: block;
	position: absolute;
	top: 8px;
	right: 40px;
	width: 8px;
	height: 8px;
	border-bottom: 2px solid #CCCCCC;
	border-left: 2px solid #CCCCCC;
	transition: transform 0.5s;
	transform: translateY(0) rotate(-45deg);
}
.material-name-active span{
	border: 1px solid #0071CE;
}
.material-name-active:after{
	color: #0071CE;
	border-color: #0071CE;
	transition: transform 0.5s;
	transform: translateY(4px) rotate(135deg);
	-ms-transform: translateY(4px) rotate(135deg);
}
.selectInfo{
	height: 30px;
	margin-bottom: 20px;
	text-align: left;
}
.selectInfo input{
	width: 172px;
	height: 28px;
	padding: 0 6px;
	font-size: 16px;
}
.search{
	display: inline-block;
	width: 58px;
	height: 28px;
	background-color: #1e7cd9;
	border: 1px solid #ccc;
	vertical-align:top;
	text-align: center;
	line-height: 28px;
	color: #fff;
	cursor: pointer;
}
.pbody{
	position: static;
	overflow: auto;	
	height: calc(100% - 100px);
}
table{
	width: 100%;
	margin: 0 auto;
	border: 1px solid #ccc;
	border-collapse: collapse;
	font-size: 14px;
}
tbody tr{
	background-color: #FFFFFF;
}
tbody tr:nth-child(even){
	background-color: #EDEEED;
}
table th{
	border: 1px solid #ccc;
	height: 36px;
	line-height: 36px;
	font-size: 16px;
}
table td{
	border: 1px solid #ccc;
	padding: 4px;
}
.tr-date{
	background-color: #FFFFFF;
}
.tr-materialName{
	background-color: #FFFFFF;
}
table tbody .tr-edeeed{
	background-color: #EDEEED;
}
table tbody .tr-ffffff{
	background-color: #FFFFFF;
}
.cover-head{
	position: absolute;
	top: 100px;
	left: 10%;
	font-size: 16px;
}
.cover-head div{
	float: left;
    height: 100%;
    border: 1px solid #FFFFFF;
    background-color: #CCCCCC;
}
.cover-head div:after{
    display:inline-block;
    content:'';
    height:100%;
    width:0;
    vertical-align:middle;
    text-align:center;
}
