@import 'resetStyle.scss';
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td,a {margin: 0;padding: 0}
body,button,input,select,textarea,a{font:14px/24px  "Microsoft YaHei",Tahoma,Helvetica,Arial,sans-serif;}
h1,h2,h3,h4,h5,h6 {font-size: 100%;font-weight:normal;}
a,span,b,i,em {  display: inline-block;  font-style: normal;}
ul, ol,li {list-style: none; }
a {text-decoration: none;color: #333;outline: 0;}
a, button, input{  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);}
input:-webkit-autofill {-webkit-box-shadow: 0 0 0 1000px white inset;border: 1px solid #CCC!important;}
button,input,select,textarea {font-size: 100%;outline: none;border:none;  }
table {border-collapse: collapse;  border-spacing: 0  }
input::-webkit-input-placeholder {color: #4b4b4b;}
/*=========common.js===========*/
.tl{text-align: left}
.tc {text-align: center;}
.tr{text-align: right;}
.textover{text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
.fl{float: left;}
.fr{float: right;}
.hide{display: none;}
.show{display: block;}
.relative{position: relative;}
.absolute{position: absolute;}
.clearfix:after{content:"";display:block;clear:both;height: 0;overflow: hidden;}
.fs-12{font-size: 12px;}
.fs-14{font-size: 14px;}
.fs-16{font-size: 16px;}
.bold{font-weight: bold;}
.ml--30{margin-left: -30px;}
.ml--15{margin-left: -15px;}
.m-0-auto{margin: 0 auto}
@for $i from 1 through 10 {
  .ml-#{$i*5}{  margin-left: $i*5 + px;  }
  .mr-#{$i*5}{  margin-right: $i*5 + px;  }
  .mt-#{$i*5}{  margin-top: $i*5 + px;  }
  .mb-#{$i*5}{  margin-bottom: $i*5 + px;  }
}
.ml-55{margin-left: 55px;}
.mt-60{margin-top: 60px;}
.mt-80{margin-top: 80px;}


/*常用颜色*/
.c-999{color:#999;}
.c-ccc{color: #ccc;}
.red{color: #f00;}