/*二级页面 */
.table-window{
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: center;
    background-color: #FFF;
    border: 1px solid #CCC;
    box-shadow: 0 0 10px 5px #888;
    z-index: 12;
}

.table-dialog-window{
    margin-left: -550px;
    width: 1100px;
    height: 620px;
    top: 110px;
    left: 50%;
}

.dialog-window-head{
    flex: 0 0 40px;
    line-height: 40px;
    font-size: 16px;
    color: #333333;
    background-color: #EDEEED;
    border: 1px solid #CCC;
}
.dialog-window-head i{
    position: absolute;
    right: 10px;
    float: right;
    padding: 10px;
    width: 20px;
    height: 20px;
    background: url(../images/window-close.png) center center;
    cursor: pointer;
}
.table-window .dialog-window-body{
    flex: 1 1;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
}
.table-window .dialog-window-body.countAll{
    padding-bottom: 59px;
}
.table-dialog-window .info-show {
    position: relative;
    text-align: left;
    padding: 0 175px 0 0;
    margin-bottom: 10px;
    border-bottom: 1px solid #CCC;
}
.table-window .info-show .window-search-box{
    display: inline-block;
    width: 240px;
    height: 50px;
    line-height: 30px;
}
.table-window .info-show .window-search-button,.sure{
    display: inline-block;
    width: 60px;
    height: 28px;
    color:#fff;
    line-height: 28px;
    text-align: center;
    background-color: #1E7CD9;
    border-radius: 3px;
    cursor: pointer;
}
.table-dialog-window .table-sort-show{
    display: inline-block;
    position: relative;
}

.table-dialog-window .set-order,
.table-dialog-window .output-excel,
.table-dialog-window .print-table {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../images/set-order.png) center center no-repeat;
    cursor: pointer;
}

.table-dialog-window .output-excel {
    background-image: url(../images/excel.png);
}

.table-dialog-window .print-table {
    background-image: url(../images/print.png);
}
/*小图标之间的分割线*/
.table-dialog-window .dialog-window-body .split{
    display: inline-block;
    width: 10px;
    height: 20px;
    text-align: center;
    background: url(../images/splitline.png) center center no-repeat;
}
.table-window .info-show .window-search-box input{
    width: 118px;
    height: 22px;
    padding: 3px 10px;
    line-height: 25px;
    border: #DEDEDE 1px solid;
}
.table-window .info-show .window-search-box input:focus{
    border:1px solid #1E7CD9;
}
/*二级页面日期小图标*/
.Wdate {
    background: url(../images/calendar-off.png) no-repeat 115px #fff ;
}
.WdateActive{
    background:url(../images/calendar-on.png) no-repeat 115px #fff ;
}
.table-dialog-window .info-show  .window-search-box .equipment-input{
    width: 103px;
    padding-right: 25px;
    background: #fff url(../images/down.png) no-repeat 118px !important;
    cursor: pointer;
}
.table-window .window-search-box span{
    width: 70px;
    text-align: right;
}
.table-dialog-window .info-show  .equipment-list{
    position: absolute;
    width: 138px;
    max-height: 150px;
    border: 1px solid #CCC;
    background-color: #FFF;
    z-index: 40;
    overflow-y: auto;
}
.table-dialog-window .info-show .equipment-list li{
    height: 20px;
    padding: 2px 4px;
    border-bottom: 1px solid #CCC;
    line-height: 20px;
    cursor: pointer;
}
.table-dialog-window .info-show .equipment-list li:last-child{
    border-bottom: none;
}
.table-dialog-window .info-show .equipment-list .li-selected{
    color: #FFF;
    background-color: #3E7EC3;
}
.table-window .show-table{
    flex: 1 1;
    position: relative;
    width: 100%;
    margin-top: 3px;
}
.table-window .show-table .table-space{
    position: absolute;
    max-height: 100%;
    width: 100%;
    overflow: auto;
}
.table-window .show-table .cover-head{
    position: absolute;
    height: 36px;
    line-height: 36px;
    border: 1px solid #CCC;
}
.table-window .show-table .cover-head div{
    float: left;
    height: 100%;
    border: 1px solid #CCC;
    background-color: #3E7EC3;
    color: #FFF;
}
.table-window .show-table .countall{
    border: none;
    border-left: 1px solid #ccc;
}
.table-window .show-table .countall div{
    background-color: #fff;
    color: #ff9927;
}
.table-window .dialog-window-body .show-table table{
    border-collapse:collapse;
    width: 100%;
}
.table-window .dialog-window-body .show-table table thead{
    width: 100%;
    height: 36px;
}
.table-window .dialog-window-body .show-table table tbody{
    width: 100%;
}
.table-window .dialog-window-body .window-tr-onlook{
    background-color: #FCEFA1;
}
.dialog-window-body .show-table th,.dialog-window-body .show-table td{
    border: 1px solid #CCCCCC;
}
.dialog-window-body .show-table th,.dialog-window-body .show-table .sale-order-look,
.dialog-window-body .show-table th,.dialog-window-body .show-table .sale-order-change{
    margin: 0 5px;
    color: #1E7CD9;
    cursor: pointer;
}
.dialog-window-body .show-table th{
    height: 36px;
    line-height: 36px;
    table-layout: fixed;
}
.dialog-window-body .show-table td{
    height: 30px;
    line-height: 30px;
}
.dialog-window-body .show-table tr:nth-child(even){
    background-color: #EDEEED;
}
.dialog-window-body .show-table input{
    display: none;
}
.dialog-window-body .show-table .check{
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url(../images/unchecked.png);
    cursor: pointer;
}
.dialog-window-body .show-table input:checked + span,
.dialog-window-body .cover-head input:checked + span{
    background:url(../images/selected.png) center #FFF;
    border:1px solid #1E7CD9;
}
.dialog-window-body .move-to-cache{
    width: 60px;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    margin: 20px auto 0;
    padding: 0 4px;
    background-color: #3e7ec3;
    color: #fff;
}
/***多列排序弹窗***/
.countSortTitle {
    padding-left: 20px;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #ccc;
    background-color: #f0f0f0;
}
.countSortTitle span{
    width: 16px;
    height: 16px;
    background: url("../images/alert-close.png") no-repeat;
    cursor: pointer;
}
/*-------新页面==二级页面--------*/
.secondPage .table-dialog-window{
    position: static;
    margin: 50px auto;
    width: 1200px;
    height: 800px;
    box-shadow: none;
}