<div class="ConfigMain" ng-controller="displayFlipController">
    <div class="mt-20 ml-55 relative">
        <dl class="clearfix">
            <dt class="fl">翻转设置 ：</dt>
            <dd class="fl ml-5">
                <label for="flip{{$index}}" class="mr-15" ng-repeat="data in firstPage.flipList">
                    <input id="flip{{$index}}" type="radio" name="flip"  value={{data.valueContent}} ng-checked="selectValue === data.valueContent" ng-model="$parent.selectValue"/><span class="input-radio mr-5"></span>{{data.valueAlias}}
                </label>
            </dd>
        </dl>
    </div>
    <div id="columnWorkshop" class="location-list fl location-show">
        <h6 class="tc mb-5 mt-20">{{"selectWorkShop" | translate}} <span style="color: #808080" class="fs-12">（{{"selectWorkShopTip" | translate}}）</span></h6>
        <ul>
            <li class="all-location">
                <i class="select-status" data-location-id="01"></i>
                <span class="ml-10 active open">
                            <s class="open-btn mr-10"></s>
                            春风车间
                        </span>
                <folder-tree current-folder="folder"></folder-tree>
            </li>
        </ul>
    </div>
    <div class="m-0-auto mt-30 mb-20 tc clearfix" style="margin-right: 300px;">
        <a class="mr-15 save-sort saveCheckConfig" href="javascript:void(0);" ng-click=saveDisplayFlip()>应用</a>
        <!--<a class="ml-15 reset-config" href="javascript:void(0);" ng-click=resetDisplayDays()>还原</a>-->
    </div>
</div>