<div class="config-main online-config">
	<h1 class="config-content-title">{{"adminConfig" | translate}} > {{"onlineConfig" | translate}}</h1>
	<div class="online-content">
		<h3 class="ml-35 mb-20" style="font-size: 18px;font-weight: bold">初始生产状况</h3>
		<cascader cascader-data="location_data" get-selected-location="get_selected_location" on-change="getEquipment()"></cascader>
		<div class="window-search-box">
			<span>离散设备：</span>
			<aps-select class="window-search-box" style="{'width' : '104px'}"
			            ng-model="selectEquipmentTypeZero" multiple="true" placeholder="请选择"
			            on-change="getEquipment()"
			>
				<aps-option ng-repeat="data in equipmentSelectTypeZeroList" value={{data.id}} label={{data.modelName}} title={{data.modelName}}></aps-option>
			</aps-select>
		</div>
		<div class="window-search-box">
			<span>生产单元：</span>
			<aps-select class="window-search-box" style="{'width' : '104px'}"
			            ng-model="selectEquipmentTypeOne" multiple="true" placeholder="请选择"
			            on-change="getEquipment()"
			>
				<aps-option ng-repeat="data in equipmentSelectTypeOneList" value={{data.id}} label={{data.modelName}} title={{data.modelName}}></aps-option>
			</aps-select>
		</div>
		<div class="window-search-box">
			<span>设备名称：</span>
			<aps-select class="window-search-box jPunitName" style="{'width' : '104px'}"
			            ng-model="equipmentSelectList" multiple="true" placeholder="请选择"
			>
				<aps-option ng-repeat="data in equipmentList" value={{data.id}} label={{data.label}} title={{data.label}}></aps-option>
			</aps-select>
		</div>
		<a href="javascript:void(0)" class="ml-35 start-search" ng-click="searchOnlineConfig()">查询</a>
		<div class="mt-20 online-table-box" ng-show="isShowSearchConfig" ng-scroll="fixedTableHead">
			<table class="online-content-table">
				<tbody>
					<tr ng-repeat="data in onlineConfigList">
						<td>{{data.equipmentCode}}</td>
						<td>{{data.equipmentName}}</td>
						<td>
							<aps-select query="'materialCodeParam'" ng-model="data.materialCode" on-change="selectMaterialName(data)" filterable="true">
								<aps-option ng-repeat="data in materialCodeList" label={{data.materialCode}} value={{data.materialCode}}></aps-option>
							</aps-select>
						</td>
						<td>
							<!--<aps-select filterable label="materialName" key="materialName"-->
							            <!--query="'materialNameParam'" ng-model="data.materialName" repeat-data="materialNameList" on-change="selectMaterialCode(data)">-->
							<!--</aps-select>-->
							<aps-select query="'materialNameParam'" ng-model="data.materialName" on-change="selectMaterialCode(data)" filterable="true">
								<aps-option ng-repeat="data in materialNameList" label={{data.materialName}} value={{data.materialName}}></aps-option>
							</aps-select>
						</td>
					</tr>
				</tbody>
				<thead class="table-head">
					<tr>
					<td>设备编码</td>
					<td>设备名称</td>
					<td>生产物料编码</td>
					<td>生产物料名称</td>
				</tr>
				</thead>
			</table>
		</div>
		<div class="m-0-auto mt-20 mb-20 tc clearfix" ng-show="isShowSearchConfig">
			<a href="javascript:;" class="mr-15 save-sort saveConfig" ng-click="saveOnlineConfig()">应用</a>
			<a class="ml-15 reset-config" href="javascript:void(0);" ng-click="resetOnlineConfig()">还原</a>
		</div>
	</div>
</div>