<div class="ConfigMain papRuleContent">
    <h1 class="config-content-title">PAP规则设定</h1>
    <div class="mt-20 ml-55">
        <dl class="clearfix">
            <dt class="fl">微调是否启用PAP规则 ：</dt>
            <dd class="fl ml-5">
                <label ng-repeat="data in papOptionList"><input id="openPap" type="radio" name="papRule" data-valueAlias={{data.valueAlias}} data-valueContent={{data.valueContent}} ng-checked="data.valueContent == papSelectList[0].valueContent" /><span class="column-content-checkbox ml-15 mr-15"></span>{{data.valueAlias}}</label>
            </dd>
        </dl>
    </div>
    <div class="rightLocation location-show" style="position: absolute;top: 50px;right: 100px;">
        <h6 class="tc mb-5">{{"selectWorkShop" | translate}} <span style="color: #808080" class="fs-12">（{{"selectWorkShopTip" | translate}}）</span></h6>
        <div id="columnWorkshop" class="locationList ul-box"></div>
    </div>
    <div style="margin-top: 483px;" class="m-0-auto mt-30 mb-20 tc clearfix">
        <a class="mr-15 save-sort saveCheckConfig" href="javascript:void(0);" ng-click=savePapConfig()>应用</a>
        <a class="ml-15 reset-config" href="javascript:void(0);" ng-click=resetPapConfig()>还原</a>
    </div>
</div>