<div class="ConfigMain sortContent">
    <h1 class="config-content-title">{{"Multi-columnSortConfiguration"| translate}}</h1>
    <div class="fl ml-45">
        <h3 class="mt-15 ml-20 fs-16">排序配置</h3>
        <div id="all-item" class="table-sort-itemList" onselectstart="return false">
            <div class="provide-item">
                <h6 class="sort-title">可用配置项</h6>
                <nav>
                    <ul id="provide-item">
                        <li ng-repeat="data in userConfigData" class="normal mt-5" data-select="option" data-keyname={{data.valueContent.replace(":desc","")}} data-order="up"><div>{{ data.valueAlias }}</div><span ng-class={{data.valueContent.slice(-4)}} class="itemOrder"></span></li>
                    </ul>
                </nav>
            </div>
            <div class="middleBtn">
                <span class="toggleBtn addAllItem"></span>
                <span class="toggleBtn removeAllItem"></span>
            </div>
            <div class="sort-item">
                <h6 class="sort-title">已排序配置项 <span class="order up-order"></span><span class="order down-order"></span></h6>
                <nav>
                    <ul id="sort-item">
                        <li ng-repeat="data in userSelectConfigData" data-select="select" class="normal mt-5" data-keyname={{data.valueContent.replace(":desc","")}} data-order={{data.order}}><div>{{ data.valueAlias }}</div><span ng-class="data.valueContent.slice(-4)" class="itemOrder"></span></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="combine-item">
            <dl class="relative clearfix">
                <dt class="fl">合并项：</dt>
                <dd class="fl combine-menu" ng-class="combineObj.combineActive ? \'active\' : \'\'" ng-mouseleave="combineAndCountall.countObj.combineActive=true;">
                    <p>
                        <span data-value={{data.value}} ng-repeat="data in combineObj.combine" ng-if="data.show">{{data.text}}<b class="ml-15 delete" ng-click="deleteDragItem(data,$event)"></b></span>
                    </p>
                    <ul class="combine-drag">
                        <li data-value={{data.value}} ng-repeat="data in combineObj.combine" ng-show="!data.show" ng-click="addItem(data,$event)">{{data.text}}</li>
                    </ul>
                </dd>
            </dl>
        </div>
        <div class="Summary-item">
            <dl class="ml-20 clearfix">
                <dt class="fl">汇总统计：</dt>
                <dd class="fl combine-menu">
                    <p>
                        <span data-value={{data.value}} ng-repeat="data in summaryObj.summary" ng-if="data.show">{{data.text}}<b class="ml-15 delete" ng-click="deleteDragItem(data,$event)"></b></span>
                    </p>
                    <ul class="combine-drag">
                        <li data-value={{data.value}} ng-repeat="data in summaryObj.summary" ng-show="!data.show" ng-click="addItem(data,$event)">{{data.text}}</li>
                    </ul>
                </dd>
            </dl>
        </div>
        <div class="m-0-auto mt-30 mb-20 ml--30 tc clearfix">
            <a href="javascript:;" class="mr-15 save-sort saveConfig" ng-click="saveSortContent()">应用</a>
            <a class="ml-15 reset-config" href="javascript:void(0);" ng-click="resetSortConfig()">还原</a>
        </div>
    </div>
    <div class="fl rightLocation location-show" style="position: absolute;top: 50px;right: 100px;">
        <h6 class="tc mb-5">{{"selectWorkShop" | translate}} <span style="color: #808080" class="fs-12">（{{"selectWorkShopTip" | translate}}）</span></h6>
        <div id="columnWorkshop" class="locationList ul-box"></div>
    </div>
</div>