@import "../resetStyle.scss";
.left-nav{
    min-height: 100%;
    background-color: #333744;
    .left-nav-title a{
        width: 100%;
        height: 50px;
        line-height: 50px;
        text-align: center;
        font-size: 16px;
        color: #fff;
        background-color: #50566c;
    }
    li {
        a{
            width: 100%;
            height: 60px;
            line-height: 60px;
            color: #fff;
            font-size: 14px;
            text-align: center;
            cursor: pointer;
        }
        &:hover a{
            background-color: #42485b;
        }
        &.active a{
            color: #e5e5e5;
            background-color: #5d6a92;
        }
    }
    &.left-nav-expand{
        flex: 0 0 200px;
    }
    &.left-nav-collapse{
        flex: 0 0 50px;
    }
}
.left-nav-icon{
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: 20px;
    vertical-align: -6px;
    //回到首页
    &.icon-index{
        background-image: url($gImgBase + "index.png");
    }
    //预测设备利用率
    &.icon-predict{
        background-image: url($gImgBase + "predict.png");
    }
    //重排原因分析
    &.icon-re-schedule{
        background-image: url($gImgBase + "re-schedule.png");
    }
    //计划进度
    &.icon-plan-rate{
        height: 26px;
        background-image: url($gImgBase + "planRate.png");
    }
    //交期答复
    &.icon-delivery-reply{
        background-image: url($gImgBase + "deliveryReply.png");
    }
    //缺料预警
    &.icon-material-warning{
        background-image: url($gImgBase + "material-warning.png");
    }
    //自制件库存
    &.icon-stock-analysis{
        background-image: url($gImgBase + "stock-analysis.png");
    }
}
.toggle-expand-box{
    flex: 0 1 auto;
    display: flex;
    height: 100%;
    align-items: center;
    background-color: #eaedf1;
}
.toggle-expand-btn{
    width: 12px;
    height: 79px;
    background:url($gImgBase + "expand.png") no-repeat;
    cursor: pointer;
    &.collapse{
        background-position: 0 -79px ;
    }
    &.expand{
        background-position: -12px 0 ;
    }
}
