/*二级页面显示项*/
.display-combine{
    display: flex;
    flex-direction: column;
}
.display-combine-line{
    display: flex;
    align-items: center;
}
.display-content .check-rule-nav li:first-child:hover{
    background-color: #f0f3fa;
}
.config-tab{
    width: 100%;
    ul{
        display: flex;
    }
    li{
        margin-top: 10px;
        margin-left: 20px;
        background-color: #ccc;
        border:1px solid #ccc;
        &.active{
            background-color: #1E7CD9;
            border: 1px solid #1E7CD9;
        }
        &:first-child{
            margin-left: 65px;
        }
        //height: 45px;
        //line-height: 45px;
    }
}