@import '../resetStyle.scss';
$borderColor : #dedede;

.rule-content{
    flex: auto;
}
.rule-name {
    border-bottom: 1px solid $borderColor;
    input{
        padding-left: 20px;
        width: 100%;
        line-height: 45px;
        font-size: 20px;
        border: none;
        background-color: transparent;
        box-sizing: border-box;
        &:hover{
            text-decoration: underline;
        }
    }
}

.config-form{
    box-sizing: border-box;
    padding: 0 50px 60px 50px;
    height: calc(100% - 130px);
    overflow: auto;
}

.algorithm-name{width: 110px;}

.config-box .checkContent dt {
    min-width: 170px;
    text-align: right;
    margin-right: 5px;
}

.config-box .config-select-box {
    padding-left: 5px;
    height: 28px;
    width: 133px;
    line-height: 28px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
    &:hover {
        border: 1px solid $themeColor;
    }
    &:after {
        content: "";
        position: absolute;
        top: 6px;
        right: 12px;
        width: 8px;
        height: 8px;
        border-bottom: 1px solid #999;
        border-left: 1px solid #999;
        -ms-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
}

.config-box .config-form input[type=text] {
    display: inline-block;
    padding-left: 5px;
    width: 133px;
    height: 28px;
    line-height: 24px;
    border: 1px solid #d9d9d9;
    &.error {
        border: 1px solid red;
    }
    &:focus {
        border: 1px solid $themeColor;
    }
    label {
        display: inline-block;
        min-width: 100px;
    }
}

.config-box .info {
    font-size: 12px;
    color: #aaa;
    margin-left: 15px;
}

.config-box .scheduleCheck {
    display: flex;
    width: 100%;
    dd{
        display: flex;
        flex-wrap: wrap;
    }
    label {
        min-width: 200px;
        &:nth-child(4n+1) {
            text-align: left;
        }
    }
}

.config-box .scheduleDrag {
    display: none;
    position: absolute;
    top: 28px;
    left: -1px;
    background-color: #fff;
    border: 1px solid $themeColor;
    z-index: 10;
    li {
        padding: 0 5px;
        width: 128px;
        min-width: 88px;
        height: 30px;
        line-height: 30px;
        cursor: pointer;
        &:hover,&.active{
            color: $themeColor;
        }
    }
    &.draw {
        display: block;
    }
}

.config-box dd.disabled {
    color: #808080;
    background-color: #ecf0f1;
    .scheduleDrag {
        display: none;
    }
    &:hover {
        border: 1px solid #d9d9d9;
    }
}

.config-box dd.not-edit {
    cursor: not-allowed;
}

.config-box .checkConfig {
    padding: 30px 0 0 100px;
}

.config-setting ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 400px;;
}
/*排程规则-排程因子权重*/
.schedule-weight-map {
    h6 {
        min-width: 170px;
    }
    b {
        font-weight: normal;
        color: #f00;
        height: 14px;
        line-height: 14px;
    }
    .weight-map-box {
        display: flex;
        flex-wrap: wrap;
        span{
            width: 230px;
            height: 55px;
        }
    }
}

input.disabled{
    background-color: #ecf0f1;
    cursor: not-allowed;
}
.show-advanced-configuration{
    position: relative;
    color: #0490f1;
    cursor: pointer;
    z-index: 1000;
    &:after,&:before{
        content: "";
        position: absolute;
        top: 9px;
        right: -12px;
        width: 5px;
        height: 5px;
        border-left: 1px solid #0490f1;
        border-top: 1px solid #0490f1;
        @include rotate(45deg);
    }
    &:after{
        top: 13px;
    }
    &.reverse{
        &:after,&:before{
            top: 10px;
            @include rotate(-135deg);
        }
        &:before{
            top: 5px;
        }
    }
}
/*高级设置分割线*/
.checkR-rule-line{
    border-top: 1px solid #ccc;
}

.look-online-config{
    text-decoration: underline;
    &:hover{
        color: $themeColor;
    }
}