@import "../resetStyle.scss";

/*级联下拉框-已选内容展示区*/
.aps-cascader{
	position: relative;
	
	.aps-cascader-main{
		position: relative;
		cursor: pointer;
		
		.aps-cascader-input{
			box-sizing: border-box;
			width: 180px;
			height: 30px;
			padding: 3px 35px 3px 10px;
			border: 1px solid $borderColor;
			border-radius: 4px;
			color: $fontColor;
			overflow: hidden;
			cursor: inherit;
			text-overflow: ellipsis;
			white-space: nowrap;
			transition: border-color .5s;

			&:hover{
				border-color: $hoverBorderColor;
			}
			&:focus{
				border-color: $themeColor;
			}
		}
		
		&:after{
			content: '';
			position: absolute;
			top: 13px;
			right: 12px;
			border: 7px solid transparent;
			border-color: transparent;
			border-top-color: $borderColor;
			border-radius: 1px;
			transition: transform .3s;
			transform-origin:50% 20%;
		}
	}
}

.cascader-avtive{
	.aps-cascader-main{
		&:after{
			transition: transform .3s;
			transform: rotate(180deg);
			transform-origin:50% 20%;
		}
	}
}

/*级联下拉框-下拉弹窗*/
.aps-cascader-menus{
	box-sizing: border-box;
	position: absolute;
	display: flex;
	top: 40px;
	left: 0;
	min-width: 140px;
	border: 1px solid $dropDownBorderColor;
	border-radius: 2px;
	box-shadow: 0 2px 4px rgba(0,0,0,.12), 0 0 6px rgba(0,0,0,.04);
	background-color: #ffffff;
	z-index: 2000;
	overflow: hidden;
	animation: .2s slideIn;
	animation-fill-mode: forwards;
	
	.aps-cascader-placeholder{
		flex: 0 0 140px;
		line-height: 258px;
		text-align: center;
		color: #666;
	}
	ul{
		box-sizing: border-box;
		width: 140px;
		height: 258px;
		padding: 6px 0;
		overflow-y: auto;
		
		li{
			box-sizing: border-box;
			position: relative;
			height: 30px;
			line-height: 30px;
			padding: 2px 30px 2px 2px;
			cursor: pointer;
			
			label{
				display: flex;
				height: 26px;
				width: 100%;
				cursor: inherit;
				
				i{
					flex: 0 0 12px;
					height: 12px;
					align-self: center;
					background: url($gImgBase + "cascader-state.png") #fff left center no-repeat;
				}
				.select-some{
					background-position-x: -12px; 
				}
				.select-no{
					background-position-x: -24px; 
				}
				input{
					height: 26px;
					display: none;
					cursor: inherit;
				}
				span{
					line-height: 26px;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					cursor: inherit;
				}
			}
			
			&:hover{
				background-color: $liHoverColor
			}
		}
		
		.cascader-li-disabled{
			color: #bfcbd9;
			cursor: not-allowed;
			
			&:hover{
				background-color: #ffffff;
			}
		}
		
		.cascader-li-haschild{
			&:after{
				content: "";
				position: absolute;
				top: 8px;
				right: 4px;
				width: 0;
				height: 0px;
				border: 7px solid transparent;
				border-left-color: #bfcbd9;
			}
		}
		
		.cascader-li-expansion{
			color: #ffffff;
			background-color: #20a0ff;
			
			&:hover{
				background-color: #1c8de0;
			}
		}
	}
}