<div class="display-content clearfix">
    <h1 class="config-content-title"><span>{{"showConfiguration" | translate}}</span> > <span>{{"WorkArea" | translate}}</span> > <span>{{firstPage.title}}</span></h1>
    <div class="flex">
        <nav class="check-rule-nav">
            <ul style="height: 746px;">
                <li class="rule-li active" ui-sref="config.workArea.displayCombine"><span>显示合并项</span></li>
                <li class="rule-li" ui-sref="config.workArea.displayFlip"><span>显示翻转</span></li>
            </ul>
        </nav>
        <div ui-view="" class="config-main columnContent"></div>
    </div>
</div>
