<div class="config-main columnContent">
    <nav class="config-tab">
        <ul class="flex">
            <li ng-class="cacheRoomDimension === 'planDimension' ? 'active' : ''" class="sure" ng-click="cacheRoomDimension = 'planDimension'">计划维度</li>
            <li ng-class="cacheRoomDimension === 'orderDimension' ? 'active' : ''" class="sure" ng-click="cacheRoomDimension = 'orderDimension'">订单维度</li>
        </ul>
    </nav>
    <div class="ml-45 relative" ng-switch="cacheRoomDimension">
        <div ng-switch-when="planDimension">
            <h6 class="mt-15 ml-20 fs-16">暂存区（计划维度）显示项配置(当前地点：{{currentShowLocationName}}) </h6>
            <transfer class="mt-20" data="allItemList" value="selectItem"></transfer>
        </div>
        <div ng-switch-when="orderDimension">
            <h6 class="mt-15 ml-20 fs-16">暂存区（订单维度）显示项配置(当前地点：{{currentShowLocationName}}) </h6>
            <transfer class="mt-20" data="allItemList" value="selectItem"></transfer>
        </div>
        <div  class="m-0-auto mt-80 mb-20 tc clearfix">
            <a href="javascript:;" class="mr-15 save-sort saveConfig" ng-click="saveCacheRoom()">应用</a>
            <a href="javascript:;" class="mr-15 reset-config" ng-click="resetCacheRoom()">还原</a>
        </div>
    </div>
</div>