<div class="display-content clearfix">
    <h1 class="config-content-title"><span>{{"showConfiguration" | translate}}</span><span>>{{"WorkMenu" | translate}}</span> > <span>{{functionPage.showPageConfig}}</span></h1>
    <!--<h1 class="config-content-title">{{"Multi-columnSortConfiguration"| translate}}</h1>-->
    <nav class="fl check-rule-nav">
        <ul style="height: 746px;">
            <li class="rule-li active" ui-sref="config.workMenu.task"><span>任务池显示项</span></li>
            <li class="rule-li" ui-sref="config.workMenu.cache"><span>暂存间显示项</span></li>
        </ul>
    </nav>
    <div ui-view style="width: 932px;" class="fl config-main columnContent">
    </div>
</div>
