<div class="config-main columnContent">
    <nav class="config-tab">
        <ul>
            <li ng-class="taskRoomDimension === 'planDimension' ? 'active' : ''" class="sure" ng-click="taskRoomDimension = 'planDimension'">计划维度</li>
            <li ng-class="taskRoomDimension === 'orderDimension' ? 'active' : ''" class="sure" ng-click="taskRoomDimension = 'orderDimension'">订单维度</li>
        </ul>
    </nav>
    <div class="ml-45 relative" ng-switch="taskRoomDimension">
        <div ng-switch-when="planDimension">
            <h6 class="mt-15 ml-20 fs-16">任务池（计划维度）显示项配置(当前地点：{{currentShowLocationName}}) </h6>
            <transfer class="mt-20" data="allItemList" value="selectItem"></transfer>
        </div>
        <div ng-switch-when="orderDimension">
            <h6 class="mt-15 ml-20 fs-16">任务池（订单维度）显示项配置(当前地点：{{currentShowLocationName}}) </h6>
            <transfer class="mt-20" data="allItemList" value="selectItem"></transfer>
        </div>
        <div class="m-0-auto mt-80 mb-20 tc clearfix">
            <a href="javascript:;" class="mr-15 save-sort saveConfig" ng-click="saveTaskColumn()">应用</a>
            <a href="javascript:;" class="mr-15 reset-config" ng-click="resetTaskColumn()">还原</a>
        </div>
    </div>
</div>