@import "resetStyle.scss";
@import "header/header.scss";
@import "leftNav/leftNav.scss";
@import "cascader/cascader.scss";
@import "dropdown/dropdown.scss";

#app{
    height: 100%;
  background:url($gImgBase + 'wanfeng-background.jpg') no-repeat;
    //:before{
    //  content: "";
    //  display: table;
    //}
}
.container{
  padding: 0 15px;
}
.wrap{
  margin: 0 auto;
  width: 1200px;
}

#app{
  height: 100%;
}
.mes-container{
  display: flex;
  height: calc(100% - 68px);
}
.left-nav{
  flex: 0 0 240px;
  width: 240px;
  height: 100%;
  background-color: #333744;
  li{
    height: 60px;
    line-height: 60px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    background-color: #42485b;
    cursor: pointer;
  }
}
.left-nav-title{
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 18px;
  color: #fff;
  background-color: #50566c;
}
.right-content{
  flex: 1 0 calc(100% - 280px);
  padding: 20px;
  background-color: #eaedf1;
  .el-breadcrumb{
    font-size: 16px;
  }
}
//根据不同分别率展示不同的内容宽度
@media (min-width: 300px) and (max-width: 1200px) {
    .query-conditions{
        width: 100px;
    }
}
//退出按钮
.sign-out{
    margin-right: 30px;
    display: none;
    color: #fff;
    align-self: center;
}
//确定按钮默认样式
.default-btn{
  padding:0 20px;
  min-width: 70px;
  height: 30px;
  line-height: 30px;
  color: #fff;
  border-radius: 4px;
  background-color: $themeColor;
  box-sizing: border-box;
}
//加号按钮
.added{
  position: relative;
  width: 16px;
  height: 16px;
  border: 1px solid $themeColor;
  border-radius: 50%;
  vertical-align: text-bottom;
  cursor: pointer;
  &:hover{
    border-color: lighten($themeColor, 10%);;
  }
  &:after,&:before{
    content: "";
    position: absolute;
    top: 7px;
    left: 4px;
    width: 8px;
    height: 2px;
    background-color: $themeColor;
  }
  &:before{
    top: 4px;
    left: 7px;
    width: 2px;
    height: 8px;
  }
}
//===========下拉列表===========
.drag-down-box{
  position: relative;
  .drag-down-text{
    position: absolute;
    box-sizing: border-box;
    padding:0 30px 0 8px;
    width: 160px;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  input{
    padding-left: 10px;
    width: 168px;
    height: 28px;
    color: #333;
    border: 1px solid $borderColor;
    transition: border-color .5s;
    &:hover{
      border-color: $hoverBorderColor;
    }
    &:focus{
      border-color: $themeColor;
    }
  }
  &.is-opened input,input:focus{
    border-color: $themeColor;
    transition: border-color .5s;
  }
  .drag-down-icon{
    position: absolute;
    top: 50%;
    right: 4px;
    width: 15px;
    height: 10px;
    transform: translateY(-50%) rotate(0deg);
    transition: transform .5s;
    transform-origin: 50% 50%;
    &:after{
      content: "";
      position: absolute;
      top: 2px;
      right: 6px;
      width: 9px;
      height: 9px;
      border-top:1px solid $borderColor;
      border-left: 1px solid $borderColor;
      transform: rotate(45deg);
      transform-origin: 50% 50%;
      //border-left: 10px solid transparent;
      //border-right: 10px solid transparent;
      //border-top: 10px solid #ccc;
      //border-radius: 4px;
    }
  }
  &.is-opened .drag-down-icon{
    //top: 7px;
    //right: 5px;
    transform: translateY(-50%) rotate(180deg);
    transition: transform .5s;
  }
}
.drag-down-list{
  position: fixed;
  top: 295px;
  left: 600px;
  z-index: 10;
  padding: 6px 0;
  width: 180px;
  height: 172px;
  background-color: #fff;
  overflow: auto;
  box-sizing: border-box;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0,0,0,.12), 0 0 6px rgba(0,0,0,.04);
  .drag-down-li{
    padding: 8px;
    width: 100%;
    height: 36px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
    &:hover,&.active{
      background-color: #e4e8f1;
      cursor: pointer;
    }
  }
}
.input-checkbox{
  display: flex;
  align-items: center;
  cursor: pointer;
  input{display: none;}
  span{
    position: relative;
    display: inline-block;
    margin-right: 5px;
    width: 16px;
    height: 16px;
    border: 1px solid #bfcbd9;
    //border-radius: 4px;
    box-sizing: border-box;
    transition: border-color .25s cubic-bezier(.71,-.46,.29,1.46),background-color .25s cubic-bezier(.71,-.46,.29,1.46);
    &:after{
      content: "";
      position: absolute;
      top: 1px;
      left: 5px;
      width: 3px;
      height: 7px;
      border: 2px solid $themeColor;
      border-left: none;
      border-top: none;
      transform: rotate(45deg) scaleY(0);;
      transition: transform .15s cubic-bezier(.71,-.46,.88,.6) .05s;
    }
  }
  input:checked + span{
    border: 1px solid $themeColor;
    transition: border-color .25s cubic-bezier(.71,-.46,.29,1.46),background-color .25s cubic-bezier(.71,-.46,.29,1.46);
    &:after{
      transform: rotate(45deg) scaleY(1);
      transition: transform .15s cubic-bezier(.71,-.46,.88,.6) .05s;
    }
  }
}
//=======日期选择器
.time-condition{
    input {
        height: 30px;
    }
    .el-input__icon{
        right: 10px;
    }
    .el-icon-date{
        right: 3px;
        background: url($gImgBase + "calendar.png") no-repeat 0 7px;
        &:before{
            content: "";
        }
    }
    .el-date-editor.el-input{
        width: 180px;
    }
}
//时间选择
.quick-time-condition{
  margin: 0 15px;
  line-height: 30px;
  &.active{
    color: $themeColor;
  }
}

//搜索框样式统一
.el-input__inner{
  width: 180px;
  height: 30px;
}
//查询条件筛选
.query-conditions-list{
  display: flex;
  flex-wrap: wrap;
}
.query-conditions{
  flex :0 1 265px;
  display: inline-block;
}

//=============table表格===============
.compare-equipment{
    width: 100%;
    thead{
        background-color: $themeColor;
        color: #fff;
        th{
            font-weight: normal;
        }
    }
    tbody{
        tr:nth-child(even){
            background-color: $titleBgColor;
        }
    }
    th,td{
        text-align: center;
        min-width: 60px;
        border: 1px solid $borderColor;
    }
}
